<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.CollationCharacterSetApplicabilityMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.CollationCharacterSetApplicability">
    <result column="collation_catalog" jdbcType="DISTINCT" property="collationCatalog" />
    <result column="collation_schema" jdbcType="DISTINCT" property="collationSchema" />
    <result column="collation_name" jdbcType="DISTINCT" property="collationName" />
    <result column="character_set_catalog" jdbcType="DISTINCT" property="characterSetCatalog" />
    <result column="character_set_schema" jdbcType="DISTINCT" property="characterSetSchema" />
    <result column="character_set_name" jdbcType="DISTINCT" property="characterSetName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    collation_catalog, collation_schema, collation_name, character_set_catalog, character_set_schema, 
    character_set_name
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.CollationCharacterSetApplicabilityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from collation_character_set_applicability
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.CollationCharacterSetApplicabilityExample">
    delete from collation_character_set_applicability
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.CollationCharacterSetApplicability">
    insert into collation_character_set_applicability (collation_catalog, collation_schema, 
      collation_name, character_set_catalog, character_set_schema, 
      character_set_name)
    values (#{collationCatalog,jdbcType=DISTINCT}, #{collationSchema,jdbcType=DISTINCT}, 
      #{collationName,jdbcType=DISTINCT}, #{characterSetCatalog,jdbcType=DISTINCT}, #{characterSetSchema,jdbcType=DISTINCT}, 
      #{characterSetName,jdbcType=DISTINCT})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.CollationCharacterSetApplicability">
    insert into collation_character_set_applicability
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collationCatalog != null">
        collation_catalog,
      </if>
      <if test="collationSchema != null">
        collation_schema,
      </if>
      <if test="collationName != null">
        collation_name,
      </if>
      <if test="characterSetCatalog != null">
        character_set_catalog,
      </if>
      <if test="characterSetSchema != null">
        character_set_schema,
      </if>
      <if test="characterSetName != null">
        character_set_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collationCatalog != null">
        #{collationCatalog,jdbcType=DISTINCT},
      </if>
      <if test="collationSchema != null">
        #{collationSchema,jdbcType=DISTINCT},
      </if>
      <if test="collationName != null">
        #{collationName,jdbcType=DISTINCT},
      </if>
      <if test="characterSetCatalog != null">
        #{characterSetCatalog,jdbcType=DISTINCT},
      </if>
      <if test="characterSetSchema != null">
        #{characterSetSchema,jdbcType=DISTINCT},
      </if>
      <if test="characterSetName != null">
        #{characterSetName,jdbcType=DISTINCT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.CollationCharacterSetApplicabilityExample" resultType="java.lang.Long">
    select count(*) from collation_character_set_applicability
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update collation_character_set_applicability
    <set>
      <if test="row.collationCatalog != null">
        collation_catalog = #{row.collationCatalog,jdbcType=DISTINCT},
      </if>
      <if test="row.collationSchema != null">
        collation_schema = #{row.collationSchema,jdbcType=DISTINCT},
      </if>
      <if test="row.collationName != null">
        collation_name = #{row.collationName,jdbcType=DISTINCT},
      </if>
      <if test="row.characterSetCatalog != null">
        character_set_catalog = #{row.characterSetCatalog,jdbcType=DISTINCT},
      </if>
      <if test="row.characterSetSchema != null">
        character_set_schema = #{row.characterSetSchema,jdbcType=DISTINCT},
      </if>
      <if test="row.characterSetName != null">
        character_set_name = #{row.characterSetName,jdbcType=DISTINCT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update collation_character_set_applicability
    set collation_catalog = #{row.collationCatalog,jdbcType=DISTINCT},
      collation_schema = #{row.collationSchema,jdbcType=DISTINCT},
      collation_name = #{row.collationName,jdbcType=DISTINCT},
      character_set_catalog = #{row.characterSetCatalog,jdbcType=DISTINCT},
      character_set_schema = #{row.characterSetSchema,jdbcType=DISTINCT},
      character_set_name = #{row.characterSetName,jdbcType=DISTINCT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>