<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.DomainConstraintsMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.DomainConstraints">
    <result column="constraint_catalog" jdbcType="DISTINCT" property="constraintCatalog" />
    <result column="constraint_schema" jdbcType="DISTINCT" property="constraintSchema" />
    <result column="constraint_name" jdbcType="DISTINCT" property="constraintName" />
    <result column="domain_catalog" jdbcType="DISTINCT" property="domainCatalog" />
    <result column="domain_schema" jdbcType="DISTINCT" property="domainSchema" />
    <result column="domain_name" jdbcType="DISTINCT" property="domainName" />
    <result column="is_deferrable" jdbcType="DISTINCT" property="isDeferrable" />
    <result column="initially_deferred" jdbcType="DISTINCT" property="initiallyDeferred" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    constraint_catalog, constraint_schema, constraint_name, domain_catalog, domain_schema, 
    domain_name, is_deferrable, initially_deferred
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.DomainConstraintsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from domain_constraints
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.DomainConstraintsExample">
    delete from domain_constraints
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.DomainConstraints">
    insert into domain_constraints (constraint_catalog, constraint_schema, 
      constraint_name, domain_catalog, domain_schema, 
      domain_name, is_deferrable, initially_deferred
      )
    values (#{constraintCatalog,jdbcType=DISTINCT}, #{constraintSchema,jdbcType=DISTINCT}, 
      #{constraintName,jdbcType=DISTINCT}, #{domainCatalog,jdbcType=DISTINCT}, #{domainSchema,jdbcType=DISTINCT}, 
      #{domainName,jdbcType=DISTINCT}, #{isDeferrable,jdbcType=DISTINCT}, #{initiallyDeferred,jdbcType=DISTINCT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.DomainConstraints">
    insert into domain_constraints
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="constraintCatalog != null">
        constraint_catalog,
      </if>
      <if test="constraintSchema != null">
        constraint_schema,
      </if>
      <if test="constraintName != null">
        constraint_name,
      </if>
      <if test="domainCatalog != null">
        domain_catalog,
      </if>
      <if test="domainSchema != null">
        domain_schema,
      </if>
      <if test="domainName != null">
        domain_name,
      </if>
      <if test="isDeferrable != null">
        is_deferrable,
      </if>
      <if test="initiallyDeferred != null">
        initially_deferred,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="constraintCatalog != null">
        #{constraintCatalog,jdbcType=DISTINCT},
      </if>
      <if test="constraintSchema != null">
        #{constraintSchema,jdbcType=DISTINCT},
      </if>
      <if test="constraintName != null">
        #{constraintName,jdbcType=DISTINCT},
      </if>
      <if test="domainCatalog != null">
        #{domainCatalog,jdbcType=DISTINCT},
      </if>
      <if test="domainSchema != null">
        #{domainSchema,jdbcType=DISTINCT},
      </if>
      <if test="domainName != null">
        #{domainName,jdbcType=DISTINCT},
      </if>
      <if test="isDeferrable != null">
        #{isDeferrable,jdbcType=DISTINCT},
      </if>
      <if test="initiallyDeferred != null">
        #{initiallyDeferred,jdbcType=DISTINCT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.DomainConstraintsExample" resultType="java.lang.Long">
    select count(*) from domain_constraints
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update domain_constraints
    <set>
      <if test="row.constraintCatalog != null">
        constraint_catalog = #{row.constraintCatalog,jdbcType=DISTINCT},
      </if>
      <if test="row.constraintSchema != null">
        constraint_schema = #{row.constraintSchema,jdbcType=DISTINCT},
      </if>
      <if test="row.constraintName != null">
        constraint_name = #{row.constraintName,jdbcType=DISTINCT},
      </if>
      <if test="row.domainCatalog != null">
        domain_catalog = #{row.domainCatalog,jdbcType=DISTINCT},
      </if>
      <if test="row.domainSchema != null">
        domain_schema = #{row.domainSchema,jdbcType=DISTINCT},
      </if>
      <if test="row.domainName != null">
        domain_name = #{row.domainName,jdbcType=DISTINCT},
      </if>
      <if test="row.isDeferrable != null">
        is_deferrable = #{row.isDeferrable,jdbcType=DISTINCT},
      </if>
      <if test="row.initiallyDeferred != null">
        initially_deferred = #{row.initiallyDeferred,jdbcType=DISTINCT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update domain_constraints
    set constraint_catalog = #{row.constraintCatalog,jdbcType=DISTINCT},
      constraint_schema = #{row.constraintSchema,jdbcType=DISTINCT},
      constraint_name = #{row.constraintName,jdbcType=DISTINCT},
      domain_catalog = #{row.domainCatalog,jdbcType=DISTINCT},
      domain_schema = #{row.domainSchema,jdbcType=DISTINCT},
      domain_name = #{row.domainName,jdbcType=DISTINCT},
      is_deferrable = #{row.isDeferrable,jdbcType=DISTINCT},
      initially_deferred = #{row.initiallyDeferred,jdbcType=DISTINCT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>