<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgAggregateMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgAggregate">
    <id column="aggfnoid" jdbcType="OTHER" property="aggfnoid" />
    <result column="aggkind" jdbcType="CHAR" property="aggkind" />
    <result column="aggnumdirectargs" jdbcType="SMALLINT" property="aggnumdirectargs" />
    <result column="aggtransfn" jdbcType="OTHER" property="aggtransfn" />
    <result column="aggfinalfn" jdbcType="OTHER" property="aggfinalfn" />
    <result column="aggcombinefn" jdbcType="OTHER" property="aggcombinefn" />
    <result column="aggserialfn" jdbcType="OTHER" property="aggserialfn" />
    <result column="aggdeserialfn" jdbcType="OTHER" property="aggdeserialfn" />
    <result column="aggmtransfn" jdbcType="OTHER" property="aggmtransfn" />
    <result column="aggminvtransfn" jdbcType="OTHER" property="aggminvtransfn" />
    <result column="aggmfinalfn" jdbcType="OTHER" property="aggmfinalfn" />
    <result column="aggfinalextra" jdbcType="BIT" property="aggfinalextra" />
    <result column="aggmfinalextra" jdbcType="BIT" property="aggmfinalextra" />
    <result column="aggfinalmodify" jdbcType="CHAR" property="aggfinalmodify" />
    <result column="aggmfinalmodify" jdbcType="CHAR" property="aggmfinalmodify" />
    <result column="aggsortop" jdbcType="BIGINT" property="aggsortop" />
    <result column="aggtranstype" jdbcType="BIGINT" property="aggtranstype" />
    <result column="aggtransspace" jdbcType="INTEGER" property="aggtransspace" />
    <result column="aggmtranstype" jdbcType="BIGINT" property="aggmtranstype" />
    <result column="aggmtransspace" jdbcType="INTEGER" property="aggmtransspace" />
    <result column="agginitval" jdbcType="VARCHAR" property="agginitval" />
    <result column="aggminitval" jdbcType="VARCHAR" property="aggminitval" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    aggfnoid, aggkind, aggnumdirectargs, aggtransfn, aggfinalfn, aggcombinefn, aggserialfn, 
    aggdeserialfn, aggmtransfn, aggminvtransfn, aggmfinalfn, aggfinalextra, aggmfinalextra, 
    aggfinalmodify, aggmfinalmodify, aggsortop, aggtranstype, aggtransspace, aggmtranstype, 
    aggmtransspace, agginitval, aggminitval
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgAggregateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_aggregate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Object" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_aggregate
    where aggfnoid = #{aggfnoid,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Object">
    delete from pg_aggregate
    where aggfnoid = #{aggfnoid,jdbcType=OTHER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgAggregateExample">
    delete from pg_aggregate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgAggregate">
    insert into pg_aggregate (aggfnoid, aggkind, aggnumdirectargs, 
      aggtransfn, aggfinalfn, aggcombinefn, 
      aggserialfn, aggdeserialfn, aggmtransfn, 
      aggminvtransfn, aggmfinalfn, aggfinalextra, 
      aggmfinalextra, aggfinalmodify, aggmfinalmodify, 
      aggsortop, aggtranstype, aggtransspace, 
      aggmtranstype, aggmtransspace, agginitval, 
      aggminitval)
    values (#{aggfnoid,jdbcType=OTHER}, #{aggkind,jdbcType=CHAR}, #{aggnumdirectargs,jdbcType=SMALLINT}, 
      #{aggtransfn,jdbcType=OTHER}, #{aggfinalfn,jdbcType=OTHER}, #{aggcombinefn,jdbcType=OTHER}, 
      #{aggserialfn,jdbcType=OTHER}, #{aggdeserialfn,jdbcType=OTHER}, #{aggmtransfn,jdbcType=OTHER}, 
      #{aggminvtransfn,jdbcType=OTHER}, #{aggmfinalfn,jdbcType=OTHER}, #{aggfinalextra,jdbcType=BIT}, 
      #{aggmfinalextra,jdbcType=BIT}, #{aggfinalmodify,jdbcType=CHAR}, #{aggmfinalmodify,jdbcType=CHAR}, 
      #{aggsortop,jdbcType=BIGINT}, #{aggtranstype,jdbcType=BIGINT}, #{aggtransspace,jdbcType=INTEGER}, 
      #{aggmtranstype,jdbcType=BIGINT}, #{aggmtransspace,jdbcType=INTEGER}, #{agginitval,jdbcType=VARCHAR}, 
      #{aggminitval,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgAggregate">
    insert into pg_aggregate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aggfnoid != null">
        aggfnoid,
      </if>
      <if test="aggkind != null">
        aggkind,
      </if>
      <if test="aggnumdirectargs != null">
        aggnumdirectargs,
      </if>
      <if test="aggtransfn != null">
        aggtransfn,
      </if>
      <if test="aggfinalfn != null">
        aggfinalfn,
      </if>
      <if test="aggcombinefn != null">
        aggcombinefn,
      </if>
      <if test="aggserialfn != null">
        aggserialfn,
      </if>
      <if test="aggdeserialfn != null">
        aggdeserialfn,
      </if>
      <if test="aggmtransfn != null">
        aggmtransfn,
      </if>
      <if test="aggminvtransfn != null">
        aggminvtransfn,
      </if>
      <if test="aggmfinalfn != null">
        aggmfinalfn,
      </if>
      <if test="aggfinalextra != null">
        aggfinalextra,
      </if>
      <if test="aggmfinalextra != null">
        aggmfinalextra,
      </if>
      <if test="aggfinalmodify != null">
        aggfinalmodify,
      </if>
      <if test="aggmfinalmodify != null">
        aggmfinalmodify,
      </if>
      <if test="aggsortop != null">
        aggsortop,
      </if>
      <if test="aggtranstype != null">
        aggtranstype,
      </if>
      <if test="aggtransspace != null">
        aggtransspace,
      </if>
      <if test="aggmtranstype != null">
        aggmtranstype,
      </if>
      <if test="aggmtransspace != null">
        aggmtransspace,
      </if>
      <if test="agginitval != null">
        agginitval,
      </if>
      <if test="aggminitval != null">
        aggminitval,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aggfnoid != null">
        #{aggfnoid,jdbcType=OTHER},
      </if>
      <if test="aggkind != null">
        #{aggkind,jdbcType=CHAR},
      </if>
      <if test="aggnumdirectargs != null">
        #{aggnumdirectargs,jdbcType=SMALLINT},
      </if>
      <if test="aggtransfn != null">
        #{aggtransfn,jdbcType=OTHER},
      </if>
      <if test="aggfinalfn != null">
        #{aggfinalfn,jdbcType=OTHER},
      </if>
      <if test="aggcombinefn != null">
        #{aggcombinefn,jdbcType=OTHER},
      </if>
      <if test="aggserialfn != null">
        #{aggserialfn,jdbcType=OTHER},
      </if>
      <if test="aggdeserialfn != null">
        #{aggdeserialfn,jdbcType=OTHER},
      </if>
      <if test="aggmtransfn != null">
        #{aggmtransfn,jdbcType=OTHER},
      </if>
      <if test="aggminvtransfn != null">
        #{aggminvtransfn,jdbcType=OTHER},
      </if>
      <if test="aggmfinalfn != null">
        #{aggmfinalfn,jdbcType=OTHER},
      </if>
      <if test="aggfinalextra != null">
        #{aggfinalextra,jdbcType=BIT},
      </if>
      <if test="aggmfinalextra != null">
        #{aggmfinalextra,jdbcType=BIT},
      </if>
      <if test="aggfinalmodify != null">
        #{aggfinalmodify,jdbcType=CHAR},
      </if>
      <if test="aggmfinalmodify != null">
        #{aggmfinalmodify,jdbcType=CHAR},
      </if>
      <if test="aggsortop != null">
        #{aggsortop,jdbcType=BIGINT},
      </if>
      <if test="aggtranstype != null">
        #{aggtranstype,jdbcType=BIGINT},
      </if>
      <if test="aggtransspace != null">
        #{aggtransspace,jdbcType=INTEGER},
      </if>
      <if test="aggmtranstype != null">
        #{aggmtranstype,jdbcType=BIGINT},
      </if>
      <if test="aggmtransspace != null">
        #{aggmtransspace,jdbcType=INTEGER},
      </if>
      <if test="agginitval != null">
        #{agginitval,jdbcType=VARCHAR},
      </if>
      <if test="aggminitval != null">
        #{aggminitval,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgAggregateExample" resultType="java.lang.Long">
    select count(*) from pg_aggregate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_aggregate
    <set>
      <if test="row.aggfnoid != null">
        aggfnoid = #{row.aggfnoid,jdbcType=OTHER},
      </if>
      <if test="row.aggkind != null">
        aggkind = #{row.aggkind,jdbcType=CHAR},
      </if>
      <if test="row.aggnumdirectargs != null">
        aggnumdirectargs = #{row.aggnumdirectargs,jdbcType=SMALLINT},
      </if>
      <if test="row.aggtransfn != null">
        aggtransfn = #{row.aggtransfn,jdbcType=OTHER},
      </if>
      <if test="row.aggfinalfn != null">
        aggfinalfn = #{row.aggfinalfn,jdbcType=OTHER},
      </if>
      <if test="row.aggcombinefn != null">
        aggcombinefn = #{row.aggcombinefn,jdbcType=OTHER},
      </if>
      <if test="row.aggserialfn != null">
        aggserialfn = #{row.aggserialfn,jdbcType=OTHER},
      </if>
      <if test="row.aggdeserialfn != null">
        aggdeserialfn = #{row.aggdeserialfn,jdbcType=OTHER},
      </if>
      <if test="row.aggmtransfn != null">
        aggmtransfn = #{row.aggmtransfn,jdbcType=OTHER},
      </if>
      <if test="row.aggminvtransfn != null">
        aggminvtransfn = #{row.aggminvtransfn,jdbcType=OTHER},
      </if>
      <if test="row.aggmfinalfn != null">
        aggmfinalfn = #{row.aggmfinalfn,jdbcType=OTHER},
      </if>
      <if test="row.aggfinalextra != null">
        aggfinalextra = #{row.aggfinalextra,jdbcType=BIT},
      </if>
      <if test="row.aggmfinalextra != null">
        aggmfinalextra = #{row.aggmfinalextra,jdbcType=BIT},
      </if>
      <if test="row.aggfinalmodify != null">
        aggfinalmodify = #{row.aggfinalmodify,jdbcType=CHAR},
      </if>
      <if test="row.aggmfinalmodify != null">
        aggmfinalmodify = #{row.aggmfinalmodify,jdbcType=CHAR},
      </if>
      <if test="row.aggsortop != null">
        aggsortop = #{row.aggsortop,jdbcType=BIGINT},
      </if>
      <if test="row.aggtranstype != null">
        aggtranstype = #{row.aggtranstype,jdbcType=BIGINT},
      </if>
      <if test="row.aggtransspace != null">
        aggtransspace = #{row.aggtransspace,jdbcType=INTEGER},
      </if>
      <if test="row.aggmtranstype != null">
        aggmtranstype = #{row.aggmtranstype,jdbcType=BIGINT},
      </if>
      <if test="row.aggmtransspace != null">
        aggmtransspace = #{row.aggmtransspace,jdbcType=INTEGER},
      </if>
      <if test="row.agginitval != null">
        agginitval = #{row.agginitval,jdbcType=VARCHAR},
      </if>
      <if test="row.aggminitval != null">
        aggminitval = #{row.aggminitval,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_aggregate
    set aggfnoid = #{row.aggfnoid,jdbcType=OTHER},
      aggkind = #{row.aggkind,jdbcType=CHAR},
      aggnumdirectargs = #{row.aggnumdirectargs,jdbcType=SMALLINT},
      aggtransfn = #{row.aggtransfn,jdbcType=OTHER},
      aggfinalfn = #{row.aggfinalfn,jdbcType=OTHER},
      aggcombinefn = #{row.aggcombinefn,jdbcType=OTHER},
      aggserialfn = #{row.aggserialfn,jdbcType=OTHER},
      aggdeserialfn = #{row.aggdeserialfn,jdbcType=OTHER},
      aggmtransfn = #{row.aggmtransfn,jdbcType=OTHER},
      aggminvtransfn = #{row.aggminvtransfn,jdbcType=OTHER},
      aggmfinalfn = #{row.aggmfinalfn,jdbcType=OTHER},
      aggfinalextra = #{row.aggfinalextra,jdbcType=BIT},
      aggmfinalextra = #{row.aggmfinalextra,jdbcType=BIT},
      aggfinalmodify = #{row.aggfinalmodify,jdbcType=CHAR},
      aggmfinalmodify = #{row.aggmfinalmodify,jdbcType=CHAR},
      aggsortop = #{row.aggsortop,jdbcType=BIGINT},
      aggtranstype = #{row.aggtranstype,jdbcType=BIGINT},
      aggtransspace = #{row.aggtransspace,jdbcType=INTEGER},
      aggmtranstype = #{row.aggmtranstype,jdbcType=BIGINT},
      aggmtransspace = #{row.aggmtransspace,jdbcType=INTEGER},
      agginitval = #{row.agginitval,jdbcType=VARCHAR},
      aggminitval = #{row.aggminitval,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.mbg.model.PgAggregate">
    update pg_aggregate
    <set>
      <if test="aggkind != null">
        aggkind = #{aggkind,jdbcType=CHAR},
      </if>
      <if test="aggnumdirectargs != null">
        aggnumdirectargs = #{aggnumdirectargs,jdbcType=SMALLINT},
      </if>
      <if test="aggtransfn != null">
        aggtransfn = #{aggtransfn,jdbcType=OTHER},
      </if>
      <if test="aggfinalfn != null">
        aggfinalfn = #{aggfinalfn,jdbcType=OTHER},
      </if>
      <if test="aggcombinefn != null">
        aggcombinefn = #{aggcombinefn,jdbcType=OTHER},
      </if>
      <if test="aggserialfn != null">
        aggserialfn = #{aggserialfn,jdbcType=OTHER},
      </if>
      <if test="aggdeserialfn != null">
        aggdeserialfn = #{aggdeserialfn,jdbcType=OTHER},
      </if>
      <if test="aggmtransfn != null">
        aggmtransfn = #{aggmtransfn,jdbcType=OTHER},
      </if>
      <if test="aggminvtransfn != null">
        aggminvtransfn = #{aggminvtransfn,jdbcType=OTHER},
      </if>
      <if test="aggmfinalfn != null">
        aggmfinalfn = #{aggmfinalfn,jdbcType=OTHER},
      </if>
      <if test="aggfinalextra != null">
        aggfinalextra = #{aggfinalextra,jdbcType=BIT},
      </if>
      <if test="aggmfinalextra != null">
        aggmfinalextra = #{aggmfinalextra,jdbcType=BIT},
      </if>
      <if test="aggfinalmodify != null">
        aggfinalmodify = #{aggfinalmodify,jdbcType=CHAR},
      </if>
      <if test="aggmfinalmodify != null">
        aggmfinalmodify = #{aggmfinalmodify,jdbcType=CHAR},
      </if>
      <if test="aggsortop != null">
        aggsortop = #{aggsortop,jdbcType=BIGINT},
      </if>
      <if test="aggtranstype != null">
        aggtranstype = #{aggtranstype,jdbcType=BIGINT},
      </if>
      <if test="aggtransspace != null">
        aggtransspace = #{aggtransspace,jdbcType=INTEGER},
      </if>
      <if test="aggmtranstype != null">
        aggmtranstype = #{aggmtranstype,jdbcType=BIGINT},
      </if>
      <if test="aggmtransspace != null">
        aggmtransspace = #{aggmtransspace,jdbcType=INTEGER},
      </if>
      <if test="agginitval != null">
        agginitval = #{agginitval,jdbcType=VARCHAR},
      </if>
      <if test="aggminitval != null">
        aggminitval = #{aggminitval,jdbcType=VARCHAR},
      </if>
    </set>
    where aggfnoid = #{aggfnoid,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.mbg.model.PgAggregate">
    update pg_aggregate
    set aggkind = #{aggkind,jdbcType=CHAR},
      aggnumdirectargs = #{aggnumdirectargs,jdbcType=SMALLINT},
      aggtransfn = #{aggtransfn,jdbcType=OTHER},
      aggfinalfn = #{aggfinalfn,jdbcType=OTHER},
      aggcombinefn = #{aggcombinefn,jdbcType=OTHER},
      aggserialfn = #{aggserialfn,jdbcType=OTHER},
      aggdeserialfn = #{aggdeserialfn,jdbcType=OTHER},
      aggmtransfn = #{aggmtransfn,jdbcType=OTHER},
      aggminvtransfn = #{aggminvtransfn,jdbcType=OTHER},
      aggmfinalfn = #{aggmfinalfn,jdbcType=OTHER},
      aggfinalextra = #{aggfinalextra,jdbcType=BIT},
      aggmfinalextra = #{aggmfinalextra,jdbcType=BIT},
      aggfinalmodify = #{aggfinalmodify,jdbcType=CHAR},
      aggmfinalmodify = #{aggmfinalmodify,jdbcType=CHAR},
      aggsortop = #{aggsortop,jdbcType=BIGINT},
      aggtranstype = #{aggtranstype,jdbcType=BIGINT},
      aggtransspace = #{aggtransspace,jdbcType=INTEGER},
      aggmtranstype = #{aggmtranstype,jdbcType=BIGINT},
      aggmtransspace = #{aggmtransspace,jdbcType=INTEGER},
      agginitval = #{agginitval,jdbcType=VARCHAR},
      aggminitval = #{aggminitval,jdbcType=VARCHAR}
    where aggfnoid = #{aggfnoid,jdbcType=OTHER}
  </update>
</mapper>