<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgFileSettingsMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgFileSettings">
    <result column="sourcefile" jdbcType="VARCHAR" property="sourcefile" />
    <result column="sourceline" jdbcType="INTEGER" property="sourceline" />
    <result column="seqno" jdbcType="INTEGER" property="seqno" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="setting" jdbcType="VARCHAR" property="setting" />
    <result column="applied" jdbcType="BIT" property="applied" />
    <result column="error" jdbcType="VARCHAR" property="error" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sourcefile, sourceline, seqno, name, setting, applied, error
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgFileSettingsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_file_settings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgFileSettingsExample">
    delete from pg_file_settings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgFileSettings">
    insert into pg_file_settings (sourcefile, sourceline, seqno, 
      name, setting, applied, 
      error)
    values (#{sourcefile,jdbcType=VARCHAR}, #{sourceline,jdbcType=INTEGER}, #{seqno,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{setting,jdbcType=VARCHAR}, #{applied,jdbcType=BIT}, 
      #{error,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgFileSettings">
    insert into pg_file_settings
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sourcefile != null">
        sourcefile,
      </if>
      <if test="sourceline != null">
        sourceline,
      </if>
      <if test="seqno != null">
        seqno,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="setting != null">
        setting,
      </if>
      <if test="applied != null">
        applied,
      </if>
      <if test="error != null">
        error,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sourcefile != null">
        #{sourcefile,jdbcType=VARCHAR},
      </if>
      <if test="sourceline != null">
        #{sourceline,jdbcType=INTEGER},
      </if>
      <if test="seqno != null">
        #{seqno,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="setting != null">
        #{setting,jdbcType=VARCHAR},
      </if>
      <if test="applied != null">
        #{applied,jdbcType=BIT},
      </if>
      <if test="error != null">
        #{error,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgFileSettingsExample" resultType="java.lang.Long">
    select count(*) from pg_file_settings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_file_settings
    <set>
      <if test="row.sourcefile != null">
        sourcefile = #{row.sourcefile,jdbcType=VARCHAR},
      </if>
      <if test="row.sourceline != null">
        sourceline = #{row.sourceline,jdbcType=INTEGER},
      </if>
      <if test="row.seqno != null">
        seqno = #{row.seqno,jdbcType=INTEGER},
      </if>
      <if test="row.name != null">
        name = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.setting != null">
        setting = #{row.setting,jdbcType=VARCHAR},
      </if>
      <if test="row.applied != null">
        applied = #{row.applied,jdbcType=BIT},
      </if>
      <if test="row.error != null">
        error = #{row.error,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_file_settings
    set sourcefile = #{row.sourcefile,jdbcType=VARCHAR},
      sourceline = #{row.sourceline,jdbcType=INTEGER},
      seqno = #{row.seqno,jdbcType=INTEGER},
      name = #{row.name,jdbcType=VARCHAR},
      setting = #{row.setting,jdbcType=VARCHAR},
      applied = #{row.applied,jdbcType=BIT},
      error = #{row.error,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>