<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgForeignDataWrapperMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgForeignDataWrapper">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="fdwname" jdbcType="VARCHAR" property="fdwname" />
    <result column="fdwowner" jdbcType="BIGINT" property="fdwowner" />
    <result column="fdwhandler" jdbcType="BIGINT" property="fdwhandler" />
    <result column="fdwvalidator" jdbcType="BIGINT" property="fdwvalidator" />
    <result column="fdwacl" jdbcType="ARRAY" property="fdwacl" />
    <result column="fdwoptions" jdbcType="ARRAY" property="fdwoptions" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, fdwname, fdwowner, fdwhandler, fdwvalidator, fdwacl, fdwoptions
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgForeignDataWrapperExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_foreign_data_wrapper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_foreign_data_wrapper
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_foreign_data_wrapper
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgForeignDataWrapperExample">
    delete from pg_foreign_data_wrapper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgForeignDataWrapper">
    insert into pg_foreign_data_wrapper (oid, fdwname, fdwowner, 
      fdwhandler, fdwvalidator, fdwacl, 
      fdwoptions)
    values (#{oid,jdbcType=BIGINT}, #{fdwname,jdbcType=VARCHAR}, #{fdwowner,jdbcType=BIGINT}, 
      #{fdwhandler,jdbcType=BIGINT}, #{fdwvalidator,jdbcType=BIGINT}, #{fdwacl,jdbcType=ARRAY}, 
      #{fdwoptions,jdbcType=ARRAY})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgForeignDataWrapper">
    insert into pg_foreign_data_wrapper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="fdwname != null">
        fdwname,
      </if>
      <if test="fdwowner != null">
        fdwowner,
      </if>
      <if test="fdwhandler != null">
        fdwhandler,
      </if>
      <if test="fdwvalidator != null">
        fdwvalidator,
      </if>
      <if test="fdwacl != null">
        fdwacl,
      </if>
      <if test="fdwoptions != null">
        fdwoptions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="fdwname != null">
        #{fdwname,jdbcType=VARCHAR},
      </if>
      <if test="fdwowner != null">
        #{fdwowner,jdbcType=BIGINT},
      </if>
      <if test="fdwhandler != null">
        #{fdwhandler,jdbcType=BIGINT},
      </if>
      <if test="fdwvalidator != null">
        #{fdwvalidator,jdbcType=BIGINT},
      </if>
      <if test="fdwacl != null">
        #{fdwacl,jdbcType=ARRAY},
      </if>
      <if test="fdwoptions != null">
        #{fdwoptions,jdbcType=ARRAY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgForeignDataWrapperExample" resultType="java.lang.Long">
    select count(*) from pg_foreign_data_wrapper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_foreign_data_wrapper
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.fdwname != null">
        fdwname = #{row.fdwname,jdbcType=VARCHAR},
      </if>
      <if test="row.fdwowner != null">
        fdwowner = #{row.fdwowner,jdbcType=BIGINT},
      </if>
      <if test="row.fdwhandler != null">
        fdwhandler = #{row.fdwhandler,jdbcType=BIGINT},
      </if>
      <if test="row.fdwvalidator != null">
        fdwvalidator = #{row.fdwvalidator,jdbcType=BIGINT},
      </if>
      <if test="row.fdwacl != null">
        fdwacl = #{row.fdwacl,jdbcType=ARRAY},
      </if>
      <if test="row.fdwoptions != null">
        fdwoptions = #{row.fdwoptions,jdbcType=ARRAY},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_foreign_data_wrapper
    set oid = #{row.oid,jdbcType=BIGINT},
      fdwname = #{row.fdwname,jdbcType=VARCHAR},
      fdwowner = #{row.fdwowner,jdbcType=BIGINT},
      fdwhandler = #{row.fdwhandler,jdbcType=BIGINT},
      fdwvalidator = #{row.fdwvalidator,jdbcType=BIGINT},
      fdwacl = #{row.fdwacl,jdbcType=ARRAY},
      fdwoptions = #{row.fdwoptions,jdbcType=ARRAY}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.mbg.model.PgForeignDataWrapper">
    update pg_foreign_data_wrapper
    <set>
      <if test="fdwname != null">
        fdwname = #{fdwname,jdbcType=VARCHAR},
      </if>
      <if test="fdwowner != null">
        fdwowner = #{fdwowner,jdbcType=BIGINT},
      </if>
      <if test="fdwhandler != null">
        fdwhandler = #{fdwhandler,jdbcType=BIGINT},
      </if>
      <if test="fdwvalidator != null">
        fdwvalidator = #{fdwvalidator,jdbcType=BIGINT},
      </if>
      <if test="fdwacl != null">
        fdwacl = #{fdwacl,jdbcType=ARRAY},
      </if>
      <if test="fdwoptions != null">
        fdwoptions = #{fdwoptions,jdbcType=ARRAY},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.mbg.model.PgForeignDataWrapper">
    update pg_foreign_data_wrapper
    set fdwname = #{fdwname,jdbcType=VARCHAR},
      fdwowner = #{fdwowner,jdbcType=BIGINT},
      fdwhandler = #{fdwhandler,jdbcType=BIGINT},
      fdwvalidator = #{fdwvalidator,jdbcType=BIGINT},
      fdwacl = #{fdwacl,jdbcType=ARRAY},
      fdwoptions = #{fdwoptions,jdbcType=ARRAY}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>