<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgIndexesMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgIndexes">
    <result column="schemaname" jdbcType="VARCHAR" property="schemaname" />
    <result column="tablename" jdbcType="VARCHAR" property="tablename" />
    <result column="indexname" jdbcType="VARCHAR" property="indexname" />
    <result column="tablespace" jdbcType="VARCHAR" property="tablespace" />
    <result column="indexdef" jdbcType="VARCHAR" property="indexdef" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    schemaname, tablename, indexname, tablespace, indexdef
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgIndexesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_indexes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgIndexesExample">
    delete from pg_indexes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgIndexes">
    insert into pg_indexes (schemaname, tablename, indexname, 
      tablespace, indexdef)
    values (#{schemaname,jdbcType=VARCHAR}, #{tablename,jdbcType=VARCHAR}, #{indexname,jdbcType=VARCHAR}, 
      #{tablespace,jdbcType=VARCHAR}, #{indexdef,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgIndexes">
    insert into pg_indexes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schemaname != null">
        schemaname,
      </if>
      <if test="tablename != null">
        tablename,
      </if>
      <if test="indexname != null">
        indexname,
      </if>
      <if test="tablespace != null">
        tablespace,
      </if>
      <if test="indexdef != null">
        indexdef,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schemaname != null">
        #{schemaname,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null">
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="indexname != null">
        #{indexname,jdbcType=VARCHAR},
      </if>
      <if test="tablespace != null">
        #{tablespace,jdbcType=VARCHAR},
      </if>
      <if test="indexdef != null">
        #{indexdef,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgIndexesExample" resultType="java.lang.Long">
    select count(*) from pg_indexes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_indexes
    <set>
      <if test="row.schemaname != null">
        schemaname = #{row.schemaname,jdbcType=VARCHAR},
      </if>
      <if test="row.tablename != null">
        tablename = #{row.tablename,jdbcType=VARCHAR},
      </if>
      <if test="row.indexname != null">
        indexname = #{row.indexname,jdbcType=VARCHAR},
      </if>
      <if test="row.tablespace != null">
        tablespace = #{row.tablespace,jdbcType=VARCHAR},
      </if>
      <if test="row.indexdef != null">
        indexdef = #{row.indexdef,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_indexes
    set schemaname = #{row.schemaname,jdbcType=VARCHAR},
      tablename = #{row.tablename,jdbcType=VARCHAR},
      indexname = #{row.indexname,jdbcType=VARCHAR},
      tablespace = #{row.tablespace,jdbcType=VARCHAR},
      indexdef = #{row.indexdef,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>