<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgInheritsMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgInherits">
    <id column="inhrelid" jdbcType="BIGINT" property="inhrelid" />
    <id column="inhseqno" jdbcType="INTEGER" property="inhseqno" />
    <result column="inhparent" jdbcType="BIGINT" property="inhparent" />
    <result column="inhdetachpending" jdbcType="BIT" property="inhdetachpending" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    inhrelid, inhseqno, inhparent, inhdetachpending
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgInheritsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_inherits
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_inherits
    where inhrelid = #{inhrelid,jdbcType=BIGINT}
      and inhseqno = #{inhseqno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from pg_inherits
    where inhrelid = #{inhrelid,jdbcType=BIGINT}
      and inhseqno = #{inhseqno,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgInheritsExample">
    delete from pg_inherits
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgInherits">
    insert into pg_inherits (inhrelid, inhseqno, inhparent, 
      inhdetachpending)
    values (#{inhrelid,jdbcType=BIGINT}, #{inhseqno,jdbcType=INTEGER}, #{inhparent,jdbcType=BIGINT}, 
      #{inhdetachpending,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgInherits">
    insert into pg_inherits
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inhrelid != null">
        inhrelid,
      </if>
      <if test="inhseqno != null">
        inhseqno,
      </if>
      <if test="inhparent != null">
        inhparent,
      </if>
      <if test="inhdetachpending != null">
        inhdetachpending,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inhrelid != null">
        #{inhrelid,jdbcType=BIGINT},
      </if>
      <if test="inhseqno != null">
        #{inhseqno,jdbcType=INTEGER},
      </if>
      <if test="inhparent != null">
        #{inhparent,jdbcType=BIGINT},
      </if>
      <if test="inhdetachpending != null">
        #{inhdetachpending,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgInheritsExample" resultType="java.lang.Long">
    select count(*) from pg_inherits
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_inherits
    <set>
      <if test="row.inhrelid != null">
        inhrelid = #{row.inhrelid,jdbcType=BIGINT},
      </if>
      <if test="row.inhseqno != null">
        inhseqno = #{row.inhseqno,jdbcType=INTEGER},
      </if>
      <if test="row.inhparent != null">
        inhparent = #{row.inhparent,jdbcType=BIGINT},
      </if>
      <if test="row.inhdetachpending != null">
        inhdetachpending = #{row.inhdetachpending,jdbcType=BIT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_inherits
    set inhrelid = #{row.inhrelid,jdbcType=BIGINT},
      inhseqno = #{row.inhseqno,jdbcType=INTEGER},
      inhparent = #{row.inhparent,jdbcType=BIGINT},
      inhdetachpending = #{row.inhdetachpending,jdbcType=BIT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.mbg.model.PgInherits">
    update pg_inherits
    <set>
      <if test="inhparent != null">
        inhparent = #{inhparent,jdbcType=BIGINT},
      </if>
      <if test="inhdetachpending != null">
        inhdetachpending = #{inhdetachpending,jdbcType=BIT},
      </if>
    </set>
    where inhrelid = #{inhrelid,jdbcType=BIGINT}
      and inhseqno = #{inhseqno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.mbg.model.PgInherits">
    update pg_inherits
    set inhparent = #{inhparent,jdbcType=BIGINT},
      inhdetachpending = #{inhdetachpending,jdbcType=BIT}
    where inhrelid = #{inhrelid,jdbcType=BIGINT}
      and inhseqno = #{inhseqno,jdbcType=INTEGER}
  </update>
</mapper>