<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgOpclassMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgOpclass">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="opcmethod" jdbcType="BIGINT" property="opcmethod" />
    <result column="opcname" jdbcType="VARCHAR" property="opcname" />
    <result column="opcnamespace" jdbcType="BIGINT" property="opcnamespace" />
    <result column="opcowner" jdbcType="BIGINT" property="opcowner" />
    <result column="opcfamily" jdbcType="BIGINT" property="opcfamily" />
    <result column="opcintype" jdbcType="BIGINT" property="opcintype" />
    <result column="opcdefault" jdbcType="BIT" property="opcdefault" />
    <result column="opckeytype" jdbcType="BIGINT" property="opckeytype" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, opcmethod, opcname, opcnamespace, opcowner, opcfamily, opcintype, opcdefault, 
    opckeytype
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgOpclassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_opclass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_opclass
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_opclass
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgOpclassExample">
    delete from pg_opclass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgOpclass">
    insert into pg_opclass (oid, opcmethod, opcname, 
      opcnamespace, opcowner, opcfamily, 
      opcintype, opcdefault, opckeytype
      )
    values (#{oid,jdbcType=BIGINT}, #{opcmethod,jdbcType=BIGINT}, #{opcname,jdbcType=VARCHAR}, 
      #{opcnamespace,jdbcType=BIGINT}, #{opcowner,jdbcType=BIGINT}, #{opcfamily,jdbcType=BIGINT}, 
      #{opcintype,jdbcType=BIGINT}, #{opcdefault,jdbcType=BIT}, #{opckeytype,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgOpclass">
    insert into pg_opclass
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="opcmethod != null">
        opcmethod,
      </if>
      <if test="opcname != null">
        opcname,
      </if>
      <if test="opcnamespace != null">
        opcnamespace,
      </if>
      <if test="opcowner != null">
        opcowner,
      </if>
      <if test="opcfamily != null">
        opcfamily,
      </if>
      <if test="opcintype != null">
        opcintype,
      </if>
      <if test="opcdefault != null">
        opcdefault,
      </if>
      <if test="opckeytype != null">
        opckeytype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="opcmethod != null">
        #{opcmethod,jdbcType=BIGINT},
      </if>
      <if test="opcname != null">
        #{opcname,jdbcType=VARCHAR},
      </if>
      <if test="opcnamespace != null">
        #{opcnamespace,jdbcType=BIGINT},
      </if>
      <if test="opcowner != null">
        #{opcowner,jdbcType=BIGINT},
      </if>
      <if test="opcfamily != null">
        #{opcfamily,jdbcType=BIGINT},
      </if>
      <if test="opcintype != null">
        #{opcintype,jdbcType=BIGINT},
      </if>
      <if test="opcdefault != null">
        #{opcdefault,jdbcType=BIT},
      </if>
      <if test="opckeytype != null">
        #{opckeytype,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgOpclassExample" resultType="java.lang.Long">
    select count(*) from pg_opclass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_opclass
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.opcmethod != null">
        opcmethod = #{row.opcmethod,jdbcType=BIGINT},
      </if>
      <if test="row.opcname != null">
        opcname = #{row.opcname,jdbcType=VARCHAR},
      </if>
      <if test="row.opcnamespace != null">
        opcnamespace = #{row.opcnamespace,jdbcType=BIGINT},
      </if>
      <if test="row.opcowner != null">
        opcowner = #{row.opcowner,jdbcType=BIGINT},
      </if>
      <if test="row.opcfamily != null">
        opcfamily = #{row.opcfamily,jdbcType=BIGINT},
      </if>
      <if test="row.opcintype != null">
        opcintype = #{row.opcintype,jdbcType=BIGINT},
      </if>
      <if test="row.opcdefault != null">
        opcdefault = #{row.opcdefault,jdbcType=BIT},
      </if>
      <if test="row.opckeytype != null">
        opckeytype = #{row.opckeytype,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_opclass
    set oid = #{row.oid,jdbcType=BIGINT},
      opcmethod = #{row.opcmethod,jdbcType=BIGINT},
      opcname = #{row.opcname,jdbcType=VARCHAR},
      opcnamespace = #{row.opcnamespace,jdbcType=BIGINT},
      opcowner = #{row.opcowner,jdbcType=BIGINT},
      opcfamily = #{row.opcfamily,jdbcType=BIGINT},
      opcintype = #{row.opcintype,jdbcType=BIGINT},
      opcdefault = #{row.opcdefault,jdbcType=BIT},
      opckeytype = #{row.opckeytype,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.mbg.model.PgOpclass">
    update pg_opclass
    <set>
      <if test="opcmethod != null">
        opcmethod = #{opcmethod,jdbcType=BIGINT},
      </if>
      <if test="opcname != null">
        opcname = #{opcname,jdbcType=VARCHAR},
      </if>
      <if test="opcnamespace != null">
        opcnamespace = #{opcnamespace,jdbcType=BIGINT},
      </if>
      <if test="opcowner != null">
        opcowner = #{opcowner,jdbcType=BIGINT},
      </if>
      <if test="opcfamily != null">
        opcfamily = #{opcfamily,jdbcType=BIGINT},
      </if>
      <if test="opcintype != null">
        opcintype = #{opcintype,jdbcType=BIGINT},
      </if>
      <if test="opcdefault != null">
        opcdefault = #{opcdefault,jdbcType=BIT},
      </if>
      <if test="opckeytype != null">
        opckeytype = #{opckeytype,jdbcType=BIGINT},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.mbg.model.PgOpclass">
    update pg_opclass
    set opcmethod = #{opcmethod,jdbcType=BIGINT},
      opcname = #{opcname,jdbcType=VARCHAR},
      opcnamespace = #{opcnamespace,jdbcType=BIGINT},
      opcowner = #{opcowner,jdbcType=BIGINT},
      opcfamily = #{opcfamily,jdbcType=BIGINT},
      opcintype = #{opcintype,jdbcType=BIGINT},
      opcdefault = #{opcdefault,jdbcType=BIT},
      opckeytype = #{opckeytype,jdbcType=BIGINT}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>