<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgOperatorMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgOperator">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="oprname" jdbcType="VARCHAR" property="oprname" />
    <result column="oprnamespace" jdbcType="BIGINT" property="oprnamespace" />
    <result column="oprowner" jdbcType="BIGINT" property="oprowner" />
    <result column="oprkind" jdbcType="CHAR" property="oprkind" />
    <result column="oprcanmerge" jdbcType="BIT" property="oprcanmerge" />
    <result column="oprcanhash" jdbcType="BIT" property="oprcanhash" />
    <result column="oprleft" jdbcType="BIGINT" property="oprleft" />
    <result column="oprright" jdbcType="BIGINT" property="oprright" />
    <result column="oprresult" jdbcType="BIGINT" property="oprresult" />
    <result column="oprcom" jdbcType="BIGINT" property="oprcom" />
    <result column="oprnegate" jdbcType="BIGINT" property="oprnegate" />
    <result column="oprcode" jdbcType="OTHER" property="oprcode" />
    <result column="oprrest" jdbcType="OTHER" property="oprrest" />
    <result column="oprjoin" jdbcType="OTHER" property="oprjoin" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, oprname, oprnamespace, oprowner, oprkind, oprcanmerge, oprcanhash, oprleft, 
    oprright, oprresult, oprcom, oprnegate, oprcode, oprrest, oprjoin
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgOperatorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_operator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_operator
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_operator
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgOperatorExample">
    delete from pg_operator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgOperator">
    insert into pg_operator (oid, oprname, oprnamespace, 
      oprowner, oprkind, oprcanmerge, 
      oprcanhash, oprleft, oprright, 
      oprresult, oprcom, oprnegate, 
      oprcode, oprrest, oprjoin
      )
    values (#{oid,jdbcType=BIGINT}, #{oprname,jdbcType=VARCHAR}, #{oprnamespace,jdbcType=BIGINT}, 
      #{oprowner,jdbcType=BIGINT}, #{oprkind,jdbcType=CHAR}, #{oprcanmerge,jdbcType=BIT}, 
      #{oprcanhash,jdbcType=BIT}, #{oprleft,jdbcType=BIGINT}, #{oprright,jdbcType=BIGINT}, 
      #{oprresult,jdbcType=BIGINT}, #{oprcom,jdbcType=BIGINT}, #{oprnegate,jdbcType=BIGINT}, 
      #{oprcode,jdbcType=OTHER}, #{oprrest,jdbcType=OTHER}, #{oprjoin,jdbcType=OTHER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgOperator">
    insert into pg_operator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="oprname != null">
        oprname,
      </if>
      <if test="oprnamespace != null">
        oprnamespace,
      </if>
      <if test="oprowner != null">
        oprowner,
      </if>
      <if test="oprkind != null">
        oprkind,
      </if>
      <if test="oprcanmerge != null">
        oprcanmerge,
      </if>
      <if test="oprcanhash != null">
        oprcanhash,
      </if>
      <if test="oprleft != null">
        oprleft,
      </if>
      <if test="oprright != null">
        oprright,
      </if>
      <if test="oprresult != null">
        oprresult,
      </if>
      <if test="oprcom != null">
        oprcom,
      </if>
      <if test="oprnegate != null">
        oprnegate,
      </if>
      <if test="oprcode != null">
        oprcode,
      </if>
      <if test="oprrest != null">
        oprrest,
      </if>
      <if test="oprjoin != null">
        oprjoin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="oprname != null">
        #{oprname,jdbcType=VARCHAR},
      </if>
      <if test="oprnamespace != null">
        #{oprnamespace,jdbcType=BIGINT},
      </if>
      <if test="oprowner != null">
        #{oprowner,jdbcType=BIGINT},
      </if>
      <if test="oprkind != null">
        #{oprkind,jdbcType=CHAR},
      </if>
      <if test="oprcanmerge != null">
        #{oprcanmerge,jdbcType=BIT},
      </if>
      <if test="oprcanhash != null">
        #{oprcanhash,jdbcType=BIT},
      </if>
      <if test="oprleft != null">
        #{oprleft,jdbcType=BIGINT},
      </if>
      <if test="oprright != null">
        #{oprright,jdbcType=BIGINT},
      </if>
      <if test="oprresult != null">
        #{oprresult,jdbcType=BIGINT},
      </if>
      <if test="oprcom != null">
        #{oprcom,jdbcType=BIGINT},
      </if>
      <if test="oprnegate != null">
        #{oprnegate,jdbcType=BIGINT},
      </if>
      <if test="oprcode != null">
        #{oprcode,jdbcType=OTHER},
      </if>
      <if test="oprrest != null">
        #{oprrest,jdbcType=OTHER},
      </if>
      <if test="oprjoin != null">
        #{oprjoin,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgOperatorExample" resultType="java.lang.Long">
    select count(*) from pg_operator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_operator
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.oprname != null">
        oprname = #{row.oprname,jdbcType=VARCHAR},
      </if>
      <if test="row.oprnamespace != null">
        oprnamespace = #{row.oprnamespace,jdbcType=BIGINT},
      </if>
      <if test="row.oprowner != null">
        oprowner = #{row.oprowner,jdbcType=BIGINT},
      </if>
      <if test="row.oprkind != null">
        oprkind = #{row.oprkind,jdbcType=CHAR},
      </if>
      <if test="row.oprcanmerge != null">
        oprcanmerge = #{row.oprcanmerge,jdbcType=BIT},
      </if>
      <if test="row.oprcanhash != null">
        oprcanhash = #{row.oprcanhash,jdbcType=BIT},
      </if>
      <if test="row.oprleft != null">
        oprleft = #{row.oprleft,jdbcType=BIGINT},
      </if>
      <if test="row.oprright != null">
        oprright = #{row.oprright,jdbcType=BIGINT},
      </if>
      <if test="row.oprresult != null">
        oprresult = #{row.oprresult,jdbcType=BIGINT},
      </if>
      <if test="row.oprcom != null">
        oprcom = #{row.oprcom,jdbcType=BIGINT},
      </if>
      <if test="row.oprnegate != null">
        oprnegate = #{row.oprnegate,jdbcType=BIGINT},
      </if>
      <if test="row.oprcode != null">
        oprcode = #{row.oprcode,jdbcType=OTHER},
      </if>
      <if test="row.oprrest != null">
        oprrest = #{row.oprrest,jdbcType=OTHER},
      </if>
      <if test="row.oprjoin != null">
        oprjoin = #{row.oprjoin,jdbcType=OTHER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_operator
    set oid = #{row.oid,jdbcType=BIGINT},
      oprname = #{row.oprname,jdbcType=VARCHAR},
      oprnamespace = #{row.oprnamespace,jdbcType=BIGINT},
      oprowner = #{row.oprowner,jdbcType=BIGINT},
      oprkind = #{row.oprkind,jdbcType=CHAR},
      oprcanmerge = #{row.oprcanmerge,jdbcType=BIT},
      oprcanhash = #{row.oprcanhash,jdbcType=BIT},
      oprleft = #{row.oprleft,jdbcType=BIGINT},
      oprright = #{row.oprright,jdbcType=BIGINT},
      oprresult = #{row.oprresult,jdbcType=BIGINT},
      oprcom = #{row.oprcom,jdbcType=BIGINT},
      oprnegate = #{row.oprnegate,jdbcType=BIGINT},
      oprcode = #{row.oprcode,jdbcType=OTHER},
      oprrest = #{row.oprrest,jdbcType=OTHER},
      oprjoin = #{row.oprjoin,jdbcType=OTHER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.mbg.model.PgOperator">
    update pg_operator
    <set>
      <if test="oprname != null">
        oprname = #{oprname,jdbcType=VARCHAR},
      </if>
      <if test="oprnamespace != null">
        oprnamespace = #{oprnamespace,jdbcType=BIGINT},
      </if>
      <if test="oprowner != null">
        oprowner = #{oprowner,jdbcType=BIGINT},
      </if>
      <if test="oprkind != null">
        oprkind = #{oprkind,jdbcType=CHAR},
      </if>
      <if test="oprcanmerge != null">
        oprcanmerge = #{oprcanmerge,jdbcType=BIT},
      </if>
      <if test="oprcanhash != null">
        oprcanhash = #{oprcanhash,jdbcType=BIT},
      </if>
      <if test="oprleft != null">
        oprleft = #{oprleft,jdbcType=BIGINT},
      </if>
      <if test="oprright != null">
        oprright = #{oprright,jdbcType=BIGINT},
      </if>
      <if test="oprresult != null">
        oprresult = #{oprresult,jdbcType=BIGINT},
      </if>
      <if test="oprcom != null">
        oprcom = #{oprcom,jdbcType=BIGINT},
      </if>
      <if test="oprnegate != null">
        oprnegate = #{oprnegate,jdbcType=BIGINT},
      </if>
      <if test="oprcode != null">
        oprcode = #{oprcode,jdbcType=OTHER},
      </if>
      <if test="oprrest != null">
        oprrest = #{oprrest,jdbcType=OTHER},
      </if>
      <if test="oprjoin != null">
        oprjoin = #{oprjoin,jdbcType=OTHER},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.mbg.model.PgOperator">
    update pg_operator
    set oprname = #{oprname,jdbcType=VARCHAR},
      oprnamespace = #{oprnamespace,jdbcType=BIGINT},
      oprowner = #{oprowner,jdbcType=BIGINT},
      oprkind = #{oprkind,jdbcType=CHAR},
      oprcanmerge = #{oprcanmerge,jdbcType=BIT},
      oprcanhash = #{oprcanhash,jdbcType=BIT},
      oprleft = #{oprleft,jdbcType=BIGINT},
      oprright = #{oprright,jdbcType=BIGINT},
      oprresult = #{oprresult,jdbcType=BIGINT},
      oprcom = #{oprcom,jdbcType=BIGINT},
      oprnegate = #{oprnegate,jdbcType=BIGINT},
      oprcode = #{oprcode,jdbcType=OTHER},
      oprrest = #{oprrest,jdbcType=OTHER},
      oprjoin = #{oprjoin,jdbcType=OTHER}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>