<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgPartitionedTableMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgPartitionedTable">
    <id column="partrelid" jdbcType="BIGINT" property="partrelid" />
    <result column="partstrat" jdbcType="CHAR" property="partstrat" />
    <result column="partnatts" jdbcType="SMALLINT" property="partnatts" />
    <result column="partdefid" jdbcType="BIGINT" property="partdefid" />
    <result column="partattrs" jdbcType="OTHER" property="partattrs" />
    <result column="partclass" jdbcType="OTHER" property="partclass" />
    <result column="partcollation" jdbcType="OTHER" property="partcollation" />
    <result column="partexprs" jdbcType="OTHER" property="partexprs" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    partrelid, partstrat, partnatts, partdefid, partattrs, partclass, partcollation, 
    partexprs
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgPartitionedTableExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_partitioned_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_partitioned_table
    where partrelid = #{partrelid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_partitioned_table
    where partrelid = #{partrelid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgPartitionedTableExample">
    delete from pg_partitioned_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgPartitionedTable">
    insert into pg_partitioned_table (partrelid, partstrat, partnatts, 
      partdefid, partattrs, partclass, 
      partcollation, partexprs)
    values (#{partrelid,jdbcType=BIGINT}, #{partstrat,jdbcType=CHAR}, #{partnatts,jdbcType=SMALLINT}, 
      #{partdefid,jdbcType=BIGINT}, #{partattrs,jdbcType=OTHER}, #{partclass,jdbcType=OTHER}, 
      #{partcollation,jdbcType=OTHER}, #{partexprs,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgPartitionedTable">
    insert into pg_partitioned_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partrelid != null">
        partrelid,
      </if>
      <if test="partstrat != null">
        partstrat,
      </if>
      <if test="partnatts != null">
        partnatts,
      </if>
      <if test="partdefid != null">
        partdefid,
      </if>
      <if test="partattrs != null">
        partattrs,
      </if>
      <if test="partclass != null">
        partclass,
      </if>
      <if test="partcollation != null">
        partcollation,
      </if>
      <if test="partexprs != null">
        partexprs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partrelid != null">
        #{partrelid,jdbcType=BIGINT},
      </if>
      <if test="partstrat != null">
        #{partstrat,jdbcType=CHAR},
      </if>
      <if test="partnatts != null">
        #{partnatts,jdbcType=SMALLINT},
      </if>
      <if test="partdefid != null">
        #{partdefid,jdbcType=BIGINT},
      </if>
      <if test="partattrs != null">
        #{partattrs,jdbcType=OTHER},
      </if>
      <if test="partclass != null">
        #{partclass,jdbcType=OTHER},
      </if>
      <if test="partcollation != null">
        #{partcollation,jdbcType=OTHER},
      </if>
      <if test="partexprs != null">
        #{partexprs,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgPartitionedTableExample" resultType="java.lang.Long">
    select count(*) from pg_partitioned_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_partitioned_table
    <set>
      <if test="row.partrelid != null">
        partrelid = #{row.partrelid,jdbcType=BIGINT},
      </if>
      <if test="row.partstrat != null">
        partstrat = #{row.partstrat,jdbcType=CHAR},
      </if>
      <if test="row.partnatts != null">
        partnatts = #{row.partnatts,jdbcType=SMALLINT},
      </if>
      <if test="row.partdefid != null">
        partdefid = #{row.partdefid,jdbcType=BIGINT},
      </if>
      <if test="row.partattrs != null">
        partattrs = #{row.partattrs,jdbcType=OTHER},
      </if>
      <if test="row.partclass != null">
        partclass = #{row.partclass,jdbcType=OTHER},
      </if>
      <if test="row.partcollation != null">
        partcollation = #{row.partcollation,jdbcType=OTHER},
      </if>
      <if test="row.partexprs != null">
        partexprs = #{row.partexprs,jdbcType=OTHER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_partitioned_table
    set partrelid = #{row.partrelid,jdbcType=BIGINT},
      partstrat = #{row.partstrat,jdbcType=CHAR},
      partnatts = #{row.partnatts,jdbcType=SMALLINT},
      partdefid = #{row.partdefid,jdbcType=BIGINT},
      partattrs = #{row.partattrs,jdbcType=OTHER},
      partclass = #{row.partclass,jdbcType=OTHER},
      partcollation = #{row.partcollation,jdbcType=OTHER},
      partexprs = #{row.partexprs,jdbcType=OTHER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.mbg.model.PgPartitionedTable">
    update pg_partitioned_table
    <set>
      <if test="partstrat != null">
        partstrat = #{partstrat,jdbcType=CHAR},
      </if>
      <if test="partnatts != null">
        partnatts = #{partnatts,jdbcType=SMALLINT},
      </if>
      <if test="partdefid != null">
        partdefid = #{partdefid,jdbcType=BIGINT},
      </if>
      <if test="partattrs != null">
        partattrs = #{partattrs,jdbcType=OTHER},
      </if>
      <if test="partclass != null">
        partclass = #{partclass,jdbcType=OTHER},
      </if>
      <if test="partcollation != null">
        partcollation = #{partcollation,jdbcType=OTHER},
      </if>
      <if test="partexprs != null">
        partexprs = #{partexprs,jdbcType=OTHER},
      </if>
    </set>
    where partrelid = #{partrelid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.mbg.model.PgPartitionedTable">
    update pg_partitioned_table
    set partstrat = #{partstrat,jdbcType=CHAR},
      partnatts = #{partnatts,jdbcType=SMALLINT},
      partdefid = #{partdefid,jdbcType=BIGINT},
      partattrs = #{partattrs,jdbcType=OTHER},
      partclass = #{partclass,jdbcType=OTHER},
      partcollation = #{partcollation,jdbcType=OTHER},
      partexprs = #{partexprs,jdbcType=OTHER}
    where partrelid = #{partrelid,jdbcType=BIGINT}
  </update>
</mapper>