<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgPolicyMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgPolicy">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="polname" jdbcType="VARCHAR" property="polname" />
    <result column="polrelid" jdbcType="BIGINT" property="polrelid" />
    <result column="polcmd" jdbcType="CHAR" property="polcmd" />
    <result column="polpermissive" jdbcType="BIT" property="polpermissive" />
    <result column="polroles" jdbcType="ARRAY" property="polroles" />
    <result column="polqual" jdbcType="OTHER" property="polqual" />
    <result column="polwithcheck" jdbcType="OTHER" property="polwithcheck" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, polname, polrelid, polcmd, polpermissive, polroles, polqual, polwithcheck
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgPolicyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_policy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_policy
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_policy
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgPolicyExample">
    delete from pg_policy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgPolicy">
    insert into pg_policy (oid, polname, polrelid, 
      polcmd, polpermissive, polroles, 
      polqual, polwithcheck)
    values (#{oid,jdbcType=BIGINT}, #{polname,jdbcType=VARCHAR}, #{polrelid,jdbcType=BIGINT}, 
      #{polcmd,jdbcType=CHAR}, #{polpermissive,jdbcType=BIT}, #{polroles,jdbcType=ARRAY}, 
      #{polqual,jdbcType=OTHER}, #{polwithcheck,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgPolicy">
    insert into pg_policy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="polname != null">
        polname,
      </if>
      <if test="polrelid != null">
        polrelid,
      </if>
      <if test="polcmd != null">
        polcmd,
      </if>
      <if test="polpermissive != null">
        polpermissive,
      </if>
      <if test="polroles != null">
        polroles,
      </if>
      <if test="polqual != null">
        polqual,
      </if>
      <if test="polwithcheck != null">
        polwithcheck,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="polname != null">
        #{polname,jdbcType=VARCHAR},
      </if>
      <if test="polrelid != null">
        #{polrelid,jdbcType=BIGINT},
      </if>
      <if test="polcmd != null">
        #{polcmd,jdbcType=CHAR},
      </if>
      <if test="polpermissive != null">
        #{polpermissive,jdbcType=BIT},
      </if>
      <if test="polroles != null">
        #{polroles,jdbcType=ARRAY},
      </if>
      <if test="polqual != null">
        #{polqual,jdbcType=OTHER},
      </if>
      <if test="polwithcheck != null">
        #{polwithcheck,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgPolicyExample" resultType="java.lang.Long">
    select count(*) from pg_policy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_policy
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.polname != null">
        polname = #{row.polname,jdbcType=VARCHAR},
      </if>
      <if test="row.polrelid != null">
        polrelid = #{row.polrelid,jdbcType=BIGINT},
      </if>
      <if test="row.polcmd != null">
        polcmd = #{row.polcmd,jdbcType=CHAR},
      </if>
      <if test="row.polpermissive != null">
        polpermissive = #{row.polpermissive,jdbcType=BIT},
      </if>
      <if test="row.polroles != null">
        polroles = #{row.polroles,jdbcType=ARRAY},
      </if>
      <if test="row.polqual != null">
        polqual = #{row.polqual,jdbcType=OTHER},
      </if>
      <if test="row.polwithcheck != null">
        polwithcheck = #{row.polwithcheck,jdbcType=OTHER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_policy
    set oid = #{row.oid,jdbcType=BIGINT},
      polname = #{row.polname,jdbcType=VARCHAR},
      polrelid = #{row.polrelid,jdbcType=BIGINT},
      polcmd = #{row.polcmd,jdbcType=CHAR},
      polpermissive = #{row.polpermissive,jdbcType=BIT},
      polroles = #{row.polroles,jdbcType=ARRAY},
      polqual = #{row.polqual,jdbcType=OTHER},
      polwithcheck = #{row.polwithcheck,jdbcType=OTHER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.mbg.model.PgPolicy">
    update pg_policy
    <set>
      <if test="polname != null">
        polname = #{polname,jdbcType=VARCHAR},
      </if>
      <if test="polrelid != null">
        polrelid = #{polrelid,jdbcType=BIGINT},
      </if>
      <if test="polcmd != null">
        polcmd = #{polcmd,jdbcType=CHAR},
      </if>
      <if test="polpermissive != null">
        polpermissive = #{polpermissive,jdbcType=BIT},
      </if>
      <if test="polroles != null">
        polroles = #{polroles,jdbcType=ARRAY},
      </if>
      <if test="polqual != null">
        polqual = #{polqual,jdbcType=OTHER},
      </if>
      <if test="polwithcheck != null">
        polwithcheck = #{polwithcheck,jdbcType=OTHER},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.mbg.model.PgPolicy">
    update pg_policy
    set polname = #{polname,jdbcType=VARCHAR},
      polrelid = #{polrelid,jdbcType=BIGINT},
      polcmd = #{polcmd,jdbcType=CHAR},
      polpermissive = #{polpermissive,jdbcType=BIT},
      polroles = #{polroles,jdbcType=ARRAY},
      polqual = #{polqual,jdbcType=OTHER},
      polwithcheck = #{polwithcheck,jdbcType=OTHER}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>