<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgReplicationOriginMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgReplicationOrigin">
    <id column="roident" jdbcType="BIGINT" property="roident" />
    <result column="roname" jdbcType="VARCHAR" property="roname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    roident, roname
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgReplicationOriginExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_replication_origin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_replication_origin
    where roident = #{roident,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_replication_origin
    where roident = #{roident,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgReplicationOriginExample">
    delete from pg_replication_origin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgReplicationOrigin">
    insert into pg_replication_origin (roident, roname)
    values (#{roident,jdbcType=BIGINT}, #{roname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgReplicationOrigin">
    insert into pg_replication_origin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roident != null">
        roident,
      </if>
      <if test="roname != null">
        roname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roident != null">
        #{roident,jdbcType=BIGINT},
      </if>
      <if test="roname != null">
        #{roname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgReplicationOriginExample" resultType="java.lang.Long">
    select count(*) from pg_replication_origin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_replication_origin
    <set>
      <if test="row.roident != null">
        roident = #{row.roident,jdbcType=BIGINT},
      </if>
      <if test="row.roname != null">
        roname = #{row.roname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_replication_origin
    set roident = #{row.roident,jdbcType=BIGINT},
      roname = #{row.roname,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.mbg.model.PgReplicationOrigin">
    update pg_replication_origin
    <set>
      <if test="roname != null">
        roname = #{roname,jdbcType=VARCHAR},
      </if>
    </set>
    where roident = #{roident,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.mbg.model.PgReplicationOrigin">
    update pg_replication_origin
    set roname = #{roname,jdbcType=VARCHAR}
    where roident = #{roident,jdbcType=BIGINT}
  </update>
</mapper>