<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgRolesMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgRoles">
    <result column="rolname" jdbcType="VARCHAR" property="rolname" />
    <result column="rolsuper" jdbcType="BIT" property="rolsuper" />
    <result column="rolinherit" jdbcType="BIT" property="rolinherit" />
    <result column="rolcreaterole" jdbcType="BIT" property="rolcreaterole" />
    <result column="rolcreatedb" jdbcType="BIT" property="rolcreatedb" />
    <result column="rolcanlogin" jdbcType="BIT" property="rolcanlogin" />
    <result column="rolreplication" jdbcType="BIT" property="rolreplication" />
    <result column="rolconnlimit" jdbcType="INTEGER" property="rolconnlimit" />
    <result column="rolpassword" jdbcType="VARCHAR" property="rolpassword" />
    <result column="rolvaliduntil" jdbcType="TIMESTAMP" property="rolvaliduntil" />
    <result column="rolbypassrls" jdbcType="BIT" property="rolbypassrls" />
    <result column="rolconfig" jdbcType="ARRAY" property="rolconfig" />
    <result column="oid" jdbcType="BIGINT" property="oid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rolname, rolsuper, rolinherit, rolcreaterole, rolcreatedb, rolcanlogin, rolreplication, 
    rolconnlimit, rolpassword, rolvaliduntil, rolbypassrls, rolconfig, oid
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgRolesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_roles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgRolesExample">
    delete from pg_roles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgRoles">
    insert into pg_roles (rolname, rolsuper, rolinherit, 
      rolcreaterole, rolcreatedb, rolcanlogin, 
      rolreplication, rolconnlimit, rolpassword, 
      rolvaliduntil, rolbypassrls, rolconfig, 
      oid)
    values (#{rolname,jdbcType=VARCHAR}, #{rolsuper,jdbcType=BIT}, #{rolinherit,jdbcType=BIT}, 
      #{rolcreaterole,jdbcType=BIT}, #{rolcreatedb,jdbcType=BIT}, #{rolcanlogin,jdbcType=BIT}, 
      #{rolreplication,jdbcType=BIT}, #{rolconnlimit,jdbcType=INTEGER}, #{rolpassword,jdbcType=VARCHAR}, 
      #{rolvaliduntil,jdbcType=TIMESTAMP}, #{rolbypassrls,jdbcType=BIT}, #{rolconfig,jdbcType=ARRAY}, 
      #{oid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgRoles">
    insert into pg_roles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rolname != null">
        rolname,
      </if>
      <if test="rolsuper != null">
        rolsuper,
      </if>
      <if test="rolinherit != null">
        rolinherit,
      </if>
      <if test="rolcreaterole != null">
        rolcreaterole,
      </if>
      <if test="rolcreatedb != null">
        rolcreatedb,
      </if>
      <if test="rolcanlogin != null">
        rolcanlogin,
      </if>
      <if test="rolreplication != null">
        rolreplication,
      </if>
      <if test="rolconnlimit != null">
        rolconnlimit,
      </if>
      <if test="rolpassword != null">
        rolpassword,
      </if>
      <if test="rolvaliduntil != null">
        rolvaliduntil,
      </if>
      <if test="rolbypassrls != null">
        rolbypassrls,
      </if>
      <if test="rolconfig != null">
        rolconfig,
      </if>
      <if test="oid != null">
        oid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rolname != null">
        #{rolname,jdbcType=VARCHAR},
      </if>
      <if test="rolsuper != null">
        #{rolsuper,jdbcType=BIT},
      </if>
      <if test="rolinherit != null">
        #{rolinherit,jdbcType=BIT},
      </if>
      <if test="rolcreaterole != null">
        #{rolcreaterole,jdbcType=BIT},
      </if>
      <if test="rolcreatedb != null">
        #{rolcreatedb,jdbcType=BIT},
      </if>
      <if test="rolcanlogin != null">
        #{rolcanlogin,jdbcType=BIT},
      </if>
      <if test="rolreplication != null">
        #{rolreplication,jdbcType=BIT},
      </if>
      <if test="rolconnlimit != null">
        #{rolconnlimit,jdbcType=INTEGER},
      </if>
      <if test="rolpassword != null">
        #{rolpassword,jdbcType=VARCHAR},
      </if>
      <if test="rolvaliduntil != null">
        #{rolvaliduntil,jdbcType=TIMESTAMP},
      </if>
      <if test="rolbypassrls != null">
        #{rolbypassrls,jdbcType=BIT},
      </if>
      <if test="rolconfig != null">
        #{rolconfig,jdbcType=ARRAY},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgRolesExample" resultType="java.lang.Long">
    select count(*) from pg_roles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_roles
    <set>
      <if test="row.rolname != null">
        rolname = #{row.rolname,jdbcType=VARCHAR},
      </if>
      <if test="row.rolsuper != null">
        rolsuper = #{row.rolsuper,jdbcType=BIT},
      </if>
      <if test="row.rolinherit != null">
        rolinherit = #{row.rolinherit,jdbcType=BIT},
      </if>
      <if test="row.rolcreaterole != null">
        rolcreaterole = #{row.rolcreaterole,jdbcType=BIT},
      </if>
      <if test="row.rolcreatedb != null">
        rolcreatedb = #{row.rolcreatedb,jdbcType=BIT},
      </if>
      <if test="row.rolcanlogin != null">
        rolcanlogin = #{row.rolcanlogin,jdbcType=BIT},
      </if>
      <if test="row.rolreplication != null">
        rolreplication = #{row.rolreplication,jdbcType=BIT},
      </if>
      <if test="row.rolconnlimit != null">
        rolconnlimit = #{row.rolconnlimit,jdbcType=INTEGER},
      </if>
      <if test="row.rolpassword != null">
        rolpassword = #{row.rolpassword,jdbcType=VARCHAR},
      </if>
      <if test="row.rolvaliduntil != null">
        rolvaliduntil = #{row.rolvaliduntil,jdbcType=TIMESTAMP},
      </if>
      <if test="row.rolbypassrls != null">
        rolbypassrls = #{row.rolbypassrls,jdbcType=BIT},
      </if>
      <if test="row.rolconfig != null">
        rolconfig = #{row.rolconfig,jdbcType=ARRAY},
      </if>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_roles
    set rolname = #{row.rolname,jdbcType=VARCHAR},
      rolsuper = #{row.rolsuper,jdbcType=BIT},
      rolinherit = #{row.rolinherit,jdbcType=BIT},
      rolcreaterole = #{row.rolcreaterole,jdbcType=BIT},
      rolcreatedb = #{row.rolcreatedb,jdbcType=BIT},
      rolcanlogin = #{row.rolcanlogin,jdbcType=BIT},
      rolreplication = #{row.rolreplication,jdbcType=BIT},
      rolconnlimit = #{row.rolconnlimit,jdbcType=INTEGER},
      rolpassword = #{row.rolpassword,jdbcType=VARCHAR},
      rolvaliduntil = #{row.rolvaliduntil,jdbcType=TIMESTAMP},
      rolbypassrls = #{row.rolbypassrls,jdbcType=BIT},
      rolconfig = #{row.rolconfig,jdbcType=ARRAY},
      oid = #{row.oid,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>