<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgSeclabelsMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgSeclabels">
    <result column="objoid" jdbcType="BIGINT" property="objoid" />
    <result column="classoid" jdbcType="BIGINT" property="classoid" />
    <result column="objsubid" jdbcType="INTEGER" property="objsubid" />
    <result column="objtype" jdbcType="VARCHAR" property="objtype" />
    <result column="objnamespace" jdbcType="BIGINT" property="objnamespace" />
    <result column="objname" jdbcType="VARCHAR" property="objname" />
    <result column="provider" jdbcType="VARCHAR" property="provider" />
    <result column="label" jdbcType="VARCHAR" property="label" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    objoid, classoid, objsubid, objtype, objnamespace, objname, provider, label
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgSeclabelsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_seclabels
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgSeclabelsExample">
    delete from pg_seclabels
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgSeclabels">
    insert into pg_seclabels (objoid, classoid, objsubid, 
      objtype, objnamespace, objname, 
      provider, label)
    values (#{objoid,jdbcType=BIGINT}, #{classoid,jdbcType=BIGINT}, #{objsubid,jdbcType=INTEGER}, 
      #{objtype,jdbcType=VARCHAR}, #{objnamespace,jdbcType=BIGINT}, #{objname,jdbcType=VARCHAR}, 
      #{provider,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgSeclabels">
    insert into pg_seclabels
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objoid != null">
        objoid,
      </if>
      <if test="classoid != null">
        classoid,
      </if>
      <if test="objsubid != null">
        objsubid,
      </if>
      <if test="objtype != null">
        objtype,
      </if>
      <if test="objnamespace != null">
        objnamespace,
      </if>
      <if test="objname != null">
        objname,
      </if>
      <if test="provider != null">
        provider,
      </if>
      <if test="label != null">
        label,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objoid != null">
        #{objoid,jdbcType=BIGINT},
      </if>
      <if test="classoid != null">
        #{classoid,jdbcType=BIGINT},
      </if>
      <if test="objsubid != null">
        #{objsubid,jdbcType=INTEGER},
      </if>
      <if test="objtype != null">
        #{objtype,jdbcType=VARCHAR},
      </if>
      <if test="objnamespace != null">
        #{objnamespace,jdbcType=BIGINT},
      </if>
      <if test="objname != null">
        #{objname,jdbcType=VARCHAR},
      </if>
      <if test="provider != null">
        #{provider,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgSeclabelsExample" resultType="java.lang.Long">
    select count(*) from pg_seclabels
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_seclabels
    <set>
      <if test="row.objoid != null">
        objoid = #{row.objoid,jdbcType=BIGINT},
      </if>
      <if test="row.classoid != null">
        classoid = #{row.classoid,jdbcType=BIGINT},
      </if>
      <if test="row.objsubid != null">
        objsubid = #{row.objsubid,jdbcType=INTEGER},
      </if>
      <if test="row.objtype != null">
        objtype = #{row.objtype,jdbcType=VARCHAR},
      </if>
      <if test="row.objnamespace != null">
        objnamespace = #{row.objnamespace,jdbcType=BIGINT},
      </if>
      <if test="row.objname != null">
        objname = #{row.objname,jdbcType=VARCHAR},
      </if>
      <if test="row.provider != null">
        provider = #{row.provider,jdbcType=VARCHAR},
      </if>
      <if test="row.label != null">
        label = #{row.label,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_seclabels
    set objoid = #{row.objoid,jdbcType=BIGINT},
      classoid = #{row.classoid,jdbcType=BIGINT},
      objsubid = #{row.objsubid,jdbcType=INTEGER},
      objtype = #{row.objtype,jdbcType=VARCHAR},
      objnamespace = #{row.objnamespace,jdbcType=BIGINT},
      objname = #{row.objname,jdbcType=VARCHAR},
      provider = #{row.provider,jdbcType=VARCHAR},
      label = #{row.label,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>