<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgStatWalMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgStatWal">
    <result column="wal_records" jdbcType="BIGINT" property="walRecords" />
    <result column="wal_fpi" jdbcType="BIGINT" property="walFpi" />
    <result column="wal_bytes" jdbcType="NUMERIC" property="walBytes" />
    <result column="wal_buffers_full" jdbcType="BIGINT" property="walBuffersFull" />
    <result column="stats_reset" jdbcType="TIMESTAMP" property="statsReset" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    wal_records, wal_fpi, wal_bytes, wal_buffers_full, stats_reset
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgStatWalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_stat_wal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgStatWalExample">
    delete from pg_stat_wal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgStatWal">
    insert into pg_stat_wal (wal_records, wal_fpi, wal_bytes, 
      wal_buffers_full, stats_reset)
    values (#{walRecords,jdbcType=BIGINT}, #{walFpi,jdbcType=BIGINT}, #{walBytes,jdbcType=NUMERIC}, 
      #{walBuffersFull,jdbcType=BIGINT}, #{statsReset,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgStatWal">
    insert into pg_stat_wal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="walRecords != null">
        wal_records,
      </if>
      <if test="walFpi != null">
        wal_fpi,
      </if>
      <if test="walBytes != null">
        wal_bytes,
      </if>
      <if test="walBuffersFull != null">
        wal_buffers_full,
      </if>
      <if test="statsReset != null">
        stats_reset,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="walRecords != null">
        #{walRecords,jdbcType=BIGINT},
      </if>
      <if test="walFpi != null">
        #{walFpi,jdbcType=BIGINT},
      </if>
      <if test="walBytes != null">
        #{walBytes,jdbcType=NUMERIC},
      </if>
      <if test="walBuffersFull != null">
        #{walBuffersFull,jdbcType=BIGINT},
      </if>
      <if test="statsReset != null">
        #{statsReset,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgStatWalExample" resultType="java.lang.Long">
    select count(*) from pg_stat_wal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_stat_wal
    <set>
      <if test="row.walRecords != null">
        wal_records = #{row.walRecords,jdbcType=BIGINT},
      </if>
      <if test="row.walFpi != null">
        wal_fpi = #{row.walFpi,jdbcType=BIGINT},
      </if>
      <if test="row.walBytes != null">
        wal_bytes = #{row.walBytes,jdbcType=NUMERIC},
      </if>
      <if test="row.walBuffersFull != null">
        wal_buffers_full = #{row.walBuffersFull,jdbcType=BIGINT},
      </if>
      <if test="row.statsReset != null">
        stats_reset = #{row.statsReset,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_stat_wal
    set wal_records = #{row.walRecords,jdbcType=BIGINT},
      wal_fpi = #{row.walFpi,jdbcType=BIGINT},
      wal_bytes = #{row.walBytes,jdbcType=NUMERIC},
      wal_buffers_full = #{row.walBuffersFull,jdbcType=BIGINT},
      stats_reset = #{row.statsReset,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>