<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgStatIoMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgStatIo">
    <result column="backend_type" jdbcType="VARCHAR" property="backendType" />
    <result column="object" jdbcType="VARCHAR" property="object" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="reads" jdbcType="BIGINT" property="reads" />
    <result column="read_bytes" jdbcType="NUMERIC" property="readBytes" />
    <result column="read_time" jdbcType="DOUBLE" property="readTime" />
    <result column="writes" jdbcType="BIGINT" property="writes" />
    <result column="write_bytes" jdbcType="NUMERIC" property="writeBytes" />
    <result column="write_time" jdbcType="DOUBLE" property="writeTime" />
    <result column="writebacks" jdbcType="BIGINT" property="writebacks" />
    <result column="writeback_time" jdbcType="DOUBLE" property="writebackTime" />
    <result column="extends" jdbcType="BIGINT" property="extends" />
    <result column="extend_bytes" jdbcType="NUMERIC" property="extendBytes" />
    <result column="extend_time" jdbcType="DOUBLE" property="extendTime" />
    <result column="hits" jdbcType="BIGINT" property="hits" />
    <result column="evictions" jdbcType="BIGINT" property="evictions" />
    <result column="reuses" jdbcType="BIGINT" property="reuses" />
    <result column="fsyncs" jdbcType="BIGINT" property="fsyncs" />
    <result column="fsync_time" jdbcType="DOUBLE" property="fsyncTime" />
    <result column="stats_reset" jdbcType="TIMESTAMP" property="statsReset" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    backend_type, object, context, reads, read_bytes, read_time, writes, write_bytes, 
    write_time, writebacks, writeback_time, extends, extend_bytes, extend_time, hits, 
    evictions, reuses, fsyncs, fsync_time, stats_reset
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgStatIoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_stat_io
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgStatIoExample">
    delete from pg_stat_io
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgStatIo">
    insert into pg_stat_io (backend_type, object, context, 
      reads, read_bytes, read_time, 
      writes, write_bytes, write_time, 
      writebacks, writeback_time, extends, 
      extend_bytes, extend_time, hits, 
      evictions, reuses, fsyncs, 
      fsync_time, stats_reset)
    values (#{backendType,jdbcType=VARCHAR}, #{object,jdbcType=VARCHAR}, #{context,jdbcType=VARCHAR}, 
      #{reads,jdbcType=BIGINT}, #{readBytes,jdbcType=NUMERIC}, #{readTime,jdbcType=DOUBLE}, 
      #{writes,jdbcType=BIGINT}, #{writeBytes,jdbcType=NUMERIC}, #{writeTime,jdbcType=DOUBLE}, 
      #{writebacks,jdbcType=BIGINT}, #{writebackTime,jdbcType=DOUBLE}, #{extends,jdbcType=BIGINT}, 
      #{extendBytes,jdbcType=NUMERIC}, #{extendTime,jdbcType=DOUBLE}, #{hits,jdbcType=BIGINT}, 
      #{evictions,jdbcType=BIGINT}, #{reuses,jdbcType=BIGINT}, #{fsyncs,jdbcType=BIGINT}, 
      #{fsyncTime,jdbcType=DOUBLE}, #{statsReset,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgStatIo">
    insert into pg_stat_io
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="backendType != null">
        backend_type,
      </if>
      <if test="object != null">
        object,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="reads != null">
        reads,
      </if>
      <if test="readBytes != null">
        read_bytes,
      </if>
      <if test="readTime != null">
        read_time,
      </if>
      <if test="writes != null">
        writes,
      </if>
      <if test="writeBytes != null">
        write_bytes,
      </if>
      <if test="writeTime != null">
        write_time,
      </if>
      <if test="writebacks != null">
        writebacks,
      </if>
      <if test="writebackTime != null">
        writeback_time,
      </if>
      <if test="extends != null">
        extends,
      </if>
      <if test="extendBytes != null">
        extend_bytes,
      </if>
      <if test="extendTime != null">
        extend_time,
      </if>
      <if test="hits != null">
        hits,
      </if>
      <if test="evictions != null">
        evictions,
      </if>
      <if test="reuses != null">
        reuses,
      </if>
      <if test="fsyncs != null">
        fsyncs,
      </if>
      <if test="fsyncTime != null">
        fsync_time,
      </if>
      <if test="statsReset != null">
        stats_reset,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="backendType != null">
        #{backendType,jdbcType=VARCHAR},
      </if>
      <if test="object != null">
        #{object,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="reads != null">
        #{reads,jdbcType=BIGINT},
      </if>
      <if test="readBytes != null">
        #{readBytes,jdbcType=NUMERIC},
      </if>
      <if test="readTime != null">
        #{readTime,jdbcType=DOUBLE},
      </if>
      <if test="writes != null">
        #{writes,jdbcType=BIGINT},
      </if>
      <if test="writeBytes != null">
        #{writeBytes,jdbcType=NUMERIC},
      </if>
      <if test="writeTime != null">
        #{writeTime,jdbcType=DOUBLE},
      </if>
      <if test="writebacks != null">
        #{writebacks,jdbcType=BIGINT},
      </if>
      <if test="writebackTime != null">
        #{writebackTime,jdbcType=DOUBLE},
      </if>
      <if test="extends != null">
        #{extends,jdbcType=BIGINT},
      </if>
      <if test="extendBytes != null">
        #{extendBytes,jdbcType=NUMERIC},
      </if>
      <if test="extendTime != null">
        #{extendTime,jdbcType=DOUBLE},
      </if>
      <if test="hits != null">
        #{hits,jdbcType=BIGINT},
      </if>
      <if test="evictions != null">
        #{evictions,jdbcType=BIGINT},
      </if>
      <if test="reuses != null">
        #{reuses,jdbcType=BIGINT},
      </if>
      <if test="fsyncs != null">
        #{fsyncs,jdbcType=BIGINT},
      </if>
      <if test="fsyncTime != null">
        #{fsyncTime,jdbcType=DOUBLE},
      </if>
      <if test="statsReset != null">
        #{statsReset,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgStatIoExample" resultType="java.lang.Long">
    select count(*) from pg_stat_io
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_stat_io
    <set>
      <if test="row.backendType != null">
        backend_type = #{row.backendType,jdbcType=VARCHAR},
      </if>
      <if test="row.object != null">
        object = #{row.object,jdbcType=VARCHAR},
      </if>
      <if test="row.context != null">
        context = #{row.context,jdbcType=VARCHAR},
      </if>
      <if test="row.reads != null">
        reads = #{row.reads,jdbcType=BIGINT},
      </if>
      <if test="row.readBytes != null">
        read_bytes = #{row.readBytes,jdbcType=NUMERIC},
      </if>
      <if test="row.readTime != null">
        read_time = #{row.readTime,jdbcType=DOUBLE},
      </if>
      <if test="row.writes != null">
        writes = #{row.writes,jdbcType=BIGINT},
      </if>
      <if test="row.writeBytes != null">
        write_bytes = #{row.writeBytes,jdbcType=NUMERIC},
      </if>
      <if test="row.writeTime != null">
        write_time = #{row.writeTime,jdbcType=DOUBLE},
      </if>
      <if test="row.writebacks != null">
        writebacks = #{row.writebacks,jdbcType=BIGINT},
      </if>
      <if test="row.writebackTime != null">
        writeback_time = #{row.writebackTime,jdbcType=DOUBLE},
      </if>
      <if test="row.extends != null">
        extends = #{row.extends,jdbcType=BIGINT},
      </if>
      <if test="row.extendBytes != null">
        extend_bytes = #{row.extendBytes,jdbcType=NUMERIC},
      </if>
      <if test="row.extendTime != null">
        extend_time = #{row.extendTime,jdbcType=DOUBLE},
      </if>
      <if test="row.hits != null">
        hits = #{row.hits,jdbcType=BIGINT},
      </if>
      <if test="row.evictions != null">
        evictions = #{row.evictions,jdbcType=BIGINT},
      </if>
      <if test="row.reuses != null">
        reuses = #{row.reuses,jdbcType=BIGINT},
      </if>
      <if test="row.fsyncs != null">
        fsyncs = #{row.fsyncs,jdbcType=BIGINT},
      </if>
      <if test="row.fsyncTime != null">
        fsync_time = #{row.fsyncTime,jdbcType=DOUBLE},
      </if>
      <if test="row.statsReset != null">
        stats_reset = #{row.statsReset,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_stat_io
    set backend_type = #{row.backendType,jdbcType=VARCHAR},
      object = #{row.object,jdbcType=VARCHAR},
      context = #{row.context,jdbcType=VARCHAR},
      reads = #{row.reads,jdbcType=BIGINT},
      read_bytes = #{row.readBytes,jdbcType=NUMERIC},
      read_time = #{row.readTime,jdbcType=DOUBLE},
      writes = #{row.writes,jdbcType=BIGINT},
      write_bytes = #{row.writeBytes,jdbcType=NUMERIC},
      write_time = #{row.writeTime,jdbcType=DOUBLE},
      writebacks = #{row.writebacks,jdbcType=BIGINT},
      writeback_time = #{row.writebackTime,jdbcType=DOUBLE},
      extends = #{row.extends,jdbcType=BIGINT},
      extend_bytes = #{row.extendBytes,jdbcType=NUMERIC},
      extend_time = #{row.extendTime,jdbcType=DOUBLE},
      hits = #{row.hits,jdbcType=BIGINT},
      evictions = #{row.evictions,jdbcType=BIGINT},
      reuses = #{row.reuses,jdbcType=BIGINT},
      fsyncs = #{row.fsyncs,jdbcType=BIGINT},
      fsync_time = #{row.fsyncTime,jdbcType=DOUBLE},
      stats_reset = #{row.statsReset,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>