<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgStatisticExtDataMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgStatisticExtData">
    <id column="stxoid" jdbcType="BIGINT" property="stxoid" />
    <id column="stxdinherit" jdbcType="BIT" property="stxdinherit" />
    <result column="stxdndistinct" jdbcType="OTHER" property="stxdndistinct" />
    <result column="stxddependencies" jdbcType="OTHER" property="stxddependencies" />
    <result column="stxdmcv" jdbcType="OTHER" property="stxdmcv" />
    <result column="stxdexpr" jdbcType="ARRAY" property="stxdexpr" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stxoid, stxdinherit, stxdndistinct, stxddependencies, stxdmcv, stxdexpr
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgStatisticExtDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_statistic_ext_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_statistic_ext_data
    where stxoid = #{stxoid,jdbcType=BIGINT}
      and stxdinherit = #{stxdinherit,jdbcType=BIT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from pg_statistic_ext_data
    where stxoid = #{stxoid,jdbcType=BIGINT}
      and stxdinherit = #{stxdinherit,jdbcType=BIT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgStatisticExtDataExample">
    delete from pg_statistic_ext_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgStatisticExtData">
    insert into pg_statistic_ext_data (stxoid, stxdinherit, stxdndistinct, 
      stxddependencies, stxdmcv, stxdexpr
      )
    values (#{stxoid,jdbcType=BIGINT}, #{stxdinherit,jdbcType=BIT}, #{stxdndistinct,jdbcType=OTHER}, 
      #{stxddependencies,jdbcType=OTHER}, #{stxdmcv,jdbcType=OTHER}, #{stxdexpr,jdbcType=ARRAY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgStatisticExtData">
    insert into pg_statistic_ext_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stxoid != null">
        stxoid,
      </if>
      <if test="stxdinherit != null">
        stxdinherit,
      </if>
      <if test="stxdndistinct != null">
        stxdndistinct,
      </if>
      <if test="stxddependencies != null">
        stxddependencies,
      </if>
      <if test="stxdmcv != null">
        stxdmcv,
      </if>
      <if test="stxdexpr != null">
        stxdexpr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stxoid != null">
        #{stxoid,jdbcType=BIGINT},
      </if>
      <if test="stxdinherit != null">
        #{stxdinherit,jdbcType=BIT},
      </if>
      <if test="stxdndistinct != null">
        #{stxdndistinct,jdbcType=OTHER},
      </if>
      <if test="stxddependencies != null">
        #{stxddependencies,jdbcType=OTHER},
      </if>
      <if test="stxdmcv != null">
        #{stxdmcv,jdbcType=OTHER},
      </if>
      <if test="stxdexpr != null">
        #{stxdexpr,jdbcType=ARRAY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgStatisticExtDataExample" resultType="java.lang.Long">
    select count(*) from pg_statistic_ext_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_statistic_ext_data
    <set>
      <if test="row.stxoid != null">
        stxoid = #{row.stxoid,jdbcType=BIGINT},
      </if>
      <if test="row.stxdinherit != null">
        stxdinherit = #{row.stxdinherit,jdbcType=BIT},
      </if>
      <if test="row.stxdndistinct != null">
        stxdndistinct = #{row.stxdndistinct,jdbcType=OTHER},
      </if>
      <if test="row.stxddependencies != null">
        stxddependencies = #{row.stxddependencies,jdbcType=OTHER},
      </if>
      <if test="row.stxdmcv != null">
        stxdmcv = #{row.stxdmcv,jdbcType=OTHER},
      </if>
      <if test="row.stxdexpr != null">
        stxdexpr = #{row.stxdexpr,jdbcType=ARRAY},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_statistic_ext_data
    set stxoid = #{row.stxoid,jdbcType=BIGINT},
      stxdinherit = #{row.stxdinherit,jdbcType=BIT},
      stxdndistinct = #{row.stxdndistinct,jdbcType=OTHER},
      stxddependencies = #{row.stxddependencies,jdbcType=OTHER},
      stxdmcv = #{row.stxdmcv,jdbcType=OTHER},
      stxdexpr = #{row.stxdexpr,jdbcType=ARRAY}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.mbg.model.PgStatisticExtData">
    update pg_statistic_ext_data
    <set>
      <if test="stxdndistinct != null">
        stxdndistinct = #{stxdndistinct,jdbcType=OTHER},
      </if>
      <if test="stxddependencies != null">
        stxddependencies = #{stxddependencies,jdbcType=OTHER},
      </if>
      <if test="stxdmcv != null">
        stxdmcv = #{stxdmcv,jdbcType=OTHER},
      </if>
      <if test="stxdexpr != null">
        stxdexpr = #{stxdexpr,jdbcType=ARRAY},
      </if>
    </set>
    where stxoid = #{stxoid,jdbcType=BIGINT}
      and stxdinherit = #{stxdinherit,jdbcType=BIT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.mbg.model.PgStatisticExtData">
    update pg_statistic_ext_data
    set stxdndistinct = #{stxdndistinct,jdbcType=OTHER},
      stxddependencies = #{stxddependencies,jdbcType=OTHER},
      stxdmcv = #{stxdmcv,jdbcType=OTHER},
      stxdexpr = #{stxdexpr,jdbcType=ARRAY}
    where stxoid = #{stxoid,jdbcType=BIGINT}
      and stxdinherit = #{stxdinherit,jdbcType=BIT}
  </update>
</mapper>