<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgStatUserIndexesMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgStatUserIndexes">
    <result column="relid" jdbcType="BIGINT" property="relid" />
    <result column="indexrelid" jdbcType="BIGINT" property="indexrelid" />
    <result column="schemaname" jdbcType="VARCHAR" property="schemaname" />
    <result column="relname" jdbcType="VARCHAR" property="relname" />
    <result column="indexrelname" jdbcType="VARCHAR" property="indexrelname" />
    <result column="idx_scan" jdbcType="BIGINT" property="idxScan" />
    <result column="last_idx_scan" jdbcType="TIMESTAMP" property="lastIdxScan" />
    <result column="idx_tup_read" jdbcType="BIGINT" property="idxTupRead" />
    <result column="idx_tup_fetch" jdbcType="BIGINT" property="idxTupFetch" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    relid, indexrelid, schemaname, relname, indexrelname, idx_scan, last_idx_scan, idx_tup_read, 
    idx_tup_fetch
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgStatUserIndexesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_stat_user_indexes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgStatUserIndexesExample">
    delete from pg_stat_user_indexes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgStatUserIndexes">
    insert into pg_stat_user_indexes (relid, indexrelid, schemaname, 
      relname, indexrelname, idx_scan, 
      last_idx_scan, idx_tup_read, idx_tup_fetch
      )
    values (#{relid,jdbcType=BIGINT}, #{indexrelid,jdbcType=BIGINT}, #{schemaname,jdbcType=VARCHAR}, 
      #{relname,jdbcType=VARCHAR}, #{indexrelname,jdbcType=VARCHAR}, #{idxScan,jdbcType=BIGINT}, 
      #{lastIdxScan,jdbcType=TIMESTAMP}, #{idxTupRead,jdbcType=BIGINT}, #{idxTupFetch,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgStatUserIndexes">
    insert into pg_stat_user_indexes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relid != null">
        relid,
      </if>
      <if test="indexrelid != null">
        indexrelid,
      </if>
      <if test="schemaname != null">
        schemaname,
      </if>
      <if test="relname != null">
        relname,
      </if>
      <if test="indexrelname != null">
        indexrelname,
      </if>
      <if test="idxScan != null">
        idx_scan,
      </if>
      <if test="lastIdxScan != null">
        last_idx_scan,
      </if>
      <if test="idxTupRead != null">
        idx_tup_read,
      </if>
      <if test="idxTupFetch != null">
        idx_tup_fetch,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relid != null">
        #{relid,jdbcType=BIGINT},
      </if>
      <if test="indexrelid != null">
        #{indexrelid,jdbcType=BIGINT},
      </if>
      <if test="schemaname != null">
        #{schemaname,jdbcType=VARCHAR},
      </if>
      <if test="relname != null">
        #{relname,jdbcType=VARCHAR},
      </if>
      <if test="indexrelname != null">
        #{indexrelname,jdbcType=VARCHAR},
      </if>
      <if test="idxScan != null">
        #{idxScan,jdbcType=BIGINT},
      </if>
      <if test="lastIdxScan != null">
        #{lastIdxScan,jdbcType=TIMESTAMP},
      </if>
      <if test="idxTupRead != null">
        #{idxTupRead,jdbcType=BIGINT},
      </if>
      <if test="idxTupFetch != null">
        #{idxTupFetch,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgStatUserIndexesExample" resultType="java.lang.Long">
    select count(*) from pg_stat_user_indexes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_stat_user_indexes
    <set>
      <if test="row.relid != null">
        relid = #{row.relid,jdbcType=BIGINT},
      </if>
      <if test="row.indexrelid != null">
        indexrelid = #{row.indexrelid,jdbcType=BIGINT},
      </if>
      <if test="row.schemaname != null">
        schemaname = #{row.schemaname,jdbcType=VARCHAR},
      </if>
      <if test="row.relname != null">
        relname = #{row.relname,jdbcType=VARCHAR},
      </if>
      <if test="row.indexrelname != null">
        indexrelname = #{row.indexrelname,jdbcType=VARCHAR},
      </if>
      <if test="row.idxScan != null">
        idx_scan = #{row.idxScan,jdbcType=BIGINT},
      </if>
      <if test="row.lastIdxScan != null">
        last_idx_scan = #{row.lastIdxScan,jdbcType=TIMESTAMP},
      </if>
      <if test="row.idxTupRead != null">
        idx_tup_read = #{row.idxTupRead,jdbcType=BIGINT},
      </if>
      <if test="row.idxTupFetch != null">
        idx_tup_fetch = #{row.idxTupFetch,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_stat_user_indexes
    set relid = #{row.relid,jdbcType=BIGINT},
      indexrelid = #{row.indexrelid,jdbcType=BIGINT},
      schemaname = #{row.schemaname,jdbcType=VARCHAR},
      relname = #{row.relname,jdbcType=VARCHAR},
      indexrelname = #{row.indexrelname,jdbcType=VARCHAR},
      idx_scan = #{row.idxScan,jdbcType=BIGINT},
      last_idx_scan = #{row.lastIdxScan,jdbcType=TIMESTAMP},
      idx_tup_read = #{row.idxTupRead,jdbcType=BIGINT},
      idx_tup_fetch = #{row.idxTupFetch,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>