<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgStatsExtExprsMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgStatsExtExprs">
    <result column="schemaname" jdbcType="VARCHAR" property="schemaname" />
    <result column="tablename" jdbcType="VARCHAR" property="tablename" />
    <result column="statistics_schemaname" jdbcType="VARCHAR" property="statisticsSchemaname" />
    <result column="statistics_name" jdbcType="VARCHAR" property="statisticsName" />
    <result column="statistics_owner" jdbcType="VARCHAR" property="statisticsOwner" />
    <result column="expr" jdbcType="VARCHAR" property="expr" />
    <result column="inherited" jdbcType="BIT" property="inherited" />
    <result column="null_frac" jdbcType="REAL" property="nullFrac" />
    <result column="avg_width" jdbcType="INTEGER" property="avgWidth" />
    <result column="n_distinct" jdbcType="REAL" property="nDistinct" />
    <result column="most_common_vals" jdbcType="OTHER" property="mostCommonVals" />
    <result column="most_common_freqs" jdbcType="ARRAY" property="mostCommonFreqs" />
    <result column="histogram_bounds" jdbcType="OTHER" property="histogramBounds" />
    <result column="correlation" jdbcType="REAL" property="correlation" />
    <result column="most_common_elems" jdbcType="OTHER" property="mostCommonElems" />
    <result column="most_common_elem_freqs" jdbcType="ARRAY" property="mostCommonElemFreqs" />
    <result column="elem_count_histogram" jdbcType="ARRAY" property="elemCountHistogram" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    schemaname, tablename, statistics_schemaname, statistics_name, statistics_owner, 
    expr, inherited, null_frac, avg_width, n_distinct, most_common_vals, most_common_freqs, 
    histogram_bounds, correlation, most_common_elems, most_common_elem_freqs, elem_count_histogram
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgStatsExtExprsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_stats_ext_exprs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgStatsExtExprsExample">
    delete from pg_stats_ext_exprs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgStatsExtExprs">
    insert into pg_stats_ext_exprs (schemaname, tablename, statistics_schemaname, 
      statistics_name, statistics_owner, expr, 
      inherited, null_frac, avg_width, 
      n_distinct, most_common_vals, most_common_freqs, 
      histogram_bounds, correlation, most_common_elems, 
      most_common_elem_freqs, elem_count_histogram)
    values (#{schemaname,jdbcType=VARCHAR}, #{tablename,jdbcType=VARCHAR}, #{statisticsSchemaname,jdbcType=VARCHAR}, 
      #{statisticsName,jdbcType=VARCHAR}, #{statisticsOwner,jdbcType=VARCHAR}, #{expr,jdbcType=VARCHAR}, 
      #{inherited,jdbcType=BIT}, #{nullFrac,jdbcType=REAL}, #{avgWidth,jdbcType=INTEGER}, 
      #{nDistinct,jdbcType=REAL}, #{mostCommonVals,jdbcType=OTHER}, #{mostCommonFreqs,jdbcType=ARRAY}, 
      #{histogramBounds,jdbcType=OTHER}, #{correlation,jdbcType=REAL}, #{mostCommonElems,jdbcType=OTHER}, 
      #{mostCommonElemFreqs,jdbcType=ARRAY}, #{elemCountHistogram,jdbcType=ARRAY})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgStatsExtExprs">
    insert into pg_stats_ext_exprs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schemaname != null">
        schemaname,
      </if>
      <if test="tablename != null">
        tablename,
      </if>
      <if test="statisticsSchemaname != null">
        statistics_schemaname,
      </if>
      <if test="statisticsName != null">
        statistics_name,
      </if>
      <if test="statisticsOwner != null">
        statistics_owner,
      </if>
      <if test="expr != null">
        expr,
      </if>
      <if test="inherited != null">
        inherited,
      </if>
      <if test="nullFrac != null">
        null_frac,
      </if>
      <if test="avgWidth != null">
        avg_width,
      </if>
      <if test="nDistinct != null">
        n_distinct,
      </if>
      <if test="mostCommonVals != null">
        most_common_vals,
      </if>
      <if test="mostCommonFreqs != null">
        most_common_freqs,
      </if>
      <if test="histogramBounds != null">
        histogram_bounds,
      </if>
      <if test="correlation != null">
        correlation,
      </if>
      <if test="mostCommonElems != null">
        most_common_elems,
      </if>
      <if test="mostCommonElemFreqs != null">
        most_common_elem_freqs,
      </if>
      <if test="elemCountHistogram != null">
        elem_count_histogram,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schemaname != null">
        #{schemaname,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null">
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="statisticsSchemaname != null">
        #{statisticsSchemaname,jdbcType=VARCHAR},
      </if>
      <if test="statisticsName != null">
        #{statisticsName,jdbcType=VARCHAR},
      </if>
      <if test="statisticsOwner != null">
        #{statisticsOwner,jdbcType=VARCHAR},
      </if>
      <if test="expr != null">
        #{expr,jdbcType=VARCHAR},
      </if>
      <if test="inherited != null">
        #{inherited,jdbcType=BIT},
      </if>
      <if test="nullFrac != null">
        #{nullFrac,jdbcType=REAL},
      </if>
      <if test="avgWidth != null">
        #{avgWidth,jdbcType=INTEGER},
      </if>
      <if test="nDistinct != null">
        #{nDistinct,jdbcType=REAL},
      </if>
      <if test="mostCommonVals != null">
        #{mostCommonVals,jdbcType=OTHER},
      </if>
      <if test="mostCommonFreqs != null">
        #{mostCommonFreqs,jdbcType=ARRAY},
      </if>
      <if test="histogramBounds != null">
        #{histogramBounds,jdbcType=OTHER},
      </if>
      <if test="correlation != null">
        #{correlation,jdbcType=REAL},
      </if>
      <if test="mostCommonElems != null">
        #{mostCommonElems,jdbcType=OTHER},
      </if>
      <if test="mostCommonElemFreqs != null">
        #{mostCommonElemFreqs,jdbcType=ARRAY},
      </if>
      <if test="elemCountHistogram != null">
        #{elemCountHistogram,jdbcType=ARRAY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgStatsExtExprsExample" resultType="java.lang.Long">
    select count(*) from pg_stats_ext_exprs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_stats_ext_exprs
    <set>
      <if test="row.schemaname != null">
        schemaname = #{row.schemaname,jdbcType=VARCHAR},
      </if>
      <if test="row.tablename != null">
        tablename = #{row.tablename,jdbcType=VARCHAR},
      </if>
      <if test="row.statisticsSchemaname != null">
        statistics_schemaname = #{row.statisticsSchemaname,jdbcType=VARCHAR},
      </if>
      <if test="row.statisticsName != null">
        statistics_name = #{row.statisticsName,jdbcType=VARCHAR},
      </if>
      <if test="row.statisticsOwner != null">
        statistics_owner = #{row.statisticsOwner,jdbcType=VARCHAR},
      </if>
      <if test="row.expr != null">
        expr = #{row.expr,jdbcType=VARCHAR},
      </if>
      <if test="row.inherited != null">
        inherited = #{row.inherited,jdbcType=BIT},
      </if>
      <if test="row.nullFrac != null">
        null_frac = #{row.nullFrac,jdbcType=REAL},
      </if>
      <if test="row.avgWidth != null">
        avg_width = #{row.avgWidth,jdbcType=INTEGER},
      </if>
      <if test="row.nDistinct != null">
        n_distinct = #{row.nDistinct,jdbcType=REAL},
      </if>
      <if test="row.mostCommonVals != null">
        most_common_vals = #{row.mostCommonVals,jdbcType=OTHER},
      </if>
      <if test="row.mostCommonFreqs != null">
        most_common_freqs = #{row.mostCommonFreqs,jdbcType=ARRAY},
      </if>
      <if test="row.histogramBounds != null">
        histogram_bounds = #{row.histogramBounds,jdbcType=OTHER},
      </if>
      <if test="row.correlation != null">
        correlation = #{row.correlation,jdbcType=REAL},
      </if>
      <if test="row.mostCommonElems != null">
        most_common_elems = #{row.mostCommonElems,jdbcType=OTHER},
      </if>
      <if test="row.mostCommonElemFreqs != null">
        most_common_elem_freqs = #{row.mostCommonElemFreqs,jdbcType=ARRAY},
      </if>
      <if test="row.elemCountHistogram != null">
        elem_count_histogram = #{row.elemCountHistogram,jdbcType=ARRAY},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_stats_ext_exprs
    set schemaname = #{row.schemaname,jdbcType=VARCHAR},
      tablename = #{row.tablename,jdbcType=VARCHAR},
      statistics_schemaname = #{row.statisticsSchemaname,jdbcType=VARCHAR},
      statistics_name = #{row.statisticsName,jdbcType=VARCHAR},
      statistics_owner = #{row.statisticsOwner,jdbcType=VARCHAR},
      expr = #{row.expr,jdbcType=VARCHAR},
      inherited = #{row.inherited,jdbcType=BIT},
      null_frac = #{row.nullFrac,jdbcType=REAL},
      avg_width = #{row.avgWidth,jdbcType=INTEGER},
      n_distinct = #{row.nDistinct,jdbcType=REAL},
      most_common_vals = #{row.mostCommonVals,jdbcType=OTHER},
      most_common_freqs = #{row.mostCommonFreqs,jdbcType=ARRAY},
      histogram_bounds = #{row.histogramBounds,jdbcType=OTHER},
      correlation = #{row.correlation,jdbcType=REAL},
      most_common_elems = #{row.mostCommonElems,jdbcType=OTHER},
      most_common_elem_freqs = #{row.mostCommonElemFreqs,jdbcType=ARRAY},
      elem_count_histogram = #{row.elemCountHistogram,jdbcType=ARRAY}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>