<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgStatUserTablesMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgStatUserTables">
    <result column="relid" jdbcType="BIGINT" property="relid" />
    <result column="schemaname" jdbcType="VARCHAR" property="schemaname" />
    <result column="relname" jdbcType="VARCHAR" property="relname" />
    <result column="seq_scan" jdbcType="BIGINT" property="seqScan" />
    <result column="last_seq_scan" jdbcType="TIMESTAMP" property="lastSeqScan" />
    <result column="seq_tup_read" jdbcType="BIGINT" property="seqTupRead" />
    <result column="idx_scan" jdbcType="BIGINT" property="idxScan" />
    <result column="last_idx_scan" jdbcType="TIMESTAMP" property="lastIdxScan" />
    <result column="idx_tup_fetch" jdbcType="BIGINT" property="idxTupFetch" />
    <result column="n_tup_ins" jdbcType="BIGINT" property="nTupIns" />
    <result column="n_tup_upd" jdbcType="BIGINT" property="nTupUpd" />
    <result column="n_tup_del" jdbcType="BIGINT" property="nTupDel" />
    <result column="n_tup_hot_upd" jdbcType="BIGINT" property="nTupHotUpd" />
    <result column="n_tup_newpage_upd" jdbcType="BIGINT" property="nTupNewpageUpd" />
    <result column="n_live_tup" jdbcType="BIGINT" property="nLiveTup" />
    <result column="n_dead_tup" jdbcType="BIGINT" property="nDeadTup" />
    <result column="n_mod_since_analyze" jdbcType="BIGINT" property="nModSinceAnalyze" />
    <result column="n_ins_since_vacuum" jdbcType="BIGINT" property="nInsSinceVacuum" />
    <result column="last_vacuum" jdbcType="TIMESTAMP" property="lastVacuum" />
    <result column="last_autovacuum" jdbcType="TIMESTAMP" property="lastAutovacuum" />
    <result column="last_analyze" jdbcType="TIMESTAMP" property="lastAnalyze" />
    <result column="last_autoanalyze" jdbcType="TIMESTAMP" property="lastAutoanalyze" />
    <result column="vacuum_count" jdbcType="BIGINT" property="vacuumCount" />
    <result column="autovacuum_count" jdbcType="BIGINT" property="autovacuumCount" />
    <result column="analyze_count" jdbcType="BIGINT" property="analyzeCount" />
    <result column="autoanalyze_count" jdbcType="BIGINT" property="autoanalyzeCount" />
    <result column="total_vacuum_time" jdbcType="DOUBLE" property="totalVacuumTime" />
    <result column="total_autovacuum_time" jdbcType="DOUBLE" property="totalAutovacuumTime" />
    <result column="total_analyze_time" jdbcType="DOUBLE" property="totalAnalyzeTime" />
    <result column="total_autoanalyze_time" jdbcType="DOUBLE" property="totalAutoanalyzeTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    relid, schemaname, relname, seq_scan, last_seq_scan, seq_tup_read, idx_scan, last_idx_scan, 
    idx_tup_fetch, n_tup_ins, n_tup_upd, n_tup_del, n_tup_hot_upd, n_tup_newpage_upd, 
    n_live_tup, n_dead_tup, n_mod_since_analyze, n_ins_since_vacuum, last_vacuum, last_autovacuum, 
    last_analyze, last_autoanalyze, vacuum_count, autovacuum_count, analyze_count, autoanalyze_count, 
    total_vacuum_time, total_autovacuum_time, total_analyze_time, total_autoanalyze_time
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgStatUserTablesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_stat_user_tables
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgStatUserTablesExample">
    delete from pg_stat_user_tables
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgStatUserTables">
    insert into pg_stat_user_tables (relid, schemaname, relname, 
      seq_scan, last_seq_scan, seq_tup_read, 
      idx_scan, last_idx_scan, idx_tup_fetch, 
      n_tup_ins, n_tup_upd, n_tup_del, 
      n_tup_hot_upd, n_tup_newpage_upd, n_live_tup, 
      n_dead_tup, n_mod_since_analyze, n_ins_since_vacuum, 
      last_vacuum, last_autovacuum, last_analyze, 
      last_autoanalyze, vacuum_count, autovacuum_count, 
      analyze_count, autoanalyze_count, total_vacuum_time, 
      total_autovacuum_time, total_analyze_time, total_autoanalyze_time
      )
    values (#{relid,jdbcType=BIGINT}, #{schemaname,jdbcType=VARCHAR}, #{relname,jdbcType=VARCHAR}, 
      #{seqScan,jdbcType=BIGINT}, #{lastSeqScan,jdbcType=TIMESTAMP}, #{seqTupRead,jdbcType=BIGINT}, 
      #{idxScan,jdbcType=BIGINT}, #{lastIdxScan,jdbcType=TIMESTAMP}, #{idxTupFetch,jdbcType=BIGINT}, 
      #{nTupIns,jdbcType=BIGINT}, #{nTupUpd,jdbcType=BIGINT}, #{nTupDel,jdbcType=BIGINT}, 
      #{nTupHotUpd,jdbcType=BIGINT}, #{nTupNewpageUpd,jdbcType=BIGINT}, #{nLiveTup,jdbcType=BIGINT}, 
      #{nDeadTup,jdbcType=BIGINT}, #{nModSinceAnalyze,jdbcType=BIGINT}, #{nInsSinceVacuum,jdbcType=BIGINT}, 
      #{lastVacuum,jdbcType=TIMESTAMP}, #{lastAutovacuum,jdbcType=TIMESTAMP}, #{lastAnalyze,jdbcType=TIMESTAMP}, 
      #{lastAutoanalyze,jdbcType=TIMESTAMP}, #{vacuumCount,jdbcType=BIGINT}, #{autovacuumCount,jdbcType=BIGINT}, 
      #{analyzeCount,jdbcType=BIGINT}, #{autoanalyzeCount,jdbcType=BIGINT}, #{totalVacuumTime,jdbcType=DOUBLE}, 
      #{totalAutovacuumTime,jdbcType=DOUBLE}, #{totalAnalyzeTime,jdbcType=DOUBLE}, #{totalAutoanalyzeTime,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgStatUserTables">
    insert into pg_stat_user_tables
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relid != null">
        relid,
      </if>
      <if test="schemaname != null">
        schemaname,
      </if>
      <if test="relname != null">
        relname,
      </if>
      <if test="seqScan != null">
        seq_scan,
      </if>
      <if test="lastSeqScan != null">
        last_seq_scan,
      </if>
      <if test="seqTupRead != null">
        seq_tup_read,
      </if>
      <if test="idxScan != null">
        idx_scan,
      </if>
      <if test="lastIdxScan != null">
        last_idx_scan,
      </if>
      <if test="idxTupFetch != null">
        idx_tup_fetch,
      </if>
      <if test="nTupIns != null">
        n_tup_ins,
      </if>
      <if test="nTupUpd != null">
        n_tup_upd,
      </if>
      <if test="nTupDel != null">
        n_tup_del,
      </if>
      <if test="nTupHotUpd != null">
        n_tup_hot_upd,
      </if>
      <if test="nTupNewpageUpd != null">
        n_tup_newpage_upd,
      </if>
      <if test="nLiveTup != null">
        n_live_tup,
      </if>
      <if test="nDeadTup != null">
        n_dead_tup,
      </if>
      <if test="nModSinceAnalyze != null">
        n_mod_since_analyze,
      </if>
      <if test="nInsSinceVacuum != null">
        n_ins_since_vacuum,
      </if>
      <if test="lastVacuum != null">
        last_vacuum,
      </if>
      <if test="lastAutovacuum != null">
        last_autovacuum,
      </if>
      <if test="lastAnalyze != null">
        last_analyze,
      </if>
      <if test="lastAutoanalyze != null">
        last_autoanalyze,
      </if>
      <if test="vacuumCount != null">
        vacuum_count,
      </if>
      <if test="autovacuumCount != null">
        autovacuum_count,
      </if>
      <if test="analyzeCount != null">
        analyze_count,
      </if>
      <if test="autoanalyzeCount != null">
        autoanalyze_count,
      </if>
      <if test="totalVacuumTime != null">
        total_vacuum_time,
      </if>
      <if test="totalAutovacuumTime != null">
        total_autovacuum_time,
      </if>
      <if test="totalAnalyzeTime != null">
        total_analyze_time,
      </if>
      <if test="totalAutoanalyzeTime != null">
        total_autoanalyze_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relid != null">
        #{relid,jdbcType=BIGINT},
      </if>
      <if test="schemaname != null">
        #{schemaname,jdbcType=VARCHAR},
      </if>
      <if test="relname != null">
        #{relname,jdbcType=VARCHAR},
      </if>
      <if test="seqScan != null">
        #{seqScan,jdbcType=BIGINT},
      </if>
      <if test="lastSeqScan != null">
        #{lastSeqScan,jdbcType=TIMESTAMP},
      </if>
      <if test="seqTupRead != null">
        #{seqTupRead,jdbcType=BIGINT},
      </if>
      <if test="idxScan != null">
        #{idxScan,jdbcType=BIGINT},
      </if>
      <if test="lastIdxScan != null">
        #{lastIdxScan,jdbcType=TIMESTAMP},
      </if>
      <if test="idxTupFetch != null">
        #{idxTupFetch,jdbcType=BIGINT},
      </if>
      <if test="nTupIns != null">
        #{nTupIns,jdbcType=BIGINT},
      </if>
      <if test="nTupUpd != null">
        #{nTupUpd,jdbcType=BIGINT},
      </if>
      <if test="nTupDel != null">
        #{nTupDel,jdbcType=BIGINT},
      </if>
      <if test="nTupHotUpd != null">
        #{nTupHotUpd,jdbcType=BIGINT},
      </if>
      <if test="nTupNewpageUpd != null">
        #{nTupNewpageUpd,jdbcType=BIGINT},
      </if>
      <if test="nLiveTup != null">
        #{nLiveTup,jdbcType=BIGINT},
      </if>
      <if test="nDeadTup != null">
        #{nDeadTup,jdbcType=BIGINT},
      </if>
      <if test="nModSinceAnalyze != null">
        #{nModSinceAnalyze,jdbcType=BIGINT},
      </if>
      <if test="nInsSinceVacuum != null">
        #{nInsSinceVacuum,jdbcType=BIGINT},
      </if>
      <if test="lastVacuum != null">
        #{lastVacuum,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAutovacuum != null">
        #{lastAutovacuum,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAnalyze != null">
        #{lastAnalyze,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAutoanalyze != null">
        #{lastAutoanalyze,jdbcType=TIMESTAMP},
      </if>
      <if test="vacuumCount != null">
        #{vacuumCount,jdbcType=BIGINT},
      </if>
      <if test="autovacuumCount != null">
        #{autovacuumCount,jdbcType=BIGINT},
      </if>
      <if test="analyzeCount != null">
        #{analyzeCount,jdbcType=BIGINT},
      </if>
      <if test="autoanalyzeCount != null">
        #{autoanalyzeCount,jdbcType=BIGINT},
      </if>
      <if test="totalVacuumTime != null">
        #{totalVacuumTime,jdbcType=DOUBLE},
      </if>
      <if test="totalAutovacuumTime != null">
        #{totalAutovacuumTime,jdbcType=DOUBLE},
      </if>
      <if test="totalAnalyzeTime != null">
        #{totalAnalyzeTime,jdbcType=DOUBLE},
      </if>
      <if test="totalAutoanalyzeTime != null">
        #{totalAutoanalyzeTime,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgStatUserTablesExample" resultType="java.lang.Long">
    select count(*) from pg_stat_user_tables
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_stat_user_tables
    <set>
      <if test="row.relid != null">
        relid = #{row.relid,jdbcType=BIGINT},
      </if>
      <if test="row.schemaname != null">
        schemaname = #{row.schemaname,jdbcType=VARCHAR},
      </if>
      <if test="row.relname != null">
        relname = #{row.relname,jdbcType=VARCHAR},
      </if>
      <if test="row.seqScan != null">
        seq_scan = #{row.seqScan,jdbcType=BIGINT},
      </if>
      <if test="row.lastSeqScan != null">
        last_seq_scan = #{row.lastSeqScan,jdbcType=TIMESTAMP},
      </if>
      <if test="row.seqTupRead != null">
        seq_tup_read = #{row.seqTupRead,jdbcType=BIGINT},
      </if>
      <if test="row.idxScan != null">
        idx_scan = #{row.idxScan,jdbcType=BIGINT},
      </if>
      <if test="row.lastIdxScan != null">
        last_idx_scan = #{row.lastIdxScan,jdbcType=TIMESTAMP},
      </if>
      <if test="row.idxTupFetch != null">
        idx_tup_fetch = #{row.idxTupFetch,jdbcType=BIGINT},
      </if>
      <if test="row.nTupIns != null">
        n_tup_ins = #{row.nTupIns,jdbcType=BIGINT},
      </if>
      <if test="row.nTupUpd != null">
        n_tup_upd = #{row.nTupUpd,jdbcType=BIGINT},
      </if>
      <if test="row.nTupDel != null">
        n_tup_del = #{row.nTupDel,jdbcType=BIGINT},
      </if>
      <if test="row.nTupHotUpd != null">
        n_tup_hot_upd = #{row.nTupHotUpd,jdbcType=BIGINT},
      </if>
      <if test="row.nTupNewpageUpd != null">
        n_tup_newpage_upd = #{row.nTupNewpageUpd,jdbcType=BIGINT},
      </if>
      <if test="row.nLiveTup != null">
        n_live_tup = #{row.nLiveTup,jdbcType=BIGINT},
      </if>
      <if test="row.nDeadTup != null">
        n_dead_tup = #{row.nDeadTup,jdbcType=BIGINT},
      </if>
      <if test="row.nModSinceAnalyze != null">
        n_mod_since_analyze = #{row.nModSinceAnalyze,jdbcType=BIGINT},
      </if>
      <if test="row.nInsSinceVacuum != null">
        n_ins_since_vacuum = #{row.nInsSinceVacuum,jdbcType=BIGINT},
      </if>
      <if test="row.lastVacuum != null">
        last_vacuum = #{row.lastVacuum,jdbcType=TIMESTAMP},
      </if>
      <if test="row.lastAutovacuum != null">
        last_autovacuum = #{row.lastAutovacuum,jdbcType=TIMESTAMP},
      </if>
      <if test="row.lastAnalyze != null">
        last_analyze = #{row.lastAnalyze,jdbcType=TIMESTAMP},
      </if>
      <if test="row.lastAutoanalyze != null">
        last_autoanalyze = #{row.lastAutoanalyze,jdbcType=TIMESTAMP},
      </if>
      <if test="row.vacuumCount != null">
        vacuum_count = #{row.vacuumCount,jdbcType=BIGINT},
      </if>
      <if test="row.autovacuumCount != null">
        autovacuum_count = #{row.autovacuumCount,jdbcType=BIGINT},
      </if>
      <if test="row.analyzeCount != null">
        analyze_count = #{row.analyzeCount,jdbcType=BIGINT},
      </if>
      <if test="row.autoanalyzeCount != null">
        autoanalyze_count = #{row.autoanalyzeCount,jdbcType=BIGINT},
      </if>
      <if test="row.totalVacuumTime != null">
        total_vacuum_time = #{row.totalVacuumTime,jdbcType=DOUBLE},
      </if>
      <if test="row.totalAutovacuumTime != null">
        total_autovacuum_time = #{row.totalAutovacuumTime,jdbcType=DOUBLE},
      </if>
      <if test="row.totalAnalyzeTime != null">
        total_analyze_time = #{row.totalAnalyzeTime,jdbcType=DOUBLE},
      </if>
      <if test="row.totalAutoanalyzeTime != null">
        total_autoanalyze_time = #{row.totalAutoanalyzeTime,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_stat_user_tables
    set relid = #{row.relid,jdbcType=BIGINT},
      schemaname = #{row.schemaname,jdbcType=VARCHAR},
      relname = #{row.relname,jdbcType=VARCHAR},
      seq_scan = #{row.seqScan,jdbcType=BIGINT},
      last_seq_scan = #{row.lastSeqScan,jdbcType=TIMESTAMP},
      seq_tup_read = #{row.seqTupRead,jdbcType=BIGINT},
      idx_scan = #{row.idxScan,jdbcType=BIGINT},
      last_idx_scan = #{row.lastIdxScan,jdbcType=TIMESTAMP},
      idx_tup_fetch = #{row.idxTupFetch,jdbcType=BIGINT},
      n_tup_ins = #{row.nTupIns,jdbcType=BIGINT},
      n_tup_upd = #{row.nTupUpd,jdbcType=BIGINT},
      n_tup_del = #{row.nTupDel,jdbcType=BIGINT},
      n_tup_hot_upd = #{row.nTupHotUpd,jdbcType=BIGINT},
      n_tup_newpage_upd = #{row.nTupNewpageUpd,jdbcType=BIGINT},
      n_live_tup = #{row.nLiveTup,jdbcType=BIGINT},
      n_dead_tup = #{row.nDeadTup,jdbcType=BIGINT},
      n_mod_since_analyze = #{row.nModSinceAnalyze,jdbcType=BIGINT},
      n_ins_since_vacuum = #{row.nInsSinceVacuum,jdbcType=BIGINT},
      last_vacuum = #{row.lastVacuum,jdbcType=TIMESTAMP},
      last_autovacuum = #{row.lastAutovacuum,jdbcType=TIMESTAMP},
      last_analyze = #{row.lastAnalyze,jdbcType=TIMESTAMP},
      last_autoanalyze = #{row.lastAutoanalyze,jdbcType=TIMESTAMP},
      vacuum_count = #{row.vacuumCount,jdbcType=BIGINT},
      autovacuum_count = #{row.autovacuumCount,jdbcType=BIGINT},
      analyze_count = #{row.analyzeCount,jdbcType=BIGINT},
      autoanalyze_count = #{row.autoanalyzeCount,jdbcType=BIGINT},
      total_vacuum_time = #{row.totalVacuumTime,jdbcType=DOUBLE},
      total_autovacuum_time = #{row.totalAutovacuumTime,jdbcType=DOUBLE},
      total_analyze_time = #{row.totalAnalyzeTime,jdbcType=DOUBLE},
      total_autoanalyze_time = #{row.totalAutoanalyzeTime,jdbcType=DOUBLE}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>