<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgStatProgressCopyMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgStatProgressCopy">
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="datid" jdbcType="BIGINT" property="datid" />
    <result column="datname" jdbcType="VARCHAR" property="datname" />
    <result column="relid" jdbcType="BIGINT" property="relid" />
    <result column="command" jdbcType="VARCHAR" property="command" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="bytes_processed" jdbcType="BIGINT" property="bytesProcessed" />
    <result column="bytes_total" jdbcType="BIGINT" property="bytesTotal" />
    <result column="tuples_processed" jdbcType="BIGINT" property="tuplesProcessed" />
    <result column="tuples_excluded" jdbcType="BIGINT" property="tuplesExcluded" />
    <result column="tuples_skipped" jdbcType="BIGINT" property="tuplesSkipped" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pid, datid, datname, relid, command, type, bytes_processed, bytes_total, tuples_processed, 
    tuples_excluded, tuples_skipped
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgStatProgressCopyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_stat_progress_copy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgStatProgressCopyExample">
    delete from pg_stat_progress_copy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgStatProgressCopy">
    insert into pg_stat_progress_copy (pid, datid, datname, 
      relid, command, type, 
      bytes_processed, bytes_total, tuples_processed, 
      tuples_excluded, tuples_skipped)
    values (#{pid,jdbcType=INTEGER}, #{datid,jdbcType=BIGINT}, #{datname,jdbcType=VARCHAR}, 
      #{relid,jdbcType=BIGINT}, #{command,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{bytesProcessed,jdbcType=BIGINT}, #{bytesTotal,jdbcType=BIGINT}, #{tuplesProcessed,jdbcType=BIGINT}, 
      #{tuplesExcluded,jdbcType=BIGINT}, #{tuplesSkipped,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgStatProgressCopy">
    insert into pg_stat_progress_copy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="datid != null">
        datid,
      </if>
      <if test="datname != null">
        datname,
      </if>
      <if test="relid != null">
        relid,
      </if>
      <if test="command != null">
        command,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="bytesProcessed != null">
        bytes_processed,
      </if>
      <if test="bytesTotal != null">
        bytes_total,
      </if>
      <if test="tuplesProcessed != null">
        tuples_processed,
      </if>
      <if test="tuplesExcluded != null">
        tuples_excluded,
      </if>
      <if test="tuplesSkipped != null">
        tuples_skipped,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="datid != null">
        #{datid,jdbcType=BIGINT},
      </if>
      <if test="datname != null">
        #{datname,jdbcType=VARCHAR},
      </if>
      <if test="relid != null">
        #{relid,jdbcType=BIGINT},
      </if>
      <if test="command != null">
        #{command,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="bytesProcessed != null">
        #{bytesProcessed,jdbcType=BIGINT},
      </if>
      <if test="bytesTotal != null">
        #{bytesTotal,jdbcType=BIGINT},
      </if>
      <if test="tuplesProcessed != null">
        #{tuplesProcessed,jdbcType=BIGINT},
      </if>
      <if test="tuplesExcluded != null">
        #{tuplesExcluded,jdbcType=BIGINT},
      </if>
      <if test="tuplesSkipped != null">
        #{tuplesSkipped,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgStatProgressCopyExample" resultType="java.lang.Long">
    select count(*) from pg_stat_progress_copy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_stat_progress_copy
    <set>
      <if test="row.pid != null">
        pid = #{row.pid,jdbcType=INTEGER},
      </if>
      <if test="row.datid != null">
        datid = #{row.datid,jdbcType=BIGINT},
      </if>
      <if test="row.datname != null">
        datname = #{row.datname,jdbcType=VARCHAR},
      </if>
      <if test="row.relid != null">
        relid = #{row.relid,jdbcType=BIGINT},
      </if>
      <if test="row.command != null">
        command = #{row.command,jdbcType=VARCHAR},
      </if>
      <if test="row.type != null">
        type = #{row.type,jdbcType=VARCHAR},
      </if>
      <if test="row.bytesProcessed != null">
        bytes_processed = #{row.bytesProcessed,jdbcType=BIGINT},
      </if>
      <if test="row.bytesTotal != null">
        bytes_total = #{row.bytesTotal,jdbcType=BIGINT},
      </if>
      <if test="row.tuplesProcessed != null">
        tuples_processed = #{row.tuplesProcessed,jdbcType=BIGINT},
      </if>
      <if test="row.tuplesExcluded != null">
        tuples_excluded = #{row.tuplesExcluded,jdbcType=BIGINT},
      </if>
      <if test="row.tuplesSkipped != null">
        tuples_skipped = #{row.tuplesSkipped,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_stat_progress_copy
    set pid = #{row.pid,jdbcType=INTEGER},
      datid = #{row.datid,jdbcType=BIGINT},
      datname = #{row.datname,jdbcType=VARCHAR},
      relid = #{row.relid,jdbcType=BIGINT},
      command = #{row.command,jdbcType=VARCHAR},
      type = #{row.type,jdbcType=VARCHAR},
      bytes_processed = #{row.bytesProcessed,jdbcType=BIGINT},
      bytes_total = #{row.bytesTotal,jdbcType=BIGINT},
      tuples_processed = #{row.tuplesProcessed,jdbcType=BIGINT},
      tuples_excluded = #{row.tuplesExcluded,jdbcType=BIGINT},
      tuples_skipped = #{row.tuplesSkipped,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>