<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgStatProgressAnalyzeMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgStatProgressAnalyze">
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="datid" jdbcType="BIGINT" property="datid" />
    <result column="datname" jdbcType="VARCHAR" property="datname" />
    <result column="relid" jdbcType="BIGINT" property="relid" />
    <result column="phase" jdbcType="VARCHAR" property="phase" />
    <result column="sample_blks_total" jdbcType="BIGINT" property="sampleBlksTotal" />
    <result column="sample_blks_scanned" jdbcType="BIGINT" property="sampleBlksScanned" />
    <result column="ext_stats_total" jdbcType="BIGINT" property="extStatsTotal" />
    <result column="ext_stats_computed" jdbcType="BIGINT" property="extStatsComputed" />
    <result column="child_tables_total" jdbcType="BIGINT" property="childTablesTotal" />
    <result column="child_tables_done" jdbcType="BIGINT" property="childTablesDone" />
    <result column="current_child_table_relid" jdbcType="BIGINT" property="currentChildTableRelid" />
    <result column="delay_time" jdbcType="DOUBLE" property="delayTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pid, datid, datname, relid, phase, sample_blks_total, sample_blks_scanned, ext_stats_total, 
    ext_stats_computed, child_tables_total, child_tables_done, current_child_table_relid, 
    delay_time
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgStatProgressAnalyzeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_stat_progress_analyze
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgStatProgressAnalyzeExample">
    delete from pg_stat_progress_analyze
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgStatProgressAnalyze">
    insert into pg_stat_progress_analyze (pid, datid, datname, 
      relid, phase, sample_blks_total, 
      sample_blks_scanned, ext_stats_total, ext_stats_computed, 
      child_tables_total, child_tables_done, current_child_table_relid, 
      delay_time)
    values (#{pid,jdbcType=INTEGER}, #{datid,jdbcType=BIGINT}, #{datname,jdbcType=VARCHAR}, 
      #{relid,jdbcType=BIGINT}, #{phase,jdbcType=VARCHAR}, #{sampleBlksTotal,jdbcType=BIGINT}, 
      #{sampleBlksScanned,jdbcType=BIGINT}, #{extStatsTotal,jdbcType=BIGINT}, #{extStatsComputed,jdbcType=BIGINT}, 
      #{childTablesTotal,jdbcType=BIGINT}, #{childTablesDone,jdbcType=BIGINT}, #{currentChildTableRelid,jdbcType=BIGINT}, 
      #{delayTime,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgStatProgressAnalyze">
    insert into pg_stat_progress_analyze
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="datid != null">
        datid,
      </if>
      <if test="datname != null">
        datname,
      </if>
      <if test="relid != null">
        relid,
      </if>
      <if test="phase != null">
        phase,
      </if>
      <if test="sampleBlksTotal != null">
        sample_blks_total,
      </if>
      <if test="sampleBlksScanned != null">
        sample_blks_scanned,
      </if>
      <if test="extStatsTotal != null">
        ext_stats_total,
      </if>
      <if test="extStatsComputed != null">
        ext_stats_computed,
      </if>
      <if test="childTablesTotal != null">
        child_tables_total,
      </if>
      <if test="childTablesDone != null">
        child_tables_done,
      </if>
      <if test="currentChildTableRelid != null">
        current_child_table_relid,
      </if>
      <if test="delayTime != null">
        delay_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="datid != null">
        #{datid,jdbcType=BIGINT},
      </if>
      <if test="datname != null">
        #{datname,jdbcType=VARCHAR},
      </if>
      <if test="relid != null">
        #{relid,jdbcType=BIGINT},
      </if>
      <if test="phase != null">
        #{phase,jdbcType=VARCHAR},
      </if>
      <if test="sampleBlksTotal != null">
        #{sampleBlksTotal,jdbcType=BIGINT},
      </if>
      <if test="sampleBlksScanned != null">
        #{sampleBlksScanned,jdbcType=BIGINT},
      </if>
      <if test="extStatsTotal != null">
        #{extStatsTotal,jdbcType=BIGINT},
      </if>
      <if test="extStatsComputed != null">
        #{extStatsComputed,jdbcType=BIGINT},
      </if>
      <if test="childTablesTotal != null">
        #{childTablesTotal,jdbcType=BIGINT},
      </if>
      <if test="childTablesDone != null">
        #{childTablesDone,jdbcType=BIGINT},
      </if>
      <if test="currentChildTableRelid != null">
        #{currentChildTableRelid,jdbcType=BIGINT},
      </if>
      <if test="delayTime != null">
        #{delayTime,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgStatProgressAnalyzeExample" resultType="java.lang.Long">
    select count(*) from pg_stat_progress_analyze
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_stat_progress_analyze
    <set>
      <if test="row.pid != null">
        pid = #{row.pid,jdbcType=INTEGER},
      </if>
      <if test="row.datid != null">
        datid = #{row.datid,jdbcType=BIGINT},
      </if>
      <if test="row.datname != null">
        datname = #{row.datname,jdbcType=VARCHAR},
      </if>
      <if test="row.relid != null">
        relid = #{row.relid,jdbcType=BIGINT},
      </if>
      <if test="row.phase != null">
        phase = #{row.phase,jdbcType=VARCHAR},
      </if>
      <if test="row.sampleBlksTotal != null">
        sample_blks_total = #{row.sampleBlksTotal,jdbcType=BIGINT},
      </if>
      <if test="row.sampleBlksScanned != null">
        sample_blks_scanned = #{row.sampleBlksScanned,jdbcType=BIGINT},
      </if>
      <if test="row.extStatsTotal != null">
        ext_stats_total = #{row.extStatsTotal,jdbcType=BIGINT},
      </if>
      <if test="row.extStatsComputed != null">
        ext_stats_computed = #{row.extStatsComputed,jdbcType=BIGINT},
      </if>
      <if test="row.childTablesTotal != null">
        child_tables_total = #{row.childTablesTotal,jdbcType=BIGINT},
      </if>
      <if test="row.childTablesDone != null">
        child_tables_done = #{row.childTablesDone,jdbcType=BIGINT},
      </if>
      <if test="row.currentChildTableRelid != null">
        current_child_table_relid = #{row.currentChildTableRelid,jdbcType=BIGINT},
      </if>
      <if test="row.delayTime != null">
        delay_time = #{row.delayTime,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_stat_progress_analyze
    set pid = #{row.pid,jdbcType=INTEGER},
      datid = #{row.datid,jdbcType=BIGINT},
      datname = #{row.datname,jdbcType=VARCHAR},
      relid = #{row.relid,jdbcType=BIGINT},
      phase = #{row.phase,jdbcType=VARCHAR},
      sample_blks_total = #{row.sampleBlksTotal,jdbcType=BIGINT},
      sample_blks_scanned = #{row.sampleBlksScanned,jdbcType=BIGINT},
      ext_stats_total = #{row.extStatsTotal,jdbcType=BIGINT},
      ext_stats_computed = #{row.extStatsComputed,jdbcType=BIGINT},
      child_tables_total = #{row.childTablesTotal,jdbcType=BIGINT},
      child_tables_done = #{row.childTablesDone,jdbcType=BIGINT},
      current_child_table_relid = #{row.currentChildTableRelid,jdbcType=BIGINT},
      delay_time = #{row.delayTime,jdbcType=DOUBLE}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>