<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgStatSslMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgStatSsl">
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="ssl" jdbcType="BIT" property="ssl" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="cipher" jdbcType="VARCHAR" property="cipher" />
    <result column="bits" jdbcType="INTEGER" property="bits" />
    <result column="client_dn" jdbcType="VARCHAR" property="clientDn" />
    <result column="client_serial" jdbcType="NUMERIC" property="clientSerial" />
    <result column="issuer_dn" jdbcType="VARCHAR" property="issuerDn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pid, ssl, version, cipher, bits, client_dn, client_serial, issuer_dn
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgStatSslExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_stat_ssl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgStatSslExample">
    delete from pg_stat_ssl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgStatSsl">
    insert into pg_stat_ssl (pid, ssl, version, 
      cipher, bits, client_dn, 
      client_serial, issuer_dn)
    values (#{pid,jdbcType=INTEGER}, #{ssl,jdbcType=BIT}, #{version,jdbcType=VARCHAR}, 
      #{cipher,jdbcType=VARCHAR}, #{bits,jdbcType=INTEGER}, #{clientDn,jdbcType=VARCHAR}, 
      #{clientSerial,jdbcType=NUMERIC}, #{issuerDn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgStatSsl">
    insert into pg_stat_ssl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="ssl != null">
        ssl,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="cipher != null">
        cipher,
      </if>
      <if test="bits != null">
        bits,
      </if>
      <if test="clientDn != null">
        client_dn,
      </if>
      <if test="clientSerial != null">
        client_serial,
      </if>
      <if test="issuerDn != null">
        issuer_dn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="ssl != null">
        #{ssl,jdbcType=BIT},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="cipher != null">
        #{cipher,jdbcType=VARCHAR},
      </if>
      <if test="bits != null">
        #{bits,jdbcType=INTEGER},
      </if>
      <if test="clientDn != null">
        #{clientDn,jdbcType=VARCHAR},
      </if>
      <if test="clientSerial != null">
        #{clientSerial,jdbcType=NUMERIC},
      </if>
      <if test="issuerDn != null">
        #{issuerDn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgStatSslExample" resultType="java.lang.Long">
    select count(*) from pg_stat_ssl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_stat_ssl
    <set>
      <if test="row.pid != null">
        pid = #{row.pid,jdbcType=INTEGER},
      </if>
      <if test="row.ssl != null">
        ssl = #{row.ssl,jdbcType=BIT},
      </if>
      <if test="row.version != null">
        version = #{row.version,jdbcType=VARCHAR},
      </if>
      <if test="row.cipher != null">
        cipher = #{row.cipher,jdbcType=VARCHAR},
      </if>
      <if test="row.bits != null">
        bits = #{row.bits,jdbcType=INTEGER},
      </if>
      <if test="row.clientDn != null">
        client_dn = #{row.clientDn,jdbcType=VARCHAR},
      </if>
      <if test="row.clientSerial != null">
        client_serial = #{row.clientSerial,jdbcType=NUMERIC},
      </if>
      <if test="row.issuerDn != null">
        issuer_dn = #{row.issuerDn,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_stat_ssl
    set pid = #{row.pid,jdbcType=INTEGER},
      ssl = #{row.ssl,jdbcType=BIT},
      version = #{row.version,jdbcType=VARCHAR},
      cipher = #{row.cipher,jdbcType=VARCHAR},
      bits = #{row.bits,jdbcType=INTEGER},
      client_dn = #{row.clientDn,jdbcType=VARCHAR},
      client_serial = #{row.clientSerial,jdbcType=NUMERIC},
      issuer_dn = #{row.issuerDn,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>