<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgStatArchiverMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgStatArchiver">
    <result column="archived_count" jdbcType="BIGINT" property="archivedCount" />
    <result column="last_archived_wal" jdbcType="VARCHAR" property="lastArchivedWal" />
    <result column="last_archived_time" jdbcType="TIMESTAMP" property="lastArchivedTime" />
    <result column="failed_count" jdbcType="BIGINT" property="failedCount" />
    <result column="last_failed_wal" jdbcType="VARCHAR" property="lastFailedWal" />
    <result column="last_failed_time" jdbcType="TIMESTAMP" property="lastFailedTime" />
    <result column="stats_reset" jdbcType="TIMESTAMP" property="statsReset" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    archived_count, last_archived_wal, last_archived_time, failed_count, last_failed_wal, 
    last_failed_time, stats_reset
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgStatArchiverExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_stat_archiver
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgStatArchiverExample">
    delete from pg_stat_archiver
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgStatArchiver">
    insert into pg_stat_archiver (archived_count, last_archived_wal, last_archived_time, 
      failed_count, last_failed_wal, last_failed_time, 
      stats_reset)
    values (#{archivedCount,jdbcType=BIGINT}, #{lastArchivedWal,jdbcType=VARCHAR}, #{lastArchivedTime,jdbcType=TIMESTAMP}, 
      #{failedCount,jdbcType=BIGINT}, #{lastFailedWal,jdbcType=VARCHAR}, #{lastFailedTime,jdbcType=TIMESTAMP}, 
      #{statsReset,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgStatArchiver">
    insert into pg_stat_archiver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="archivedCount != null">
        archived_count,
      </if>
      <if test="lastArchivedWal != null">
        last_archived_wal,
      </if>
      <if test="lastArchivedTime != null">
        last_archived_time,
      </if>
      <if test="failedCount != null">
        failed_count,
      </if>
      <if test="lastFailedWal != null">
        last_failed_wal,
      </if>
      <if test="lastFailedTime != null">
        last_failed_time,
      </if>
      <if test="statsReset != null">
        stats_reset,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="archivedCount != null">
        #{archivedCount,jdbcType=BIGINT},
      </if>
      <if test="lastArchivedWal != null">
        #{lastArchivedWal,jdbcType=VARCHAR},
      </if>
      <if test="lastArchivedTime != null">
        #{lastArchivedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failedCount != null">
        #{failedCount,jdbcType=BIGINT},
      </if>
      <if test="lastFailedWal != null">
        #{lastFailedWal,jdbcType=VARCHAR},
      </if>
      <if test="lastFailedTime != null">
        #{lastFailedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statsReset != null">
        #{statsReset,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgStatArchiverExample" resultType="java.lang.Long">
    select count(*) from pg_stat_archiver
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_stat_archiver
    <set>
      <if test="row.archivedCount != null">
        archived_count = #{row.archivedCount,jdbcType=BIGINT},
      </if>
      <if test="row.lastArchivedWal != null">
        last_archived_wal = #{row.lastArchivedWal,jdbcType=VARCHAR},
      </if>
      <if test="row.lastArchivedTime != null">
        last_archived_time = #{row.lastArchivedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.failedCount != null">
        failed_count = #{row.failedCount,jdbcType=BIGINT},
      </if>
      <if test="row.lastFailedWal != null">
        last_failed_wal = #{row.lastFailedWal,jdbcType=VARCHAR},
      </if>
      <if test="row.lastFailedTime != null">
        last_failed_time = #{row.lastFailedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.statsReset != null">
        stats_reset = #{row.statsReset,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_stat_archiver
    set archived_count = #{row.archivedCount,jdbcType=BIGINT},
      last_archived_wal = #{row.lastArchivedWal,jdbcType=VARCHAR},
      last_archived_time = #{row.lastArchivedTime,jdbcType=TIMESTAMP},
      failed_count = #{row.failedCount,jdbcType=BIGINT},
      last_failed_wal = #{row.lastFailedWal,jdbcType=VARCHAR},
      last_failed_time = #{row.lastFailedTime,jdbcType=TIMESTAMP},
      stats_reset = #{row.statsReset,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>