<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgStatProgressBasebackupMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgStatProgressBasebackup">
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="phase" jdbcType="VARCHAR" property="phase" />
    <result column="backup_total" jdbcType="BIGINT" property="backupTotal" />
    <result column="backup_streamed" jdbcType="BIGINT" property="backupStreamed" />
    <result column="tablespaces_total" jdbcType="BIGINT" property="tablespacesTotal" />
    <result column="tablespaces_streamed" jdbcType="BIGINT" property="tablespacesStreamed" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pid, phase, backup_total, backup_streamed, tablespaces_total, tablespaces_streamed
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgStatProgressBasebackupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_stat_progress_basebackup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgStatProgressBasebackupExample">
    delete from pg_stat_progress_basebackup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgStatProgressBasebackup">
    insert into pg_stat_progress_basebackup (pid, phase, backup_total, 
      backup_streamed, tablespaces_total, tablespaces_streamed
      )
    values (#{pid,jdbcType=INTEGER}, #{phase,jdbcType=VARCHAR}, #{backupTotal,jdbcType=BIGINT}, 
      #{backupStreamed,jdbcType=BIGINT}, #{tablespacesTotal,jdbcType=BIGINT}, #{tablespacesStreamed,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgStatProgressBasebackup">
    insert into pg_stat_progress_basebackup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="phase != null">
        phase,
      </if>
      <if test="backupTotal != null">
        backup_total,
      </if>
      <if test="backupStreamed != null">
        backup_streamed,
      </if>
      <if test="tablespacesTotal != null">
        tablespaces_total,
      </if>
      <if test="tablespacesStreamed != null">
        tablespaces_streamed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="phase != null">
        #{phase,jdbcType=VARCHAR},
      </if>
      <if test="backupTotal != null">
        #{backupTotal,jdbcType=BIGINT},
      </if>
      <if test="backupStreamed != null">
        #{backupStreamed,jdbcType=BIGINT},
      </if>
      <if test="tablespacesTotal != null">
        #{tablespacesTotal,jdbcType=BIGINT},
      </if>
      <if test="tablespacesStreamed != null">
        #{tablespacesStreamed,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgStatProgressBasebackupExample" resultType="java.lang.Long">
    select count(*) from pg_stat_progress_basebackup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_stat_progress_basebackup
    <set>
      <if test="row.pid != null">
        pid = #{row.pid,jdbcType=INTEGER},
      </if>
      <if test="row.phase != null">
        phase = #{row.phase,jdbcType=VARCHAR},
      </if>
      <if test="row.backupTotal != null">
        backup_total = #{row.backupTotal,jdbcType=BIGINT},
      </if>
      <if test="row.backupStreamed != null">
        backup_streamed = #{row.backupStreamed,jdbcType=BIGINT},
      </if>
      <if test="row.tablespacesTotal != null">
        tablespaces_total = #{row.tablespacesTotal,jdbcType=BIGINT},
      </if>
      <if test="row.tablespacesStreamed != null">
        tablespaces_streamed = #{row.tablespacesStreamed,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_stat_progress_basebackup
    set pid = #{row.pid,jdbcType=INTEGER},
      phase = #{row.phase,jdbcType=VARCHAR},
      backup_total = #{row.backupTotal,jdbcType=BIGINT},
      backup_streamed = #{row.backupStreamed,jdbcType=BIGINT},
      tablespaces_total = #{row.tablespacesTotal,jdbcType=BIGINT},
      tablespaces_streamed = #{row.tablespacesStreamed,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>