<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgStatSubscriptionStatsMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgStatSubscriptionStats">
    <result column="subid" jdbcType="BIGINT" property="subid" />
    <result column="subname" jdbcType="VARCHAR" property="subname" />
    <result column="apply_error_count" jdbcType="BIGINT" property="applyErrorCount" />
    <result column="sync_error_count" jdbcType="BIGINT" property="syncErrorCount" />
    <result column="confl_insert_exists" jdbcType="BIGINT" property="conflInsertExists" />
    <result column="confl_update_origin_differs" jdbcType="BIGINT" property="conflUpdateOriginDiffers" />
    <result column="confl_update_exists" jdbcType="BIGINT" property="conflUpdateExists" />
    <result column="confl_update_missing" jdbcType="BIGINT" property="conflUpdateMissing" />
    <result column="confl_delete_origin_differs" jdbcType="BIGINT" property="conflDeleteOriginDiffers" />
    <result column="confl_delete_missing" jdbcType="BIGINT" property="conflDeleteMissing" />
    <result column="confl_multiple_unique_conflicts" jdbcType="BIGINT" property="conflMultipleUniqueConflicts" />
    <result column="stats_reset" jdbcType="TIMESTAMP" property="statsReset" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    subid, subname, apply_error_count, sync_error_count, confl_insert_exists, confl_update_origin_differs, 
    confl_update_exists, confl_update_missing, confl_delete_origin_differs, confl_delete_missing, 
    confl_multiple_unique_conflicts, stats_reset
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgStatSubscriptionStatsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_stat_subscription_stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgStatSubscriptionStatsExample">
    delete from pg_stat_subscription_stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgStatSubscriptionStats">
    insert into pg_stat_subscription_stats (subid, subname, apply_error_count, 
      sync_error_count, confl_insert_exists, confl_update_origin_differs, 
      confl_update_exists, confl_update_missing, confl_delete_origin_differs, 
      confl_delete_missing, confl_multiple_unique_conflicts, 
      stats_reset)
    values (#{subid,jdbcType=BIGINT}, #{subname,jdbcType=VARCHAR}, #{applyErrorCount,jdbcType=BIGINT}, 
      #{syncErrorCount,jdbcType=BIGINT}, #{conflInsertExists,jdbcType=BIGINT}, #{conflUpdateOriginDiffers,jdbcType=BIGINT}, 
      #{conflUpdateExists,jdbcType=BIGINT}, #{conflUpdateMissing,jdbcType=BIGINT}, #{conflDeleteOriginDiffers,jdbcType=BIGINT}, 
      #{conflDeleteMissing,jdbcType=BIGINT}, #{conflMultipleUniqueConflicts,jdbcType=BIGINT}, 
      #{statsReset,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgStatSubscriptionStats">
    insert into pg_stat_subscription_stats
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subid != null">
        subid,
      </if>
      <if test="subname != null">
        subname,
      </if>
      <if test="applyErrorCount != null">
        apply_error_count,
      </if>
      <if test="syncErrorCount != null">
        sync_error_count,
      </if>
      <if test="conflInsertExists != null">
        confl_insert_exists,
      </if>
      <if test="conflUpdateOriginDiffers != null">
        confl_update_origin_differs,
      </if>
      <if test="conflUpdateExists != null">
        confl_update_exists,
      </if>
      <if test="conflUpdateMissing != null">
        confl_update_missing,
      </if>
      <if test="conflDeleteOriginDiffers != null">
        confl_delete_origin_differs,
      </if>
      <if test="conflDeleteMissing != null">
        confl_delete_missing,
      </if>
      <if test="conflMultipleUniqueConflicts != null">
        confl_multiple_unique_conflicts,
      </if>
      <if test="statsReset != null">
        stats_reset,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subid != null">
        #{subid,jdbcType=BIGINT},
      </if>
      <if test="subname != null">
        #{subname,jdbcType=VARCHAR},
      </if>
      <if test="applyErrorCount != null">
        #{applyErrorCount,jdbcType=BIGINT},
      </if>
      <if test="syncErrorCount != null">
        #{syncErrorCount,jdbcType=BIGINT},
      </if>
      <if test="conflInsertExists != null">
        #{conflInsertExists,jdbcType=BIGINT},
      </if>
      <if test="conflUpdateOriginDiffers != null">
        #{conflUpdateOriginDiffers,jdbcType=BIGINT},
      </if>
      <if test="conflUpdateExists != null">
        #{conflUpdateExists,jdbcType=BIGINT},
      </if>
      <if test="conflUpdateMissing != null">
        #{conflUpdateMissing,jdbcType=BIGINT},
      </if>
      <if test="conflDeleteOriginDiffers != null">
        #{conflDeleteOriginDiffers,jdbcType=BIGINT},
      </if>
      <if test="conflDeleteMissing != null">
        #{conflDeleteMissing,jdbcType=BIGINT},
      </if>
      <if test="conflMultipleUniqueConflicts != null">
        #{conflMultipleUniqueConflicts,jdbcType=BIGINT},
      </if>
      <if test="statsReset != null">
        #{statsReset,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgStatSubscriptionStatsExample" resultType="java.lang.Long">
    select count(*) from pg_stat_subscription_stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_stat_subscription_stats
    <set>
      <if test="row.subid != null">
        subid = #{row.subid,jdbcType=BIGINT},
      </if>
      <if test="row.subname != null">
        subname = #{row.subname,jdbcType=VARCHAR},
      </if>
      <if test="row.applyErrorCount != null">
        apply_error_count = #{row.applyErrorCount,jdbcType=BIGINT},
      </if>
      <if test="row.syncErrorCount != null">
        sync_error_count = #{row.syncErrorCount,jdbcType=BIGINT},
      </if>
      <if test="row.conflInsertExists != null">
        confl_insert_exists = #{row.conflInsertExists,jdbcType=BIGINT},
      </if>
      <if test="row.conflUpdateOriginDiffers != null">
        confl_update_origin_differs = #{row.conflUpdateOriginDiffers,jdbcType=BIGINT},
      </if>
      <if test="row.conflUpdateExists != null">
        confl_update_exists = #{row.conflUpdateExists,jdbcType=BIGINT},
      </if>
      <if test="row.conflUpdateMissing != null">
        confl_update_missing = #{row.conflUpdateMissing,jdbcType=BIGINT},
      </if>
      <if test="row.conflDeleteOriginDiffers != null">
        confl_delete_origin_differs = #{row.conflDeleteOriginDiffers,jdbcType=BIGINT},
      </if>
      <if test="row.conflDeleteMissing != null">
        confl_delete_missing = #{row.conflDeleteMissing,jdbcType=BIGINT},
      </if>
      <if test="row.conflMultipleUniqueConflicts != null">
        confl_multiple_unique_conflicts = #{row.conflMultipleUniqueConflicts,jdbcType=BIGINT},
      </if>
      <if test="row.statsReset != null">
        stats_reset = #{row.statsReset,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_stat_subscription_stats
    set subid = #{row.subid,jdbcType=BIGINT},
      subname = #{row.subname,jdbcType=VARCHAR},
      apply_error_count = #{row.applyErrorCount,jdbcType=BIGINT},
      sync_error_count = #{row.syncErrorCount,jdbcType=BIGINT},
      confl_insert_exists = #{row.conflInsertExists,jdbcType=BIGINT},
      confl_update_origin_differs = #{row.conflUpdateOriginDiffers,jdbcType=BIGINT},
      confl_update_exists = #{row.conflUpdateExists,jdbcType=BIGINT},
      confl_update_missing = #{row.conflUpdateMissing,jdbcType=BIGINT},
      confl_delete_origin_differs = #{row.conflDeleteOriginDiffers,jdbcType=BIGINT},
      confl_delete_missing = #{row.conflDeleteMissing,jdbcType=BIGINT},
      confl_multiple_unique_conflicts = #{row.conflMultipleUniqueConflicts,jdbcType=BIGINT},
      stats_reset = #{row.statsReset,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>