<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.PgTsParserMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.PgTsParser">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="prsname" jdbcType="VARCHAR" property="prsname" />
    <result column="prsnamespace" jdbcType="BIGINT" property="prsnamespace" />
    <result column="prsstart" jdbcType="OTHER" property="prsstart" />
    <result column="prstoken" jdbcType="OTHER" property="prstoken" />
    <result column="prsend" jdbcType="OTHER" property="prsend" />
    <result column="prsheadline" jdbcType="OTHER" property="prsheadline" />
    <result column="prslextype" jdbcType="OTHER" property="prslextype" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, prsname, prsnamespace, prsstart, prstoken, prsend, prsheadline, prslextype
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.PgTsParserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_ts_parser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_ts_parser
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_ts_parser
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.PgTsParserExample">
    delete from pg_ts_parser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.mbg.model.PgTsParser">
    insert into pg_ts_parser (oid, prsname, prsnamespace, 
      prsstart, prstoken, prsend, 
      prsheadline, prslextype)
    values (#{oid,jdbcType=BIGINT}, #{prsname,jdbcType=VARCHAR}, #{prsnamespace,jdbcType=BIGINT}, 
      #{prsstart,jdbcType=OTHER}, #{prstoken,jdbcType=OTHER}, #{prsend,jdbcType=OTHER}, 
      #{prsheadline,jdbcType=OTHER}, #{prslextype,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.mbg.model.PgTsParser">
    insert into pg_ts_parser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="prsname != null">
        prsname,
      </if>
      <if test="prsnamespace != null">
        prsnamespace,
      </if>
      <if test="prsstart != null">
        prsstart,
      </if>
      <if test="prstoken != null">
        prstoken,
      </if>
      <if test="prsend != null">
        prsend,
      </if>
      <if test="prsheadline != null">
        prsheadline,
      </if>
      <if test="prslextype != null">
        prslextype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="prsname != null">
        #{prsname,jdbcType=VARCHAR},
      </if>
      <if test="prsnamespace != null">
        #{prsnamespace,jdbcType=BIGINT},
      </if>
      <if test="prsstart != null">
        #{prsstart,jdbcType=OTHER},
      </if>
      <if test="prstoken != null">
        #{prstoken,jdbcType=OTHER},
      </if>
      <if test="prsend != null">
        #{prsend,jdbcType=OTHER},
      </if>
      <if test="prsheadline != null">
        #{prsheadline,jdbcType=OTHER},
      </if>
      <if test="prslextype != null">
        #{prslextype,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.PgTsParserExample" resultType="java.lang.Long">
    select count(*) from pg_ts_parser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_ts_parser
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.prsname != null">
        prsname = #{row.prsname,jdbcType=VARCHAR},
      </if>
      <if test="row.prsnamespace != null">
        prsnamespace = #{row.prsnamespace,jdbcType=BIGINT},
      </if>
      <if test="row.prsstart != null">
        prsstart = #{row.prsstart,jdbcType=OTHER},
      </if>
      <if test="row.prstoken != null">
        prstoken = #{row.prstoken,jdbcType=OTHER},
      </if>
      <if test="row.prsend != null">
        prsend = #{row.prsend,jdbcType=OTHER},
      </if>
      <if test="row.prsheadline != null">
        prsheadline = #{row.prsheadline,jdbcType=OTHER},
      </if>
      <if test="row.prslextype != null">
        prslextype = #{row.prslextype,jdbcType=OTHER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_ts_parser
    set oid = #{row.oid,jdbcType=BIGINT},
      prsname = #{row.prsname,jdbcType=VARCHAR},
      prsnamespace = #{row.prsnamespace,jdbcType=BIGINT},
      prsstart = #{row.prsstart,jdbcType=OTHER},
      prstoken = #{row.prstoken,jdbcType=OTHER},
      prsend = #{row.prsend,jdbcType=OTHER},
      prsheadline = #{row.prsheadline,jdbcType=OTHER},
      prslextype = #{row.prslextype,jdbcType=OTHER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.mbg.model.PgTsParser">
    update pg_ts_parser
    <set>
      <if test="prsname != null">
        prsname = #{prsname,jdbcType=VARCHAR},
      </if>
      <if test="prsnamespace != null">
        prsnamespace = #{prsnamespace,jdbcType=BIGINT},
      </if>
      <if test="prsstart != null">
        prsstart = #{prsstart,jdbcType=OTHER},
      </if>
      <if test="prstoken != null">
        prstoken = #{prstoken,jdbcType=OTHER},
      </if>
      <if test="prsend != null">
        prsend = #{prsend,jdbcType=OTHER},
      </if>
      <if test="prsheadline != null">
        prsheadline = #{prsheadline,jdbcType=OTHER},
      </if>
      <if test="prslextype != null">
        prslextype = #{prslextype,jdbcType=OTHER},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.mbg.model.PgTsParser">
    update pg_ts_parser
    set prsname = #{prsname,jdbcType=VARCHAR},
      prsnamespace = #{prsnamespace,jdbcType=BIGINT},
      prsstart = #{prsstart,jdbcType=OTHER},
      prstoken = #{prstoken,jdbcType=OTHER},
      prsend = #{prsend,jdbcType=OTHER},
      prsheadline = #{prsheadline,jdbcType=OTHER},
      prslextype = #{prslextype,jdbcType=OTHER}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>