<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.mbg.mapper.UmsMemberLevelMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.mbg.model.UmsMemberLevel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="growth_point" jdbcType="INTEGER" property="growthPoint" />
    <result column="default_status" jdbcType="BIT" property="defaultStatus" />
    <result column="comment_growth_point" jdbcType="INTEGER" property="commentGrowthPoint" />
    <result column="priviledge_sign_in" jdbcType="BIT" property="priviledgeSignIn" />
    <result column="priviledge_comment" jdbcType="BIT" property="priviledgeComment" />
    <result column="priviledge_promotion" jdbcType="BIT" property="priviledgePromotion" />
    <result column="priviledge_member_price" jdbcType="BIT" property="priviledgeMemberPrice" />
    <result column="priviledge_birthday" jdbcType="BIT" property="priviledgeBirthday" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, growth_point, default_status, comment_growth_point, priviledge_sign_in, 
    priviledge_comment, priviledge_promotion, priviledge_member_price, priviledge_birthday, 
    note
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.mbg.model.UmsMemberLevelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from public.ums_member_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.ums_member_level
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from public.ums_member_level
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.mbg.model.UmsMemberLevelExample">
    delete from public.ums_member_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pool.readio.mbg.model.UmsMemberLevel" useGeneratedKeys="true">
    insert into public.ums_member_level (name, growth_point, default_status, 
      comment_growth_point, priviledge_sign_in, priviledge_comment, 
      priviledge_promotion, priviledge_member_price, priviledge_birthday, 
      note)
    values (#{name,jdbcType=VARCHAR}, #{growthPoint,jdbcType=INTEGER}, #{defaultStatus,jdbcType=BIT}, 
      #{commentGrowthPoint,jdbcType=INTEGER}, #{priviledgeSignIn,jdbcType=BIT}, #{priviledgeComment,jdbcType=BIT}, 
      #{priviledgePromotion,jdbcType=BIT}, #{priviledgeMemberPrice,jdbcType=BIT}, #{priviledgeBirthday,jdbcType=BIT}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.pool.readio.mbg.model.UmsMemberLevel" useGeneratedKeys="true">
    insert into public.ums_member_level
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="growthPoint != null">
        growth_point,
      </if>
      <if test="defaultStatus != null">
        default_status,
      </if>
      <if test="commentGrowthPoint != null">
        comment_growth_point,
      </if>
      <if test="priviledgeSignIn != null">
        priviledge_sign_in,
      </if>
      <if test="priviledgeComment != null">
        priviledge_comment,
      </if>
      <if test="priviledgePromotion != null">
        priviledge_promotion,
      </if>
      <if test="priviledgeMemberPrice != null">
        priviledge_member_price,
      </if>
      <if test="priviledgeBirthday != null">
        priviledge_birthday,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="growthPoint != null">
        #{growthPoint,jdbcType=INTEGER},
      </if>
      <if test="defaultStatus != null">
        #{defaultStatus,jdbcType=BIT},
      </if>
      <if test="commentGrowthPoint != null">
        #{commentGrowthPoint,jdbcType=INTEGER},
      </if>
      <if test="priviledgeSignIn != null">
        #{priviledgeSignIn,jdbcType=BIT},
      </if>
      <if test="priviledgeComment != null">
        #{priviledgeComment,jdbcType=BIT},
      </if>
      <if test="priviledgePromotion != null">
        #{priviledgePromotion,jdbcType=BIT},
      </if>
      <if test="priviledgeMemberPrice != null">
        #{priviledgeMemberPrice,jdbcType=BIT},
      </if>
      <if test="priviledgeBirthday != null">
        #{priviledgeBirthday,jdbcType=BIT},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.mbg.model.UmsMemberLevelExample" resultType="java.lang.Long">
    select count(*) from public.ums_member_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update public.ums_member_level
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.name != null">
        name = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.growthPoint != null">
        growth_point = #{row.growthPoint,jdbcType=INTEGER},
      </if>
      <if test="row.defaultStatus != null">
        default_status = #{row.defaultStatus,jdbcType=BIT},
      </if>
      <if test="row.commentGrowthPoint != null">
        comment_growth_point = #{row.commentGrowthPoint,jdbcType=INTEGER},
      </if>
      <if test="row.priviledgeSignIn != null">
        priviledge_sign_in = #{row.priviledgeSignIn,jdbcType=BIT},
      </if>
      <if test="row.priviledgeComment != null">
        priviledge_comment = #{row.priviledgeComment,jdbcType=BIT},
      </if>
      <if test="row.priviledgePromotion != null">
        priviledge_promotion = #{row.priviledgePromotion,jdbcType=BIT},
      </if>
      <if test="row.priviledgeMemberPrice != null">
        priviledge_member_price = #{row.priviledgeMemberPrice,jdbcType=BIT},
      </if>
      <if test="row.priviledgeBirthday != null">
        priviledge_birthday = #{row.priviledgeBirthday,jdbcType=BIT},
      </if>
      <if test="row.note != null">
        note = #{row.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update public.ums_member_level
    set id = #{row.id,jdbcType=INTEGER},
      name = #{row.name,jdbcType=VARCHAR},
      growth_point = #{row.growthPoint,jdbcType=INTEGER},
      default_status = #{row.defaultStatus,jdbcType=BIT},
      comment_growth_point = #{row.commentGrowthPoint,jdbcType=INTEGER},
      priviledge_sign_in = #{row.priviledgeSignIn,jdbcType=BIT},
      priviledge_comment = #{row.priviledgeComment,jdbcType=BIT},
      priviledge_promotion = #{row.priviledgePromotion,jdbcType=BIT},
      priviledge_member_price = #{row.priviledgeMemberPrice,jdbcType=BIT},
      priviledge_birthday = #{row.priviledgeBirthday,jdbcType=BIT},
      note = #{row.note,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.mbg.model.UmsMemberLevel">
    update public.ums_member_level
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="growthPoint != null">
        growth_point = #{growthPoint,jdbcType=INTEGER},
      </if>
      <if test="defaultStatus != null">
        default_status = #{defaultStatus,jdbcType=BIT},
      </if>
      <if test="commentGrowthPoint != null">
        comment_growth_point = #{commentGrowthPoint,jdbcType=INTEGER},
      </if>
      <if test="priviledgeSignIn != null">
        priviledge_sign_in = #{priviledgeSignIn,jdbcType=BIT},
      </if>
      <if test="priviledgeComment != null">
        priviledge_comment = #{priviledgeComment,jdbcType=BIT},
      </if>
      <if test="priviledgePromotion != null">
        priviledge_promotion = #{priviledgePromotion,jdbcType=BIT},
      </if>
      <if test="priviledgeMemberPrice != null">
        priviledge_member_price = #{priviledgeMemberPrice,jdbcType=BIT},
      </if>
      <if test="priviledgeBirthday != null">
        priviledge_birthday = #{priviledgeBirthday,jdbcType=BIT},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.mbg.model.UmsMemberLevel">
    update public.ums_member_level
    set name = #{name,jdbcType=VARCHAR},
      growth_point = #{growthPoint,jdbcType=INTEGER},
      default_status = #{defaultStatus,jdbcType=BIT},
      comment_growth_point = #{commentGrowthPoint,jdbcType=INTEGER},
      priviledge_sign_in = #{priviledgeSignIn,jdbcType=BIT},
      priviledge_comment = #{priviledgeComment,jdbcType=BIT},
      priviledge_promotion = #{priviledgePromotion,jdbcType=BIT},
      priviledge_member_price = #{priviledgeMemberPrice,jdbcType=BIT},
      priviledge_birthday = #{priviledgeBirthday,jdbcType=BIT},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>