# 在 Nacos 中创建配置：Data ID = readio-admin.yaml，Group = DEFAULT_GROUP，格式 = YAML
# 以下内容可粘贴到 Nacos 配置内容中，按环境修改数据库、Redis、MinIO 等地址与密钥

server:
  port: 8402
spring:
  application:
    name: readio-admin
  autoconfigure:
    exclude:
      - org.mybatis.spring.boot.autoconfigure.MybatisAutoConfiguration
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    url: jdbc:postgresql://localhost:26001/readio?currentSchema=public
    username: readio
    password: readio
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      database: 0
      port: 26002
      host: localhost
      username: readio
      password: readio
redis:
  database: "0"
  expire:
    common: 86400
  key:
    admin: admin
sa-token:
  token-prefix: Bearer
minio:
  endpoint: http://localhost:9000
  access-key: readio
  secret-key: readio123
  bucket: readio
  dir:
    prefix: readio/
  policy:
    expire: 3600
  maxSize: 10
  callback: http://localhost:8401/aliyun/oss/callback
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
    env:
      show-values: always
    configprops:
      show-values: always
    info:
      enabled: true
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha
    show-extensions: true
  api-docs:
    path: /v3/api-docs
    enabled: true
  group-configs:
    - group: 'default'
      packages-to-scan: com.pool.readio.admin.controller
  default-flat-param-object: false
