# 在 Nacos 中创建配置：Data ID = readio-auth.yaml，Group = DEFAULT_GROUP，格式 = YAML

server:
  port: 8401
spring:
  application:
    name: readio-auth
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.jdbc.autoconfigure.DataSourceAutoConfiguration
      - org.springframework.boot.jdbc.autoconfigure.health.DataSourceHealthContributorAutoConfiguration
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  data:
    redis:
      database: 0
      port: 26002
      host: localhost
      username: readio
      password: readio
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
    env:
      show-values: always
    configprops:
      show-values: always
    info:
      enabled: true
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha
    show-extensions: true
  api-docs:
    path: /v3/api-docs
    enabled: true
  group-configs:
    - group: 'default'
      packages-to-scan: com.pool.readio.auth.controller
  default-flat-param-object: false
