<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.CheckConstraintRoutineUsageMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.CheckConstraintRoutineUsage">
    <result column="constraint_catalog" jdbcType="DISTINCT" property="constraintCatalog" />
    <result column="constraint_schema" jdbcType="DISTINCT" property="constraintSchema" />
    <result column="constraint_name" jdbcType="DISTINCT" property="constraintName" />
    <result column="specific_catalog" jdbcType="DISTINCT" property="specificCatalog" />
    <result column="specific_schema" jdbcType="DISTINCT" property="specificSchema" />
    <result column="specific_name" jdbcType="DISTINCT" property="specificName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    constraint_catalog, constraint_schema, constraint_name, specific_catalog, specific_schema, 
    specific_name
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.CheckConstraintRoutineUsageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from check_constraint_routine_usage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.CheckConstraintRoutineUsageExample">
    delete from check_constraint_routine_usage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.CheckConstraintRoutineUsage">
    insert into check_constraint_routine_usage (constraint_catalog, constraint_schema, 
      constraint_name, specific_catalog, specific_schema, 
      specific_name)
    values (#{constraintCatalog,jdbcType=DISTINCT}, #{constraintSchema,jdbcType=DISTINCT}, 
      #{constraintName,jdbcType=DISTINCT}, #{specificCatalog,jdbcType=DISTINCT}, #{specificSchema,jdbcType=DISTINCT}, 
      #{specificName,jdbcType=DISTINCT})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.CheckConstraintRoutineUsage">
    insert into check_constraint_routine_usage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="constraintCatalog != null">
        constraint_catalog,
      </if>
      <if test="constraintSchema != null">
        constraint_schema,
      </if>
      <if test="constraintName != null">
        constraint_name,
      </if>
      <if test="specificCatalog != null">
        specific_catalog,
      </if>
      <if test="specificSchema != null">
        specific_schema,
      </if>
      <if test="specificName != null">
        specific_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="constraintCatalog != null">
        #{constraintCatalog,jdbcType=DISTINCT},
      </if>
      <if test="constraintSchema != null">
        #{constraintSchema,jdbcType=DISTINCT},
      </if>
      <if test="constraintName != null">
        #{constraintName,jdbcType=DISTINCT},
      </if>
      <if test="specificCatalog != null">
        #{specificCatalog,jdbcType=DISTINCT},
      </if>
      <if test="specificSchema != null">
        #{specificSchema,jdbcType=DISTINCT},
      </if>
      <if test="specificName != null">
        #{specificName,jdbcType=DISTINCT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.CheckConstraintRoutineUsageExample" resultType="java.lang.Long">
    select count(*) from check_constraint_routine_usage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update check_constraint_routine_usage
    <set>
      <if test="row.constraintCatalog != null">
        constraint_catalog = #{row.constraintCatalog,jdbcType=DISTINCT},
      </if>
      <if test="row.constraintSchema != null">
        constraint_schema = #{row.constraintSchema,jdbcType=DISTINCT},
      </if>
      <if test="row.constraintName != null">
        constraint_name = #{row.constraintName,jdbcType=DISTINCT},
      </if>
      <if test="row.specificCatalog != null">
        specific_catalog = #{row.specificCatalog,jdbcType=DISTINCT},
      </if>
      <if test="row.specificSchema != null">
        specific_schema = #{row.specificSchema,jdbcType=DISTINCT},
      </if>
      <if test="row.specificName != null">
        specific_name = #{row.specificName,jdbcType=DISTINCT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update check_constraint_routine_usage
    set constraint_catalog = #{row.constraintCatalog,jdbcType=DISTINCT},
      constraint_schema = #{row.constraintSchema,jdbcType=DISTINCT},
      constraint_name = #{row.constraintName,jdbcType=DISTINCT},
      specific_catalog = #{row.specificCatalog,jdbcType=DISTINCT},
      specific_schema = #{row.specificSchema,jdbcType=DISTINCT},
      specific_name = #{row.specificName,jdbcType=DISTINCT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>