<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.DataTypePrivilegesMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.DataTypePrivileges">
    <result column="object_catalog" jdbcType="DISTINCT" property="objectCatalog" />
    <result column="object_schema" jdbcType="DISTINCT" property="objectSchema" />
    <result column="object_name" jdbcType="DISTINCT" property="objectName" />
    <result column="object_type" jdbcType="DISTINCT" property="objectType" />
    <result column="dtd_identifier" jdbcType="DISTINCT" property="dtdIdentifier" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    object_catalog, object_schema, object_name, object_type, dtd_identifier
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.DataTypePrivilegesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from data_type_privileges
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.DataTypePrivilegesExample">
    delete from data_type_privileges
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.DataTypePrivileges">
    insert into data_type_privileges (object_catalog, object_schema, object_name, 
      object_type, dtd_identifier)
    values (#{objectCatalog,jdbcType=DISTINCT}, #{objectSchema,jdbcType=DISTINCT}, #{objectName,jdbcType=DISTINCT}, 
      #{objectType,jdbcType=DISTINCT}, #{dtdIdentifier,jdbcType=DISTINCT})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.DataTypePrivileges">
    insert into data_type_privileges
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objectCatalog != null">
        object_catalog,
      </if>
      <if test="objectSchema != null">
        object_schema,
      </if>
      <if test="objectName != null">
        object_name,
      </if>
      <if test="objectType != null">
        object_type,
      </if>
      <if test="dtdIdentifier != null">
        dtd_identifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objectCatalog != null">
        #{objectCatalog,jdbcType=DISTINCT},
      </if>
      <if test="objectSchema != null">
        #{objectSchema,jdbcType=DISTINCT},
      </if>
      <if test="objectName != null">
        #{objectName,jdbcType=DISTINCT},
      </if>
      <if test="objectType != null">
        #{objectType,jdbcType=DISTINCT},
      </if>
      <if test="dtdIdentifier != null">
        #{dtdIdentifier,jdbcType=DISTINCT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.DataTypePrivilegesExample" resultType="java.lang.Long">
    select count(*) from data_type_privileges
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update data_type_privileges
    <set>
      <if test="row.objectCatalog != null">
        object_catalog = #{row.objectCatalog,jdbcType=DISTINCT},
      </if>
      <if test="row.objectSchema != null">
        object_schema = #{row.objectSchema,jdbcType=DISTINCT},
      </if>
      <if test="row.objectName != null">
        object_name = #{row.objectName,jdbcType=DISTINCT},
      </if>
      <if test="row.objectType != null">
        object_type = #{row.objectType,jdbcType=DISTINCT},
      </if>
      <if test="row.dtdIdentifier != null">
        dtd_identifier = #{row.dtdIdentifier,jdbcType=DISTINCT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update data_type_privileges
    set object_catalog = #{row.objectCatalog,jdbcType=DISTINCT},
      object_schema = #{row.objectSchema,jdbcType=DISTINCT},
      object_name = #{row.objectName,jdbcType=DISTINCT},
      object_type = #{row.objectType,jdbcType=DISTINCT},
      dtd_identifier = #{row.dtdIdentifier,jdbcType=DISTINCT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>