<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgAuthMembersMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgAuthMembers">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="roleid" jdbcType="BIGINT" property="roleid" />
    <result column="member" jdbcType="BIGINT" property="member" />
    <result column="grantor" jdbcType="BIGINT" property="grantor" />
    <result column="admin_option" jdbcType="BIT" property="adminOption" />
    <result column="inherit_option" jdbcType="BIT" property="inheritOption" />
    <result column="set_option" jdbcType="BIT" property="setOption" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, roleid, member, grantor, admin_option, inherit_option, set_option
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgAuthMembersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_auth_members
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_auth_members
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_auth_members
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgAuthMembersExample">
    delete from pg_auth_members
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgAuthMembers">
    insert into pg_auth_members (oid, roleid, member, 
      grantor, admin_option, inherit_option, 
      set_option)
    values (#{oid,jdbcType=BIGINT}, #{roleid,jdbcType=BIGINT}, #{member,jdbcType=BIGINT}, 
      #{grantor,jdbcType=BIGINT}, #{adminOption,jdbcType=BIT}, #{inheritOption,jdbcType=BIT}, 
      #{setOption,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgAuthMembers">
    insert into pg_auth_members
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="roleid != null">
        roleid,
      </if>
      <if test="member != null">
        member,
      </if>
      <if test="grantor != null">
        grantor,
      </if>
      <if test="adminOption != null">
        admin_option,
      </if>
      <if test="inheritOption != null">
        inherit_option,
      </if>
      <if test="setOption != null">
        set_option,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=BIGINT},
      </if>
      <if test="member != null">
        #{member,jdbcType=BIGINT},
      </if>
      <if test="grantor != null">
        #{grantor,jdbcType=BIGINT},
      </if>
      <if test="adminOption != null">
        #{adminOption,jdbcType=BIT},
      </if>
      <if test="inheritOption != null">
        #{inheritOption,jdbcType=BIT},
      </if>
      <if test="setOption != null">
        #{setOption,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgAuthMembersExample" resultType="java.lang.Long">
    select count(*) from pg_auth_members
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_auth_members
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.roleid != null">
        roleid = #{row.roleid,jdbcType=BIGINT},
      </if>
      <if test="row.member != null">
        member = #{row.member,jdbcType=BIGINT},
      </if>
      <if test="row.grantor != null">
        grantor = #{row.grantor,jdbcType=BIGINT},
      </if>
      <if test="row.adminOption != null">
        admin_option = #{row.adminOption,jdbcType=BIT},
      </if>
      <if test="row.inheritOption != null">
        inherit_option = #{row.inheritOption,jdbcType=BIT},
      </if>
      <if test="row.setOption != null">
        set_option = #{row.setOption,jdbcType=BIT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_auth_members
    set oid = #{row.oid,jdbcType=BIGINT},
      roleid = #{row.roleid,jdbcType=BIGINT},
      member = #{row.member,jdbcType=BIGINT},
      grantor = #{row.grantor,jdbcType=BIGINT},
      admin_option = #{row.adminOption,jdbcType=BIT},
      inherit_option = #{row.inheritOption,jdbcType=BIT},
      set_option = #{row.setOption,jdbcType=BIT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.readiombg.model.PgAuthMembers">
    update pg_auth_members
    <set>
      <if test="roleid != null">
        roleid = #{roleid,jdbcType=BIGINT},
      </if>
      <if test="member != null">
        member = #{member,jdbcType=BIGINT},
      </if>
      <if test="grantor != null">
        grantor = #{grantor,jdbcType=BIGINT},
      </if>
      <if test="adminOption != null">
        admin_option = #{adminOption,jdbcType=BIT},
      </if>
      <if test="inheritOption != null">
        inherit_option = #{inheritOption,jdbcType=BIT},
      </if>
      <if test="setOption != null">
        set_option = #{setOption,jdbcType=BIT},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.readiombg.model.PgAuthMembers">
    update pg_auth_members
    set roleid = #{roleid,jdbcType=BIGINT},
      member = #{member,jdbcType=BIGINT},
      grantor = #{grantor,jdbcType=BIGINT},
      admin_option = #{adminOption,jdbcType=BIT},
      inherit_option = #{inheritOption,jdbcType=BIT},
      set_option = #{setOption,jdbcType=BIT}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>