<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgCollationMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgCollation">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="collname" jdbcType="VARCHAR" property="collname" />
    <result column="collnamespace" jdbcType="BIGINT" property="collnamespace" />
    <result column="collowner" jdbcType="BIGINT" property="collowner" />
    <result column="collprovider" jdbcType="CHAR" property="collprovider" />
    <result column="collisdeterministic" jdbcType="BIT" property="collisdeterministic" />
    <result column="collencoding" jdbcType="INTEGER" property="collencoding" />
    <result column="collcollate" jdbcType="VARCHAR" property="collcollate" />
    <result column="collctype" jdbcType="VARCHAR" property="collctype" />
    <result column="colllocale" jdbcType="VARCHAR" property="colllocale" />
    <result column="collicurules" jdbcType="VARCHAR" property="collicurules" />
    <result column="collversion" jdbcType="VARCHAR" property="collversion" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, collname, collnamespace, collowner, collprovider, collisdeterministic, collencoding, 
    collcollate, collctype, colllocale, collicurules, collversion
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgCollationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_collation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_collation
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_collation
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgCollationExample">
    delete from pg_collation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgCollation">
    insert into pg_collation (oid, collname, collnamespace, 
      collowner, collprovider, collisdeterministic, 
      collencoding, collcollate, collctype, 
      colllocale, collicurules, collversion
      )
    values (#{oid,jdbcType=BIGINT}, #{collname,jdbcType=VARCHAR}, #{collnamespace,jdbcType=BIGINT}, 
      #{collowner,jdbcType=BIGINT}, #{collprovider,jdbcType=CHAR}, #{collisdeterministic,jdbcType=BIT}, 
      #{collencoding,jdbcType=INTEGER}, #{collcollate,jdbcType=VARCHAR}, #{collctype,jdbcType=VARCHAR}, 
      #{colllocale,jdbcType=VARCHAR}, #{collicurules,jdbcType=VARCHAR}, #{collversion,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgCollation">
    insert into pg_collation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="collname != null">
        collname,
      </if>
      <if test="collnamespace != null">
        collnamespace,
      </if>
      <if test="collowner != null">
        collowner,
      </if>
      <if test="collprovider != null">
        collprovider,
      </if>
      <if test="collisdeterministic != null">
        collisdeterministic,
      </if>
      <if test="collencoding != null">
        collencoding,
      </if>
      <if test="collcollate != null">
        collcollate,
      </if>
      <if test="collctype != null">
        collctype,
      </if>
      <if test="colllocale != null">
        colllocale,
      </if>
      <if test="collicurules != null">
        collicurules,
      </if>
      <if test="collversion != null">
        collversion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="collname != null">
        #{collname,jdbcType=VARCHAR},
      </if>
      <if test="collnamespace != null">
        #{collnamespace,jdbcType=BIGINT},
      </if>
      <if test="collowner != null">
        #{collowner,jdbcType=BIGINT},
      </if>
      <if test="collprovider != null">
        #{collprovider,jdbcType=CHAR},
      </if>
      <if test="collisdeterministic != null">
        #{collisdeterministic,jdbcType=BIT},
      </if>
      <if test="collencoding != null">
        #{collencoding,jdbcType=INTEGER},
      </if>
      <if test="collcollate != null">
        #{collcollate,jdbcType=VARCHAR},
      </if>
      <if test="collctype != null">
        #{collctype,jdbcType=VARCHAR},
      </if>
      <if test="colllocale != null">
        #{colllocale,jdbcType=VARCHAR},
      </if>
      <if test="collicurules != null">
        #{collicurules,jdbcType=VARCHAR},
      </if>
      <if test="collversion != null">
        #{collversion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgCollationExample" resultType="java.lang.Long">
    select count(*) from pg_collation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_collation
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.collname != null">
        collname = #{row.collname,jdbcType=VARCHAR},
      </if>
      <if test="row.collnamespace != null">
        collnamespace = #{row.collnamespace,jdbcType=BIGINT},
      </if>
      <if test="row.collowner != null">
        collowner = #{row.collowner,jdbcType=BIGINT},
      </if>
      <if test="row.collprovider != null">
        collprovider = #{row.collprovider,jdbcType=CHAR},
      </if>
      <if test="row.collisdeterministic != null">
        collisdeterministic = #{row.collisdeterministic,jdbcType=BIT},
      </if>
      <if test="row.collencoding != null">
        collencoding = #{row.collencoding,jdbcType=INTEGER},
      </if>
      <if test="row.collcollate != null">
        collcollate = #{row.collcollate,jdbcType=VARCHAR},
      </if>
      <if test="row.collctype != null">
        collctype = #{row.collctype,jdbcType=VARCHAR},
      </if>
      <if test="row.colllocale != null">
        colllocale = #{row.colllocale,jdbcType=VARCHAR},
      </if>
      <if test="row.collicurules != null">
        collicurules = #{row.collicurules,jdbcType=VARCHAR},
      </if>
      <if test="row.collversion != null">
        collversion = #{row.collversion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_collation
    set oid = #{row.oid,jdbcType=BIGINT},
      collname = #{row.collname,jdbcType=VARCHAR},
      collnamespace = #{row.collnamespace,jdbcType=BIGINT},
      collowner = #{row.collowner,jdbcType=BIGINT},
      collprovider = #{row.collprovider,jdbcType=CHAR},
      collisdeterministic = #{row.collisdeterministic,jdbcType=BIT},
      collencoding = #{row.collencoding,jdbcType=INTEGER},
      collcollate = #{row.collcollate,jdbcType=VARCHAR},
      collctype = #{row.collctype,jdbcType=VARCHAR},
      colllocale = #{row.colllocale,jdbcType=VARCHAR},
      collicurules = #{row.collicurules,jdbcType=VARCHAR},
      collversion = #{row.collversion,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.readiombg.model.PgCollation">
    update pg_collation
    <set>
      <if test="collname != null">
        collname = #{collname,jdbcType=VARCHAR},
      </if>
      <if test="collnamespace != null">
        collnamespace = #{collnamespace,jdbcType=BIGINT},
      </if>
      <if test="collowner != null">
        collowner = #{collowner,jdbcType=BIGINT},
      </if>
      <if test="collprovider != null">
        collprovider = #{collprovider,jdbcType=CHAR},
      </if>
      <if test="collisdeterministic != null">
        collisdeterministic = #{collisdeterministic,jdbcType=BIT},
      </if>
      <if test="collencoding != null">
        collencoding = #{collencoding,jdbcType=INTEGER},
      </if>
      <if test="collcollate != null">
        collcollate = #{collcollate,jdbcType=VARCHAR},
      </if>
      <if test="collctype != null">
        collctype = #{collctype,jdbcType=VARCHAR},
      </if>
      <if test="colllocale != null">
        colllocale = #{colllocale,jdbcType=VARCHAR},
      </if>
      <if test="collicurules != null">
        collicurules = #{collicurules,jdbcType=VARCHAR},
      </if>
      <if test="collversion != null">
        collversion = #{collversion,jdbcType=VARCHAR},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.readiombg.model.PgCollation">
    update pg_collation
    set collname = #{collname,jdbcType=VARCHAR},
      collnamespace = #{collnamespace,jdbcType=BIGINT},
      collowner = #{collowner,jdbcType=BIGINT},
      collprovider = #{collprovider,jdbcType=CHAR},
      collisdeterministic = #{collisdeterministic,jdbcType=BIT},
      collencoding = #{collencoding,jdbcType=INTEGER},
      collcollate = #{collcollate,jdbcType=VARCHAR},
      collctype = #{collctype,jdbcType=VARCHAR},
      colllocale = #{colllocale,jdbcType=VARCHAR},
      collicurules = #{collicurules,jdbcType=VARCHAR},
      collversion = #{collversion,jdbcType=VARCHAR}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>