<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgDatabaseMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgDatabase">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="datname" jdbcType="VARCHAR" property="datname" />
    <result column="datdba" jdbcType="BIGINT" property="datdba" />
    <result column="encoding" jdbcType="INTEGER" property="encoding" />
    <result column="datlocprovider" jdbcType="CHAR" property="datlocprovider" />
    <result column="datistemplate" jdbcType="BIT" property="datistemplate" />
    <result column="datallowconn" jdbcType="BIT" property="datallowconn" />
    <result column="dathasloginevt" jdbcType="BIT" property="dathasloginevt" />
    <result column="datconnlimit" jdbcType="INTEGER" property="datconnlimit" />
    <result column="datfrozenxid" jdbcType="OTHER" property="datfrozenxid" />
    <result column="datminmxid" jdbcType="OTHER" property="datminmxid" />
    <result column="dattablespace" jdbcType="BIGINT" property="dattablespace" />
    <result column="datcollate" jdbcType="VARCHAR" property="datcollate" />
    <result column="datctype" jdbcType="VARCHAR" property="datctype" />
    <result column="datlocale" jdbcType="VARCHAR" property="datlocale" />
    <result column="daticurules" jdbcType="VARCHAR" property="daticurules" />
    <result column="datcollversion" jdbcType="VARCHAR" property="datcollversion" />
    <result column="datacl" jdbcType="ARRAY" property="datacl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, datname, datdba, encoding, datlocprovider, datistemplate, datallowconn, dathasloginevt, 
    datconnlimit, datfrozenxid, datminmxid, dattablespace, datcollate, datctype, datlocale, 
    daticurules, datcollversion, datacl
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgDatabaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_database
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_database
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_database
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgDatabaseExample">
    delete from pg_database
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgDatabase">
    insert into pg_database (oid, datname, datdba, 
      encoding, datlocprovider, datistemplate, 
      datallowconn, dathasloginevt, datconnlimit, 
      datfrozenxid, datminmxid, dattablespace, 
      datcollate, datctype, datlocale, 
      daticurules, datcollversion, datacl
      )
    values (#{oid,jdbcType=BIGINT}, #{datname,jdbcType=VARCHAR}, #{datdba,jdbcType=BIGINT}, 
      #{encoding,jdbcType=INTEGER}, #{datlocprovider,jdbcType=CHAR}, #{datistemplate,jdbcType=BIT}, 
      #{datallowconn,jdbcType=BIT}, #{dathasloginevt,jdbcType=BIT}, #{datconnlimit,jdbcType=INTEGER}, 
      #{datfrozenxid,jdbcType=OTHER}, #{datminmxid,jdbcType=OTHER}, #{dattablespace,jdbcType=BIGINT}, 
      #{datcollate,jdbcType=VARCHAR}, #{datctype,jdbcType=VARCHAR}, #{datlocale,jdbcType=VARCHAR}, 
      #{daticurules,jdbcType=VARCHAR}, #{datcollversion,jdbcType=VARCHAR}, #{datacl,jdbcType=ARRAY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgDatabase">
    insert into pg_database
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="datname != null">
        datname,
      </if>
      <if test="datdba != null">
        datdba,
      </if>
      <if test="encoding != null">
        encoding,
      </if>
      <if test="datlocprovider != null">
        datlocprovider,
      </if>
      <if test="datistemplate != null">
        datistemplate,
      </if>
      <if test="datallowconn != null">
        datallowconn,
      </if>
      <if test="dathasloginevt != null">
        dathasloginevt,
      </if>
      <if test="datconnlimit != null">
        datconnlimit,
      </if>
      <if test="datfrozenxid != null">
        datfrozenxid,
      </if>
      <if test="datminmxid != null">
        datminmxid,
      </if>
      <if test="dattablespace != null">
        dattablespace,
      </if>
      <if test="datcollate != null">
        datcollate,
      </if>
      <if test="datctype != null">
        datctype,
      </if>
      <if test="datlocale != null">
        datlocale,
      </if>
      <if test="daticurules != null">
        daticurules,
      </if>
      <if test="datcollversion != null">
        datcollversion,
      </if>
      <if test="datacl != null">
        datacl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="datname != null">
        #{datname,jdbcType=VARCHAR},
      </if>
      <if test="datdba != null">
        #{datdba,jdbcType=BIGINT},
      </if>
      <if test="encoding != null">
        #{encoding,jdbcType=INTEGER},
      </if>
      <if test="datlocprovider != null">
        #{datlocprovider,jdbcType=CHAR},
      </if>
      <if test="datistemplate != null">
        #{datistemplate,jdbcType=BIT},
      </if>
      <if test="datallowconn != null">
        #{datallowconn,jdbcType=BIT},
      </if>
      <if test="dathasloginevt != null">
        #{dathasloginevt,jdbcType=BIT},
      </if>
      <if test="datconnlimit != null">
        #{datconnlimit,jdbcType=INTEGER},
      </if>
      <if test="datfrozenxid != null">
        #{datfrozenxid,jdbcType=OTHER},
      </if>
      <if test="datminmxid != null">
        #{datminmxid,jdbcType=OTHER},
      </if>
      <if test="dattablespace != null">
        #{dattablespace,jdbcType=BIGINT},
      </if>
      <if test="datcollate != null">
        #{datcollate,jdbcType=VARCHAR},
      </if>
      <if test="datctype != null">
        #{datctype,jdbcType=VARCHAR},
      </if>
      <if test="datlocale != null">
        #{datlocale,jdbcType=VARCHAR},
      </if>
      <if test="daticurules != null">
        #{daticurules,jdbcType=VARCHAR},
      </if>
      <if test="datcollversion != null">
        #{datcollversion,jdbcType=VARCHAR},
      </if>
      <if test="datacl != null">
        #{datacl,jdbcType=ARRAY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgDatabaseExample" resultType="java.lang.Long">
    select count(*) from pg_database
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_database
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.datname != null">
        datname = #{row.datname,jdbcType=VARCHAR},
      </if>
      <if test="row.datdba != null">
        datdba = #{row.datdba,jdbcType=BIGINT},
      </if>
      <if test="row.encoding != null">
        encoding = #{row.encoding,jdbcType=INTEGER},
      </if>
      <if test="row.datlocprovider != null">
        datlocprovider = #{row.datlocprovider,jdbcType=CHAR},
      </if>
      <if test="row.datistemplate != null">
        datistemplate = #{row.datistemplate,jdbcType=BIT},
      </if>
      <if test="row.datallowconn != null">
        datallowconn = #{row.datallowconn,jdbcType=BIT},
      </if>
      <if test="row.dathasloginevt != null">
        dathasloginevt = #{row.dathasloginevt,jdbcType=BIT},
      </if>
      <if test="row.datconnlimit != null">
        datconnlimit = #{row.datconnlimit,jdbcType=INTEGER},
      </if>
      <if test="row.datfrozenxid != null">
        datfrozenxid = #{row.datfrozenxid,jdbcType=OTHER},
      </if>
      <if test="row.datminmxid != null">
        datminmxid = #{row.datminmxid,jdbcType=OTHER},
      </if>
      <if test="row.dattablespace != null">
        dattablespace = #{row.dattablespace,jdbcType=BIGINT},
      </if>
      <if test="row.datcollate != null">
        datcollate = #{row.datcollate,jdbcType=VARCHAR},
      </if>
      <if test="row.datctype != null">
        datctype = #{row.datctype,jdbcType=VARCHAR},
      </if>
      <if test="row.datlocale != null">
        datlocale = #{row.datlocale,jdbcType=VARCHAR},
      </if>
      <if test="row.daticurules != null">
        daticurules = #{row.daticurules,jdbcType=VARCHAR},
      </if>
      <if test="row.datcollversion != null">
        datcollversion = #{row.datcollversion,jdbcType=VARCHAR},
      </if>
      <if test="row.datacl != null">
        datacl = #{row.datacl,jdbcType=ARRAY},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_database
    set oid = #{row.oid,jdbcType=BIGINT},
      datname = #{row.datname,jdbcType=VARCHAR},
      datdba = #{row.datdba,jdbcType=BIGINT},
      encoding = #{row.encoding,jdbcType=INTEGER},
      datlocprovider = #{row.datlocprovider,jdbcType=CHAR},
      datistemplate = #{row.datistemplate,jdbcType=BIT},
      datallowconn = #{row.datallowconn,jdbcType=BIT},
      dathasloginevt = #{row.dathasloginevt,jdbcType=BIT},
      datconnlimit = #{row.datconnlimit,jdbcType=INTEGER},
      datfrozenxid = #{row.datfrozenxid,jdbcType=OTHER},
      datminmxid = #{row.datminmxid,jdbcType=OTHER},
      dattablespace = #{row.dattablespace,jdbcType=BIGINT},
      datcollate = #{row.datcollate,jdbcType=VARCHAR},
      datctype = #{row.datctype,jdbcType=VARCHAR},
      datlocale = #{row.datlocale,jdbcType=VARCHAR},
      daticurules = #{row.daticurules,jdbcType=VARCHAR},
      datcollversion = #{row.datcollversion,jdbcType=VARCHAR},
      datacl = #{row.datacl,jdbcType=ARRAY}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.readiombg.model.PgDatabase">
    update pg_database
    <set>
      <if test="datname != null">
        datname = #{datname,jdbcType=VARCHAR},
      </if>
      <if test="datdba != null">
        datdba = #{datdba,jdbcType=BIGINT},
      </if>
      <if test="encoding != null">
        encoding = #{encoding,jdbcType=INTEGER},
      </if>
      <if test="datlocprovider != null">
        datlocprovider = #{datlocprovider,jdbcType=CHAR},
      </if>
      <if test="datistemplate != null">
        datistemplate = #{datistemplate,jdbcType=BIT},
      </if>
      <if test="datallowconn != null">
        datallowconn = #{datallowconn,jdbcType=BIT},
      </if>
      <if test="dathasloginevt != null">
        dathasloginevt = #{dathasloginevt,jdbcType=BIT},
      </if>
      <if test="datconnlimit != null">
        datconnlimit = #{datconnlimit,jdbcType=INTEGER},
      </if>
      <if test="datfrozenxid != null">
        datfrozenxid = #{datfrozenxid,jdbcType=OTHER},
      </if>
      <if test="datminmxid != null">
        datminmxid = #{datminmxid,jdbcType=OTHER},
      </if>
      <if test="dattablespace != null">
        dattablespace = #{dattablespace,jdbcType=BIGINT},
      </if>
      <if test="datcollate != null">
        datcollate = #{datcollate,jdbcType=VARCHAR},
      </if>
      <if test="datctype != null">
        datctype = #{datctype,jdbcType=VARCHAR},
      </if>
      <if test="datlocale != null">
        datlocale = #{datlocale,jdbcType=VARCHAR},
      </if>
      <if test="daticurules != null">
        daticurules = #{daticurules,jdbcType=VARCHAR},
      </if>
      <if test="datcollversion != null">
        datcollversion = #{datcollversion,jdbcType=VARCHAR},
      </if>
      <if test="datacl != null">
        datacl = #{datacl,jdbcType=ARRAY},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.readiombg.model.PgDatabase">
    update pg_database
    set datname = #{datname,jdbcType=VARCHAR},
      datdba = #{datdba,jdbcType=BIGINT},
      encoding = #{encoding,jdbcType=INTEGER},
      datlocprovider = #{datlocprovider,jdbcType=CHAR},
      datistemplate = #{datistemplate,jdbcType=BIT},
      datallowconn = #{datallowconn,jdbcType=BIT},
      dathasloginevt = #{dathasloginevt,jdbcType=BIT},
      datconnlimit = #{datconnlimit,jdbcType=INTEGER},
      datfrozenxid = #{datfrozenxid,jdbcType=OTHER},
      datminmxid = #{datminmxid,jdbcType=OTHER},
      dattablespace = #{dattablespace,jdbcType=BIGINT},
      datcollate = #{datcollate,jdbcType=VARCHAR},
      datctype = #{datctype,jdbcType=VARCHAR},
      datlocale = #{datlocale,jdbcType=VARCHAR},
      daticurules = #{daticurules,jdbcType=VARCHAR},
      datcollversion = #{datcollversion,jdbcType=VARCHAR},
      datacl = #{datacl,jdbcType=ARRAY}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>