<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgEnumMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgEnum">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="enumtypid" jdbcType="BIGINT" property="enumtypid" />
    <result column="enumsortorder" jdbcType="REAL" property="enumsortorder" />
    <result column="enumlabel" jdbcType="VARCHAR" property="enumlabel" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, enumtypid, enumsortorder, enumlabel
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgEnumExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_enum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_enum
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_enum
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgEnumExample">
    delete from pg_enum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgEnum">
    insert into pg_enum (oid, enumtypid, enumsortorder, 
      enumlabel)
    values (#{oid,jdbcType=BIGINT}, #{enumtypid,jdbcType=BIGINT}, #{enumsortorder,jdbcType=REAL}, 
      #{enumlabel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgEnum">
    insert into pg_enum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="enumtypid != null">
        enumtypid,
      </if>
      <if test="enumsortorder != null">
        enumsortorder,
      </if>
      <if test="enumlabel != null">
        enumlabel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="enumtypid != null">
        #{enumtypid,jdbcType=BIGINT},
      </if>
      <if test="enumsortorder != null">
        #{enumsortorder,jdbcType=REAL},
      </if>
      <if test="enumlabel != null">
        #{enumlabel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgEnumExample" resultType="java.lang.Long">
    select count(*) from pg_enum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_enum
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.enumtypid != null">
        enumtypid = #{row.enumtypid,jdbcType=BIGINT},
      </if>
      <if test="row.enumsortorder != null">
        enumsortorder = #{row.enumsortorder,jdbcType=REAL},
      </if>
      <if test="row.enumlabel != null">
        enumlabel = #{row.enumlabel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_enum
    set oid = #{row.oid,jdbcType=BIGINT},
      enumtypid = #{row.enumtypid,jdbcType=BIGINT},
      enumsortorder = #{row.enumsortorder,jdbcType=REAL},
      enumlabel = #{row.enumlabel,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.readiombg.model.PgEnum">
    update pg_enum
    <set>
      <if test="enumtypid != null">
        enumtypid = #{enumtypid,jdbcType=BIGINT},
      </if>
      <if test="enumsortorder != null">
        enumsortorder = #{enumsortorder,jdbcType=REAL},
      </if>
      <if test="enumlabel != null">
        enumlabel = #{enumlabel,jdbcType=VARCHAR},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.readiombg.model.PgEnum">
    update pg_enum
    set enumtypid = #{enumtypid,jdbcType=BIGINT},
      enumsortorder = #{enumsortorder,jdbcType=REAL},
      enumlabel = #{enumlabel,jdbcType=VARCHAR}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>