<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgForeignTableColumnsMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgForeignTableColumns">
    <result column="nspname" jdbcType="VARCHAR" property="nspname" />
    <result column="relname" jdbcType="VARCHAR" property="relname" />
    <result column="attname" jdbcType="VARCHAR" property="attname" />
    <result column="attfdwoptions" jdbcType="ARRAY" property="attfdwoptions" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    nspname, relname, attname, attfdwoptions
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgForeignTableColumnsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from _pg_foreign_table_columns
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgForeignTableColumnsExample">
    delete from _pg_foreign_table_columns
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgForeignTableColumns">
    insert into _pg_foreign_table_columns (nspname, relname, attname, 
      attfdwoptions)
    values (#{nspname,jdbcType=VARCHAR}, #{relname,jdbcType=VARCHAR}, #{attname,jdbcType=VARCHAR}, 
      #{attfdwoptions,jdbcType=ARRAY})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgForeignTableColumns">
    insert into _pg_foreign_table_columns
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nspname != null">
        nspname,
      </if>
      <if test="relname != null">
        relname,
      </if>
      <if test="attname != null">
        attname,
      </if>
      <if test="attfdwoptions != null">
        attfdwoptions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nspname != null">
        #{nspname,jdbcType=VARCHAR},
      </if>
      <if test="relname != null">
        #{relname,jdbcType=VARCHAR},
      </if>
      <if test="attname != null">
        #{attname,jdbcType=VARCHAR},
      </if>
      <if test="attfdwoptions != null">
        #{attfdwoptions,jdbcType=ARRAY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgForeignTableColumnsExample" resultType="java.lang.Long">
    select count(*) from _pg_foreign_table_columns
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update _pg_foreign_table_columns
    <set>
      <if test="row.nspname != null">
        nspname = #{row.nspname,jdbcType=VARCHAR},
      </if>
      <if test="row.relname != null">
        relname = #{row.relname,jdbcType=VARCHAR},
      </if>
      <if test="row.attname != null">
        attname = #{row.attname,jdbcType=VARCHAR},
      </if>
      <if test="row.attfdwoptions != null">
        attfdwoptions = #{row.attfdwoptions,jdbcType=ARRAY},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update _pg_foreign_table_columns
    set nspname = #{row.nspname,jdbcType=VARCHAR},
      relname = #{row.relname,jdbcType=VARCHAR},
      attname = #{row.attname,jdbcType=VARCHAR},
      attfdwoptions = #{row.attfdwoptions,jdbcType=ARRAY}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>