<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgGroupMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgGroup">
    <result column="groname" jdbcType="VARCHAR" property="groname" />
    <result column="grosysid" jdbcType="BIGINT" property="grosysid" />
    <result column="grolist" jdbcType="ARRAY" property="grolist" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    groname, grosysid, grolist
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgGroupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgGroupExample">
    delete from pg_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgGroup">
    insert into pg_group (groname, grosysid, grolist
      )
    values (#{groname,jdbcType=VARCHAR}, #{grosysid,jdbcType=BIGINT}, #{grolist,jdbcType=ARRAY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgGroup">
    insert into pg_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groname != null">
        groname,
      </if>
      <if test="grosysid != null">
        grosysid,
      </if>
      <if test="grolist != null">
        grolist,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groname != null">
        #{groname,jdbcType=VARCHAR},
      </if>
      <if test="grosysid != null">
        #{grosysid,jdbcType=BIGINT},
      </if>
      <if test="grolist != null">
        #{grolist,jdbcType=ARRAY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgGroupExample" resultType="java.lang.Long">
    select count(*) from pg_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_group
    <set>
      <if test="row.groname != null">
        groname = #{row.groname,jdbcType=VARCHAR},
      </if>
      <if test="row.grosysid != null">
        grosysid = #{row.grosysid,jdbcType=BIGINT},
      </if>
      <if test="row.grolist != null">
        grolist = #{row.grolist,jdbcType=ARRAY},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_group
    set groname = #{row.groname,jdbcType=VARCHAR},
      grosysid = #{row.grosysid,jdbcType=BIGINT},
      grolist = #{row.grolist,jdbcType=ARRAY}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>