<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgIdentFileMappingsMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgIdentFileMappings">
    <result column="map_number" jdbcType="INTEGER" property="mapNumber" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="line_number" jdbcType="INTEGER" property="lineNumber" />
    <result column="map_name" jdbcType="VARCHAR" property="mapName" />
    <result column="sys_name" jdbcType="VARCHAR" property="sysName" />
    <result column="pg_username" jdbcType="VARCHAR" property="pgUsername" />
    <result column="error" jdbcType="VARCHAR" property="error" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    map_number, file_name, line_number, map_name, sys_name, pg_username, error
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgIdentFileMappingsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_ident_file_mappings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgIdentFileMappingsExample">
    delete from pg_ident_file_mappings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgIdentFileMappings">
    insert into pg_ident_file_mappings (map_number, file_name, line_number, 
      map_name, sys_name, pg_username, 
      error)
    values (#{mapNumber,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{lineNumber,jdbcType=INTEGER}, 
      #{mapName,jdbcType=VARCHAR}, #{sysName,jdbcType=VARCHAR}, #{pgUsername,jdbcType=VARCHAR}, 
      #{error,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgIdentFileMappings">
    insert into pg_ident_file_mappings
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mapNumber != null">
        map_number,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="lineNumber != null">
        line_number,
      </if>
      <if test="mapName != null">
        map_name,
      </if>
      <if test="sysName != null">
        sys_name,
      </if>
      <if test="pgUsername != null">
        pg_username,
      </if>
      <if test="error != null">
        error,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mapNumber != null">
        #{mapNumber,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="lineNumber != null">
        #{lineNumber,jdbcType=INTEGER},
      </if>
      <if test="mapName != null">
        #{mapName,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null">
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="pgUsername != null">
        #{pgUsername,jdbcType=VARCHAR},
      </if>
      <if test="error != null">
        #{error,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgIdentFileMappingsExample" resultType="java.lang.Long">
    select count(*) from pg_ident_file_mappings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_ident_file_mappings
    <set>
      <if test="row.mapNumber != null">
        map_number = #{row.mapNumber,jdbcType=INTEGER},
      </if>
      <if test="row.fileName != null">
        file_name = #{row.fileName,jdbcType=VARCHAR},
      </if>
      <if test="row.lineNumber != null">
        line_number = #{row.lineNumber,jdbcType=INTEGER},
      </if>
      <if test="row.mapName != null">
        map_name = #{row.mapName,jdbcType=VARCHAR},
      </if>
      <if test="row.sysName != null">
        sys_name = #{row.sysName,jdbcType=VARCHAR},
      </if>
      <if test="row.pgUsername != null">
        pg_username = #{row.pgUsername,jdbcType=VARCHAR},
      </if>
      <if test="row.error != null">
        error = #{row.error,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_ident_file_mappings
    set map_number = #{row.mapNumber,jdbcType=INTEGER},
      file_name = #{row.fileName,jdbcType=VARCHAR},
      line_number = #{row.lineNumber,jdbcType=INTEGER},
      map_name = #{row.mapName,jdbcType=VARCHAR},
      sys_name = #{row.sysName,jdbcType=VARCHAR},
      pg_username = #{row.pgUsername,jdbcType=VARCHAR},
      error = #{row.error,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>