<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgParameterAclMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgParameterAcl">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="parname" jdbcType="VARCHAR" property="parname" />
    <result column="paracl" jdbcType="ARRAY" property="paracl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, parname, paracl
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgParameterAclExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_parameter_acl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_parameter_acl
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_parameter_acl
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgParameterAclExample">
    delete from pg_parameter_acl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgParameterAcl">
    insert into pg_parameter_acl (oid, parname, paracl
      )
    values (#{oid,jdbcType=BIGINT}, #{parname,jdbcType=VARCHAR}, #{paracl,jdbcType=ARRAY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgParameterAcl">
    insert into pg_parameter_acl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="parname != null">
        parname,
      </if>
      <if test="paracl != null">
        paracl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="parname != null">
        #{parname,jdbcType=VARCHAR},
      </if>
      <if test="paracl != null">
        #{paracl,jdbcType=ARRAY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgParameterAclExample" resultType="java.lang.Long">
    select count(*) from pg_parameter_acl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_parameter_acl
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.parname != null">
        parname = #{row.parname,jdbcType=VARCHAR},
      </if>
      <if test="row.paracl != null">
        paracl = #{row.paracl,jdbcType=ARRAY},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_parameter_acl
    set oid = #{row.oid,jdbcType=BIGINT},
      parname = #{row.parname,jdbcType=VARCHAR},
      paracl = #{row.paracl,jdbcType=ARRAY}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.readiombg.model.PgParameterAcl">
    update pg_parameter_acl
    <set>
      <if test="parname != null">
        parname = #{parname,jdbcType=VARCHAR},
      </if>
      <if test="paracl != null">
        paracl = #{paracl,jdbcType=ARRAY},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.readiombg.model.PgParameterAcl">
    update pg_parameter_acl
    set parname = #{parname,jdbcType=VARCHAR},
      paracl = #{paracl,jdbcType=ARRAY}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>