<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgPublicationRelMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgPublicationRel">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="prpubid" jdbcType="BIGINT" property="prpubid" />
    <result column="prrelid" jdbcType="BIGINT" property="prrelid" />
    <result column="prqual" jdbcType="OTHER" property="prqual" />
    <result column="prattrs" jdbcType="OTHER" property="prattrs" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, prpubid, prrelid, prqual, prattrs
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgPublicationRelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_publication_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_publication_rel
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_publication_rel
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgPublicationRelExample">
    delete from pg_publication_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgPublicationRel">
    insert into pg_publication_rel (oid, prpubid, prrelid, 
      prqual, prattrs)
    values (#{oid,jdbcType=BIGINT}, #{prpubid,jdbcType=BIGINT}, #{prrelid,jdbcType=BIGINT}, 
      #{prqual,jdbcType=OTHER}, #{prattrs,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgPublicationRel">
    insert into pg_publication_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="prpubid != null">
        prpubid,
      </if>
      <if test="prrelid != null">
        prrelid,
      </if>
      <if test="prqual != null">
        prqual,
      </if>
      <if test="prattrs != null">
        prattrs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="prpubid != null">
        #{prpubid,jdbcType=BIGINT},
      </if>
      <if test="prrelid != null">
        #{prrelid,jdbcType=BIGINT},
      </if>
      <if test="prqual != null">
        #{prqual,jdbcType=OTHER},
      </if>
      <if test="prattrs != null">
        #{prattrs,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgPublicationRelExample" resultType="java.lang.Long">
    select count(*) from pg_publication_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_publication_rel
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.prpubid != null">
        prpubid = #{row.prpubid,jdbcType=BIGINT},
      </if>
      <if test="row.prrelid != null">
        prrelid = #{row.prrelid,jdbcType=BIGINT},
      </if>
      <if test="row.prqual != null">
        prqual = #{row.prqual,jdbcType=OTHER},
      </if>
      <if test="row.prattrs != null">
        prattrs = #{row.prattrs,jdbcType=OTHER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_publication_rel
    set oid = #{row.oid,jdbcType=BIGINT},
      prpubid = #{row.prpubid,jdbcType=BIGINT},
      prrelid = #{row.prrelid,jdbcType=BIGINT},
      prqual = #{row.prqual,jdbcType=OTHER},
      prattrs = #{row.prattrs,jdbcType=OTHER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.readiombg.model.PgPublicationRel">
    update pg_publication_rel
    <set>
      <if test="prpubid != null">
        prpubid = #{prpubid,jdbcType=BIGINT},
      </if>
      <if test="prrelid != null">
        prrelid = #{prrelid,jdbcType=BIGINT},
      </if>
      <if test="prqual != null">
        prqual = #{prqual,jdbcType=OTHER},
      </if>
      <if test="prattrs != null">
        prattrs = #{prattrs,jdbcType=OTHER},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.readiombg.model.PgPublicationRel">
    update pg_publication_rel
    set prpubid = #{prpubid,jdbcType=BIGINT},
      prrelid = #{prrelid,jdbcType=BIGINT},
      prqual = #{prqual,jdbcType=OTHER},
      prattrs = #{prattrs,jdbcType=OTHER}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>