<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgRangeMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgRange">
    <id column="rngtypid" jdbcType="BIGINT" property="rngtypid" />
    <result column="rngsubtype" jdbcType="BIGINT" property="rngsubtype" />
    <result column="rngmultitypid" jdbcType="BIGINT" property="rngmultitypid" />
    <result column="rngcollation" jdbcType="BIGINT" property="rngcollation" />
    <result column="rngsubopc" jdbcType="BIGINT" property="rngsubopc" />
    <result column="rngcanonical" jdbcType="OTHER" property="rngcanonical" />
    <result column="rngsubdiff" jdbcType="OTHER" property="rngsubdiff" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rngtypid, rngsubtype, rngmultitypid, rngcollation, rngsubopc, rngcanonical, rngsubdiff
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgRangeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_range
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_range
    where rngtypid = #{rngtypid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_range
    where rngtypid = #{rngtypid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgRangeExample">
    delete from pg_range
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgRange">
    insert into pg_range (rngtypid, rngsubtype, rngmultitypid, 
      rngcollation, rngsubopc, rngcanonical, 
      rngsubdiff)
    values (#{rngtypid,jdbcType=BIGINT}, #{rngsubtype,jdbcType=BIGINT}, #{rngmultitypid,jdbcType=BIGINT}, 
      #{rngcollation,jdbcType=BIGINT}, #{rngsubopc,jdbcType=BIGINT}, #{rngcanonical,jdbcType=OTHER}, 
      #{rngsubdiff,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgRange">
    insert into pg_range
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rngtypid != null">
        rngtypid,
      </if>
      <if test="rngsubtype != null">
        rngsubtype,
      </if>
      <if test="rngmultitypid != null">
        rngmultitypid,
      </if>
      <if test="rngcollation != null">
        rngcollation,
      </if>
      <if test="rngsubopc != null">
        rngsubopc,
      </if>
      <if test="rngcanonical != null">
        rngcanonical,
      </if>
      <if test="rngsubdiff != null">
        rngsubdiff,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rngtypid != null">
        #{rngtypid,jdbcType=BIGINT},
      </if>
      <if test="rngsubtype != null">
        #{rngsubtype,jdbcType=BIGINT},
      </if>
      <if test="rngmultitypid != null">
        #{rngmultitypid,jdbcType=BIGINT},
      </if>
      <if test="rngcollation != null">
        #{rngcollation,jdbcType=BIGINT},
      </if>
      <if test="rngsubopc != null">
        #{rngsubopc,jdbcType=BIGINT},
      </if>
      <if test="rngcanonical != null">
        #{rngcanonical,jdbcType=OTHER},
      </if>
      <if test="rngsubdiff != null">
        #{rngsubdiff,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgRangeExample" resultType="java.lang.Long">
    select count(*) from pg_range
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_range
    <set>
      <if test="row.rngtypid != null">
        rngtypid = #{row.rngtypid,jdbcType=BIGINT},
      </if>
      <if test="row.rngsubtype != null">
        rngsubtype = #{row.rngsubtype,jdbcType=BIGINT},
      </if>
      <if test="row.rngmultitypid != null">
        rngmultitypid = #{row.rngmultitypid,jdbcType=BIGINT},
      </if>
      <if test="row.rngcollation != null">
        rngcollation = #{row.rngcollation,jdbcType=BIGINT},
      </if>
      <if test="row.rngsubopc != null">
        rngsubopc = #{row.rngsubopc,jdbcType=BIGINT},
      </if>
      <if test="row.rngcanonical != null">
        rngcanonical = #{row.rngcanonical,jdbcType=OTHER},
      </if>
      <if test="row.rngsubdiff != null">
        rngsubdiff = #{row.rngsubdiff,jdbcType=OTHER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_range
    set rngtypid = #{row.rngtypid,jdbcType=BIGINT},
      rngsubtype = #{row.rngsubtype,jdbcType=BIGINT},
      rngmultitypid = #{row.rngmultitypid,jdbcType=BIGINT},
      rngcollation = #{row.rngcollation,jdbcType=BIGINT},
      rngsubopc = #{row.rngsubopc,jdbcType=BIGINT},
      rngcanonical = #{row.rngcanonical,jdbcType=OTHER},
      rngsubdiff = #{row.rngsubdiff,jdbcType=OTHER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.readiombg.model.PgRange">
    update pg_range
    <set>
      <if test="rngsubtype != null">
        rngsubtype = #{rngsubtype,jdbcType=BIGINT},
      </if>
      <if test="rngmultitypid != null">
        rngmultitypid = #{rngmultitypid,jdbcType=BIGINT},
      </if>
      <if test="rngcollation != null">
        rngcollation = #{rngcollation,jdbcType=BIGINT},
      </if>
      <if test="rngsubopc != null">
        rngsubopc = #{rngsubopc,jdbcType=BIGINT},
      </if>
      <if test="rngcanonical != null">
        rngcanonical = #{rngcanonical,jdbcType=OTHER},
      </if>
      <if test="rngsubdiff != null">
        rngsubdiff = #{rngsubdiff,jdbcType=OTHER},
      </if>
    </set>
    where rngtypid = #{rngtypid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.readiombg.model.PgRange">
    update pg_range
    set rngsubtype = #{rngsubtype,jdbcType=BIGINT},
      rngmultitypid = #{rngmultitypid,jdbcType=BIGINT},
      rngcollation = #{rngcollation,jdbcType=BIGINT},
      rngsubopc = #{rngsubopc,jdbcType=BIGINT},
      rngcanonical = #{rngcanonical,jdbcType=OTHER},
      rngsubdiff = #{rngsubdiff,jdbcType=OTHER}
    where rngtypid = #{rngtypid,jdbcType=BIGINT}
  </update>
</mapper>