<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgReplicationSlotsMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgReplicationSlots">
    <result column="slot_name" jdbcType="VARCHAR" property="slotName" />
    <result column="plugin" jdbcType="VARCHAR" property="plugin" />
    <result column="slot_type" jdbcType="VARCHAR" property="slotType" />
    <result column="datoid" jdbcType="BIGINT" property="datoid" />
    <result column="database" jdbcType="VARCHAR" property="database" />
    <result column="temporary" jdbcType="BIT" property="temporary" />
    <result column="active" jdbcType="BIT" property="active" />
    <result column="active_pid" jdbcType="INTEGER" property="activePid" />
    <result column="xmin" jdbcType="OTHER" property="xmin" />
    <result column="catalog_xmin" jdbcType="OTHER" property="catalogXmin" />
    <result column="restart_lsn" jdbcType="OTHER" property="restartLsn" />
    <result column="confirmed_flush_lsn" jdbcType="OTHER" property="confirmedFlushLsn" />
    <result column="wal_status" jdbcType="VARCHAR" property="walStatus" />
    <result column="safe_wal_size" jdbcType="BIGINT" property="safeWalSize" />
    <result column="two_phase" jdbcType="BIT" property="twoPhase" />
    <result column="two_phase_at" jdbcType="OTHER" property="twoPhaseAt" />
    <result column="inactive_since" jdbcType="TIMESTAMP" property="inactiveSince" />
    <result column="conflicting" jdbcType="BIT" property="conflicting" />
    <result column="invalidation_reason" jdbcType="VARCHAR" property="invalidationReason" />
    <result column="failover" jdbcType="BIT" property="failover" />
    <result column="synced" jdbcType="BIT" property="synced" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    slot_name, plugin, slot_type, datoid, database, temporary, active, active_pid, xmin, 
    catalog_xmin, restart_lsn, confirmed_flush_lsn, wal_status, safe_wal_size, two_phase, 
    two_phase_at, inactive_since, conflicting, invalidation_reason, failover, synced
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgReplicationSlotsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_replication_slots
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgReplicationSlotsExample">
    delete from pg_replication_slots
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgReplicationSlots">
    insert into pg_replication_slots (slot_name, plugin, slot_type, 
      datoid, database, temporary, 
      active, active_pid, xmin, 
      catalog_xmin, restart_lsn, confirmed_flush_lsn, 
      wal_status, safe_wal_size, two_phase, 
      two_phase_at, inactive_since, conflicting, 
      invalidation_reason, failover, synced
      )
    values (#{slotName,jdbcType=VARCHAR}, #{plugin,jdbcType=VARCHAR}, #{slotType,jdbcType=VARCHAR}, 
      #{datoid,jdbcType=BIGINT}, #{database,jdbcType=VARCHAR}, #{temporary,jdbcType=BIT}, 
      #{active,jdbcType=BIT}, #{activePid,jdbcType=INTEGER}, #{xmin,jdbcType=OTHER}, 
      #{catalogXmin,jdbcType=OTHER}, #{restartLsn,jdbcType=OTHER}, #{confirmedFlushLsn,jdbcType=OTHER}, 
      #{walStatus,jdbcType=VARCHAR}, #{safeWalSize,jdbcType=BIGINT}, #{twoPhase,jdbcType=BIT}, 
      #{twoPhaseAt,jdbcType=OTHER}, #{inactiveSince,jdbcType=TIMESTAMP}, #{conflicting,jdbcType=BIT}, 
      #{invalidationReason,jdbcType=VARCHAR}, #{failover,jdbcType=BIT}, #{synced,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgReplicationSlots">
    insert into pg_replication_slots
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="slotName != null">
        slot_name,
      </if>
      <if test="plugin != null">
        plugin,
      </if>
      <if test="slotType != null">
        slot_type,
      </if>
      <if test="datoid != null">
        datoid,
      </if>
      <if test="database != null">
        database,
      </if>
      <if test="temporary != null">
        temporary,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="activePid != null">
        active_pid,
      </if>
      <if test="xmin != null">
        xmin,
      </if>
      <if test="catalogXmin != null">
        catalog_xmin,
      </if>
      <if test="restartLsn != null">
        restart_lsn,
      </if>
      <if test="confirmedFlushLsn != null">
        confirmed_flush_lsn,
      </if>
      <if test="walStatus != null">
        wal_status,
      </if>
      <if test="safeWalSize != null">
        safe_wal_size,
      </if>
      <if test="twoPhase != null">
        two_phase,
      </if>
      <if test="twoPhaseAt != null">
        two_phase_at,
      </if>
      <if test="inactiveSince != null">
        inactive_since,
      </if>
      <if test="conflicting != null">
        conflicting,
      </if>
      <if test="invalidationReason != null">
        invalidation_reason,
      </if>
      <if test="failover != null">
        failover,
      </if>
      <if test="synced != null">
        synced,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="slotName != null">
        #{slotName,jdbcType=VARCHAR},
      </if>
      <if test="plugin != null">
        #{plugin,jdbcType=VARCHAR},
      </if>
      <if test="slotType != null">
        #{slotType,jdbcType=VARCHAR},
      </if>
      <if test="datoid != null">
        #{datoid,jdbcType=BIGINT},
      </if>
      <if test="database != null">
        #{database,jdbcType=VARCHAR},
      </if>
      <if test="temporary != null">
        #{temporary,jdbcType=BIT},
      </if>
      <if test="active != null">
        #{active,jdbcType=BIT},
      </if>
      <if test="activePid != null">
        #{activePid,jdbcType=INTEGER},
      </if>
      <if test="xmin != null">
        #{xmin,jdbcType=OTHER},
      </if>
      <if test="catalogXmin != null">
        #{catalogXmin,jdbcType=OTHER},
      </if>
      <if test="restartLsn != null">
        #{restartLsn,jdbcType=OTHER},
      </if>
      <if test="confirmedFlushLsn != null">
        #{confirmedFlushLsn,jdbcType=OTHER},
      </if>
      <if test="walStatus != null">
        #{walStatus,jdbcType=VARCHAR},
      </if>
      <if test="safeWalSize != null">
        #{safeWalSize,jdbcType=BIGINT},
      </if>
      <if test="twoPhase != null">
        #{twoPhase,jdbcType=BIT},
      </if>
      <if test="twoPhaseAt != null">
        #{twoPhaseAt,jdbcType=OTHER},
      </if>
      <if test="inactiveSince != null">
        #{inactiveSince,jdbcType=TIMESTAMP},
      </if>
      <if test="conflicting != null">
        #{conflicting,jdbcType=BIT},
      </if>
      <if test="invalidationReason != null">
        #{invalidationReason,jdbcType=VARCHAR},
      </if>
      <if test="failover != null">
        #{failover,jdbcType=BIT},
      </if>
      <if test="synced != null">
        #{synced,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgReplicationSlotsExample" resultType="java.lang.Long">
    select count(*) from pg_replication_slots
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_replication_slots
    <set>
      <if test="row.slotName != null">
        slot_name = #{row.slotName,jdbcType=VARCHAR},
      </if>
      <if test="row.plugin != null">
        plugin = #{row.plugin,jdbcType=VARCHAR},
      </if>
      <if test="row.slotType != null">
        slot_type = #{row.slotType,jdbcType=VARCHAR},
      </if>
      <if test="row.datoid != null">
        datoid = #{row.datoid,jdbcType=BIGINT},
      </if>
      <if test="row.database != null">
        database = #{row.database,jdbcType=VARCHAR},
      </if>
      <if test="row.temporary != null">
        temporary = #{row.temporary,jdbcType=BIT},
      </if>
      <if test="row.active != null">
        active = #{row.active,jdbcType=BIT},
      </if>
      <if test="row.activePid != null">
        active_pid = #{row.activePid,jdbcType=INTEGER},
      </if>
      <if test="row.xmin != null">
        xmin = #{row.xmin,jdbcType=OTHER},
      </if>
      <if test="row.catalogXmin != null">
        catalog_xmin = #{row.catalogXmin,jdbcType=OTHER},
      </if>
      <if test="row.restartLsn != null">
        restart_lsn = #{row.restartLsn,jdbcType=OTHER},
      </if>
      <if test="row.confirmedFlushLsn != null">
        confirmed_flush_lsn = #{row.confirmedFlushLsn,jdbcType=OTHER},
      </if>
      <if test="row.walStatus != null">
        wal_status = #{row.walStatus,jdbcType=VARCHAR},
      </if>
      <if test="row.safeWalSize != null">
        safe_wal_size = #{row.safeWalSize,jdbcType=BIGINT},
      </if>
      <if test="row.twoPhase != null">
        two_phase = #{row.twoPhase,jdbcType=BIT},
      </if>
      <if test="row.twoPhaseAt != null">
        two_phase_at = #{row.twoPhaseAt,jdbcType=OTHER},
      </if>
      <if test="row.inactiveSince != null">
        inactive_since = #{row.inactiveSince,jdbcType=TIMESTAMP},
      </if>
      <if test="row.conflicting != null">
        conflicting = #{row.conflicting,jdbcType=BIT},
      </if>
      <if test="row.invalidationReason != null">
        invalidation_reason = #{row.invalidationReason,jdbcType=VARCHAR},
      </if>
      <if test="row.failover != null">
        failover = #{row.failover,jdbcType=BIT},
      </if>
      <if test="row.synced != null">
        synced = #{row.synced,jdbcType=BIT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_replication_slots
    set slot_name = #{row.slotName,jdbcType=VARCHAR},
      plugin = #{row.plugin,jdbcType=VARCHAR},
      slot_type = #{row.slotType,jdbcType=VARCHAR},
      datoid = #{row.datoid,jdbcType=BIGINT},
      database = #{row.database,jdbcType=VARCHAR},
      temporary = #{row.temporary,jdbcType=BIT},
      active = #{row.active,jdbcType=BIT},
      active_pid = #{row.activePid,jdbcType=INTEGER},
      xmin = #{row.xmin,jdbcType=OTHER},
      catalog_xmin = #{row.catalogXmin,jdbcType=OTHER},
      restart_lsn = #{row.restartLsn,jdbcType=OTHER},
      confirmed_flush_lsn = #{row.confirmedFlushLsn,jdbcType=OTHER},
      wal_status = #{row.walStatus,jdbcType=VARCHAR},
      safe_wal_size = #{row.safeWalSize,jdbcType=BIGINT},
      two_phase = #{row.twoPhase,jdbcType=BIT},
      two_phase_at = #{row.twoPhaseAt,jdbcType=OTHER},
      inactive_since = #{row.inactiveSince,jdbcType=TIMESTAMP},
      conflicting = #{row.conflicting,jdbcType=BIT},
      invalidation_reason = #{row.invalidationReason,jdbcType=VARCHAR},
      failover = #{row.failover,jdbcType=BIT},
      synced = #{row.synced,jdbcType=BIT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>