<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgReplicationOriginStatusMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgReplicationOriginStatus">
    <result column="local_id" jdbcType="BIGINT" property="localId" />
    <result column="external_id" jdbcType="VARCHAR" property="externalId" />
    <result column="remote_lsn" jdbcType="OTHER" property="remoteLsn" />
    <result column="local_lsn" jdbcType="OTHER" property="localLsn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    local_id, external_id, remote_lsn, local_lsn
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgReplicationOriginStatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_replication_origin_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgReplicationOriginStatusExample">
    delete from pg_replication_origin_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgReplicationOriginStatus">
    insert into pg_replication_origin_status (local_id, external_id, remote_lsn, 
      local_lsn)
    values (#{localId,jdbcType=BIGINT}, #{externalId,jdbcType=VARCHAR}, #{remoteLsn,jdbcType=OTHER}, 
      #{localLsn,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgReplicationOriginStatus">
    insert into pg_replication_origin_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="localId != null">
        local_id,
      </if>
      <if test="externalId != null">
        external_id,
      </if>
      <if test="remoteLsn != null">
        remote_lsn,
      </if>
      <if test="localLsn != null">
        local_lsn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="localId != null">
        #{localId,jdbcType=BIGINT},
      </if>
      <if test="externalId != null">
        #{externalId,jdbcType=VARCHAR},
      </if>
      <if test="remoteLsn != null">
        #{remoteLsn,jdbcType=OTHER},
      </if>
      <if test="localLsn != null">
        #{localLsn,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgReplicationOriginStatusExample" resultType="java.lang.Long">
    select count(*) from pg_replication_origin_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_replication_origin_status
    <set>
      <if test="row.localId != null">
        local_id = #{row.localId,jdbcType=BIGINT},
      </if>
      <if test="row.externalId != null">
        external_id = #{row.externalId,jdbcType=VARCHAR},
      </if>
      <if test="row.remoteLsn != null">
        remote_lsn = #{row.remoteLsn,jdbcType=OTHER},
      </if>
      <if test="row.localLsn != null">
        local_lsn = #{row.localLsn,jdbcType=OTHER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_replication_origin_status
    set local_id = #{row.localId,jdbcType=BIGINT},
      external_id = #{row.externalId,jdbcType=VARCHAR},
      remote_lsn = #{row.remoteLsn,jdbcType=OTHER},
      local_lsn = #{row.localLsn,jdbcType=OTHER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>