<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgStatDatabaseMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgStatDatabase">
    <result column="datid" jdbcType="BIGINT" property="datid" />
    <result column="datname" jdbcType="VARCHAR" property="datname" />
    <result column="numbackends" jdbcType="INTEGER" property="numbackends" />
    <result column="xact_commit" jdbcType="BIGINT" property="xactCommit" />
    <result column="xact_rollback" jdbcType="BIGINT" property="xactRollback" />
    <result column="blks_read" jdbcType="BIGINT" property="blksRead" />
    <result column="blks_hit" jdbcType="BIGINT" property="blksHit" />
    <result column="tup_returned" jdbcType="BIGINT" property="tupReturned" />
    <result column="tup_fetched" jdbcType="BIGINT" property="tupFetched" />
    <result column="tup_inserted" jdbcType="BIGINT" property="tupInserted" />
    <result column="tup_updated" jdbcType="BIGINT" property="tupUpdated" />
    <result column="tup_deleted" jdbcType="BIGINT" property="tupDeleted" />
    <result column="conflicts" jdbcType="BIGINT" property="conflicts" />
    <result column="temp_files" jdbcType="BIGINT" property="tempFiles" />
    <result column="temp_bytes" jdbcType="BIGINT" property="tempBytes" />
    <result column="deadlocks" jdbcType="BIGINT" property="deadlocks" />
    <result column="checksum_failures" jdbcType="BIGINT" property="checksumFailures" />
    <result column="checksum_last_failure" jdbcType="TIMESTAMP" property="checksumLastFailure" />
    <result column="blk_read_time" jdbcType="DOUBLE" property="blkReadTime" />
    <result column="blk_write_time" jdbcType="DOUBLE" property="blkWriteTime" />
    <result column="session_time" jdbcType="DOUBLE" property="sessionTime" />
    <result column="active_time" jdbcType="DOUBLE" property="activeTime" />
    <result column="idle_in_transaction_time" jdbcType="DOUBLE" property="idleInTransactionTime" />
    <result column="sessions" jdbcType="BIGINT" property="sessions" />
    <result column="sessions_abandoned" jdbcType="BIGINT" property="sessionsAbandoned" />
    <result column="sessions_fatal" jdbcType="BIGINT" property="sessionsFatal" />
    <result column="sessions_killed" jdbcType="BIGINT" property="sessionsKilled" />
    <result column="parallel_workers_to_launch" jdbcType="BIGINT" property="parallelWorkersToLaunch" />
    <result column="parallel_workers_launched" jdbcType="BIGINT" property="parallelWorkersLaunched" />
    <result column="stats_reset" jdbcType="TIMESTAMP" property="statsReset" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    datid, datname, numbackends, xact_commit, xact_rollback, blks_read, blks_hit, tup_returned, 
    tup_fetched, tup_inserted, tup_updated, tup_deleted, conflicts, temp_files, temp_bytes, 
    deadlocks, checksum_failures, checksum_last_failure, blk_read_time, blk_write_time, 
    session_time, active_time, idle_in_transaction_time, sessions, sessions_abandoned, 
    sessions_fatal, sessions_killed, parallel_workers_to_launch, parallel_workers_launched, 
    stats_reset
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgStatDatabaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_stat_database
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgStatDatabaseExample">
    delete from pg_stat_database
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgStatDatabase">
    insert into pg_stat_database (datid, datname, numbackends, 
      xact_commit, xact_rollback, blks_read, 
      blks_hit, tup_returned, tup_fetched, 
      tup_inserted, tup_updated, tup_deleted, 
      conflicts, temp_files, temp_bytes, 
      deadlocks, checksum_failures, checksum_last_failure, 
      blk_read_time, blk_write_time, session_time, 
      active_time, idle_in_transaction_time, sessions, 
      sessions_abandoned, sessions_fatal, sessions_killed, 
      parallel_workers_to_launch, parallel_workers_launched, 
      stats_reset)
    values (#{datid,jdbcType=BIGINT}, #{datname,jdbcType=VARCHAR}, #{numbackends,jdbcType=INTEGER}, 
      #{xactCommit,jdbcType=BIGINT}, #{xactRollback,jdbcType=BIGINT}, #{blksRead,jdbcType=BIGINT}, 
      #{blksHit,jdbcType=BIGINT}, #{tupReturned,jdbcType=BIGINT}, #{tupFetched,jdbcType=BIGINT}, 
      #{tupInserted,jdbcType=BIGINT}, #{tupUpdated,jdbcType=BIGINT}, #{tupDeleted,jdbcType=BIGINT}, 
      #{conflicts,jdbcType=BIGINT}, #{tempFiles,jdbcType=BIGINT}, #{tempBytes,jdbcType=BIGINT}, 
      #{deadlocks,jdbcType=BIGINT}, #{checksumFailures,jdbcType=BIGINT}, #{checksumLastFailure,jdbcType=TIMESTAMP}, 
      #{blkReadTime,jdbcType=DOUBLE}, #{blkWriteTime,jdbcType=DOUBLE}, #{sessionTime,jdbcType=DOUBLE}, 
      #{activeTime,jdbcType=DOUBLE}, #{idleInTransactionTime,jdbcType=DOUBLE}, #{sessions,jdbcType=BIGINT}, 
      #{sessionsAbandoned,jdbcType=BIGINT}, #{sessionsFatal,jdbcType=BIGINT}, #{sessionsKilled,jdbcType=BIGINT}, 
      #{parallelWorkersToLaunch,jdbcType=BIGINT}, #{parallelWorkersLaunched,jdbcType=BIGINT}, 
      #{statsReset,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgStatDatabase">
    insert into pg_stat_database
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="datid != null">
        datid,
      </if>
      <if test="datname != null">
        datname,
      </if>
      <if test="numbackends != null">
        numbackends,
      </if>
      <if test="xactCommit != null">
        xact_commit,
      </if>
      <if test="xactRollback != null">
        xact_rollback,
      </if>
      <if test="blksRead != null">
        blks_read,
      </if>
      <if test="blksHit != null">
        blks_hit,
      </if>
      <if test="tupReturned != null">
        tup_returned,
      </if>
      <if test="tupFetched != null">
        tup_fetched,
      </if>
      <if test="tupInserted != null">
        tup_inserted,
      </if>
      <if test="tupUpdated != null">
        tup_updated,
      </if>
      <if test="tupDeleted != null">
        tup_deleted,
      </if>
      <if test="conflicts != null">
        conflicts,
      </if>
      <if test="tempFiles != null">
        temp_files,
      </if>
      <if test="tempBytes != null">
        temp_bytes,
      </if>
      <if test="deadlocks != null">
        deadlocks,
      </if>
      <if test="checksumFailures != null">
        checksum_failures,
      </if>
      <if test="checksumLastFailure != null">
        checksum_last_failure,
      </if>
      <if test="blkReadTime != null">
        blk_read_time,
      </if>
      <if test="blkWriteTime != null">
        blk_write_time,
      </if>
      <if test="sessionTime != null">
        session_time,
      </if>
      <if test="activeTime != null">
        active_time,
      </if>
      <if test="idleInTransactionTime != null">
        idle_in_transaction_time,
      </if>
      <if test="sessions != null">
        sessions,
      </if>
      <if test="sessionsAbandoned != null">
        sessions_abandoned,
      </if>
      <if test="sessionsFatal != null">
        sessions_fatal,
      </if>
      <if test="sessionsKilled != null">
        sessions_killed,
      </if>
      <if test="parallelWorkersToLaunch != null">
        parallel_workers_to_launch,
      </if>
      <if test="parallelWorkersLaunched != null">
        parallel_workers_launched,
      </if>
      <if test="statsReset != null">
        stats_reset,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="datid != null">
        #{datid,jdbcType=BIGINT},
      </if>
      <if test="datname != null">
        #{datname,jdbcType=VARCHAR},
      </if>
      <if test="numbackends != null">
        #{numbackends,jdbcType=INTEGER},
      </if>
      <if test="xactCommit != null">
        #{xactCommit,jdbcType=BIGINT},
      </if>
      <if test="xactRollback != null">
        #{xactRollback,jdbcType=BIGINT},
      </if>
      <if test="blksRead != null">
        #{blksRead,jdbcType=BIGINT},
      </if>
      <if test="blksHit != null">
        #{blksHit,jdbcType=BIGINT},
      </if>
      <if test="tupReturned != null">
        #{tupReturned,jdbcType=BIGINT},
      </if>
      <if test="tupFetched != null">
        #{tupFetched,jdbcType=BIGINT},
      </if>
      <if test="tupInserted != null">
        #{tupInserted,jdbcType=BIGINT},
      </if>
      <if test="tupUpdated != null">
        #{tupUpdated,jdbcType=BIGINT},
      </if>
      <if test="tupDeleted != null">
        #{tupDeleted,jdbcType=BIGINT},
      </if>
      <if test="conflicts != null">
        #{conflicts,jdbcType=BIGINT},
      </if>
      <if test="tempFiles != null">
        #{tempFiles,jdbcType=BIGINT},
      </if>
      <if test="tempBytes != null">
        #{tempBytes,jdbcType=BIGINT},
      </if>
      <if test="deadlocks != null">
        #{deadlocks,jdbcType=BIGINT},
      </if>
      <if test="checksumFailures != null">
        #{checksumFailures,jdbcType=BIGINT},
      </if>
      <if test="checksumLastFailure != null">
        #{checksumLastFailure,jdbcType=TIMESTAMP},
      </if>
      <if test="blkReadTime != null">
        #{blkReadTime,jdbcType=DOUBLE},
      </if>
      <if test="blkWriteTime != null">
        #{blkWriteTime,jdbcType=DOUBLE},
      </if>
      <if test="sessionTime != null">
        #{sessionTime,jdbcType=DOUBLE},
      </if>
      <if test="activeTime != null">
        #{activeTime,jdbcType=DOUBLE},
      </if>
      <if test="idleInTransactionTime != null">
        #{idleInTransactionTime,jdbcType=DOUBLE},
      </if>
      <if test="sessions != null">
        #{sessions,jdbcType=BIGINT},
      </if>
      <if test="sessionsAbandoned != null">
        #{sessionsAbandoned,jdbcType=BIGINT},
      </if>
      <if test="sessionsFatal != null">
        #{sessionsFatal,jdbcType=BIGINT},
      </if>
      <if test="sessionsKilled != null">
        #{sessionsKilled,jdbcType=BIGINT},
      </if>
      <if test="parallelWorkersToLaunch != null">
        #{parallelWorkersToLaunch,jdbcType=BIGINT},
      </if>
      <if test="parallelWorkersLaunched != null">
        #{parallelWorkersLaunched,jdbcType=BIGINT},
      </if>
      <if test="statsReset != null">
        #{statsReset,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgStatDatabaseExample" resultType="java.lang.Long">
    select count(*) from pg_stat_database
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_stat_database
    <set>
      <if test="row.datid != null">
        datid = #{row.datid,jdbcType=BIGINT},
      </if>
      <if test="row.datname != null">
        datname = #{row.datname,jdbcType=VARCHAR},
      </if>
      <if test="row.numbackends != null">
        numbackends = #{row.numbackends,jdbcType=INTEGER},
      </if>
      <if test="row.xactCommit != null">
        xact_commit = #{row.xactCommit,jdbcType=BIGINT},
      </if>
      <if test="row.xactRollback != null">
        xact_rollback = #{row.xactRollback,jdbcType=BIGINT},
      </if>
      <if test="row.blksRead != null">
        blks_read = #{row.blksRead,jdbcType=BIGINT},
      </if>
      <if test="row.blksHit != null">
        blks_hit = #{row.blksHit,jdbcType=BIGINT},
      </if>
      <if test="row.tupReturned != null">
        tup_returned = #{row.tupReturned,jdbcType=BIGINT},
      </if>
      <if test="row.tupFetched != null">
        tup_fetched = #{row.tupFetched,jdbcType=BIGINT},
      </if>
      <if test="row.tupInserted != null">
        tup_inserted = #{row.tupInserted,jdbcType=BIGINT},
      </if>
      <if test="row.tupUpdated != null">
        tup_updated = #{row.tupUpdated,jdbcType=BIGINT},
      </if>
      <if test="row.tupDeleted != null">
        tup_deleted = #{row.tupDeleted,jdbcType=BIGINT},
      </if>
      <if test="row.conflicts != null">
        conflicts = #{row.conflicts,jdbcType=BIGINT},
      </if>
      <if test="row.tempFiles != null">
        temp_files = #{row.tempFiles,jdbcType=BIGINT},
      </if>
      <if test="row.tempBytes != null">
        temp_bytes = #{row.tempBytes,jdbcType=BIGINT},
      </if>
      <if test="row.deadlocks != null">
        deadlocks = #{row.deadlocks,jdbcType=BIGINT},
      </if>
      <if test="row.checksumFailures != null">
        checksum_failures = #{row.checksumFailures,jdbcType=BIGINT},
      </if>
      <if test="row.checksumLastFailure != null">
        checksum_last_failure = #{row.checksumLastFailure,jdbcType=TIMESTAMP},
      </if>
      <if test="row.blkReadTime != null">
        blk_read_time = #{row.blkReadTime,jdbcType=DOUBLE},
      </if>
      <if test="row.blkWriteTime != null">
        blk_write_time = #{row.blkWriteTime,jdbcType=DOUBLE},
      </if>
      <if test="row.sessionTime != null">
        session_time = #{row.sessionTime,jdbcType=DOUBLE},
      </if>
      <if test="row.activeTime != null">
        active_time = #{row.activeTime,jdbcType=DOUBLE},
      </if>
      <if test="row.idleInTransactionTime != null">
        idle_in_transaction_time = #{row.idleInTransactionTime,jdbcType=DOUBLE},
      </if>
      <if test="row.sessions != null">
        sessions = #{row.sessions,jdbcType=BIGINT},
      </if>
      <if test="row.sessionsAbandoned != null">
        sessions_abandoned = #{row.sessionsAbandoned,jdbcType=BIGINT},
      </if>
      <if test="row.sessionsFatal != null">
        sessions_fatal = #{row.sessionsFatal,jdbcType=BIGINT},
      </if>
      <if test="row.sessionsKilled != null">
        sessions_killed = #{row.sessionsKilled,jdbcType=BIGINT},
      </if>
      <if test="row.parallelWorkersToLaunch != null">
        parallel_workers_to_launch = #{row.parallelWorkersToLaunch,jdbcType=BIGINT},
      </if>
      <if test="row.parallelWorkersLaunched != null">
        parallel_workers_launched = #{row.parallelWorkersLaunched,jdbcType=BIGINT},
      </if>
      <if test="row.statsReset != null">
        stats_reset = #{row.statsReset,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_stat_database
    set datid = #{row.datid,jdbcType=BIGINT},
      datname = #{row.datname,jdbcType=VARCHAR},
      numbackends = #{row.numbackends,jdbcType=INTEGER},
      xact_commit = #{row.xactCommit,jdbcType=BIGINT},
      xact_rollback = #{row.xactRollback,jdbcType=BIGINT},
      blks_read = #{row.blksRead,jdbcType=BIGINT},
      blks_hit = #{row.blksHit,jdbcType=BIGINT},
      tup_returned = #{row.tupReturned,jdbcType=BIGINT},
      tup_fetched = #{row.tupFetched,jdbcType=BIGINT},
      tup_inserted = #{row.tupInserted,jdbcType=BIGINT},
      tup_updated = #{row.tupUpdated,jdbcType=BIGINT},
      tup_deleted = #{row.tupDeleted,jdbcType=BIGINT},
      conflicts = #{row.conflicts,jdbcType=BIGINT},
      temp_files = #{row.tempFiles,jdbcType=BIGINT},
      temp_bytes = #{row.tempBytes,jdbcType=BIGINT},
      deadlocks = #{row.deadlocks,jdbcType=BIGINT},
      checksum_failures = #{row.checksumFailures,jdbcType=BIGINT},
      checksum_last_failure = #{row.checksumLastFailure,jdbcType=TIMESTAMP},
      blk_read_time = #{row.blkReadTime,jdbcType=DOUBLE},
      blk_write_time = #{row.blkWriteTime,jdbcType=DOUBLE},
      session_time = #{row.sessionTime,jdbcType=DOUBLE},
      active_time = #{row.activeTime,jdbcType=DOUBLE},
      idle_in_transaction_time = #{row.idleInTransactionTime,jdbcType=DOUBLE},
      sessions = #{row.sessions,jdbcType=BIGINT},
      sessions_abandoned = #{row.sessionsAbandoned,jdbcType=BIGINT},
      sessions_fatal = #{row.sessionsFatal,jdbcType=BIGINT},
      sessions_killed = #{row.sessionsKilled,jdbcType=BIGINT},
      parallel_workers_to_launch = #{row.parallelWorkersToLaunch,jdbcType=BIGINT},
      parallel_workers_launched = #{row.parallelWorkersLaunched,jdbcType=BIGINT},
      stats_reset = #{row.statsReset,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>