<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgSubscriptionRelMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgSubscriptionRel">
    <id column="srrelid" jdbcType="BIGINT" property="srrelid" />
    <id column="srsubid" jdbcType="BIGINT" property="srsubid" />
    <result column="srsubstate" jdbcType="CHAR" property="srsubstate" />
    <result column="srsublsn" jdbcType="OTHER" property="srsublsn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    srrelid, srsubid, srsubstate, srsublsn
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgSubscriptionRelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_subscription_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_subscription_rel
    where srrelid = #{srrelid,jdbcType=BIGINT}
      and srsubid = #{srsubid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from pg_subscription_rel
    where srrelid = #{srrelid,jdbcType=BIGINT}
      and srsubid = #{srsubid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgSubscriptionRelExample">
    delete from pg_subscription_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgSubscriptionRel">
    insert into pg_subscription_rel (srrelid, srsubid, srsubstate, 
      srsublsn)
    values (#{srrelid,jdbcType=BIGINT}, #{srsubid,jdbcType=BIGINT}, #{srsubstate,jdbcType=CHAR}, 
      #{srsublsn,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgSubscriptionRel">
    insert into pg_subscription_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="srrelid != null">
        srrelid,
      </if>
      <if test="srsubid != null">
        srsubid,
      </if>
      <if test="srsubstate != null">
        srsubstate,
      </if>
      <if test="srsublsn != null">
        srsublsn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="srrelid != null">
        #{srrelid,jdbcType=BIGINT},
      </if>
      <if test="srsubid != null">
        #{srsubid,jdbcType=BIGINT},
      </if>
      <if test="srsubstate != null">
        #{srsubstate,jdbcType=CHAR},
      </if>
      <if test="srsublsn != null">
        #{srsublsn,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgSubscriptionRelExample" resultType="java.lang.Long">
    select count(*) from pg_subscription_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_subscription_rel
    <set>
      <if test="row.srrelid != null">
        srrelid = #{row.srrelid,jdbcType=BIGINT},
      </if>
      <if test="row.srsubid != null">
        srsubid = #{row.srsubid,jdbcType=BIGINT},
      </if>
      <if test="row.srsubstate != null">
        srsubstate = #{row.srsubstate,jdbcType=CHAR},
      </if>
      <if test="row.srsublsn != null">
        srsublsn = #{row.srsublsn,jdbcType=OTHER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_subscription_rel
    set srrelid = #{row.srrelid,jdbcType=BIGINT},
      srsubid = #{row.srsubid,jdbcType=BIGINT},
      srsubstate = #{row.srsubstate,jdbcType=CHAR},
      srsublsn = #{row.srsublsn,jdbcType=OTHER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.readiombg.model.PgSubscriptionRel">
    update pg_subscription_rel
    <set>
      <if test="srsubstate != null">
        srsubstate = #{srsubstate,jdbcType=CHAR},
      </if>
      <if test="srsublsn != null">
        srsublsn = #{srsublsn,jdbcType=OTHER},
      </if>
    </set>
    where srrelid = #{srrelid,jdbcType=BIGINT}
      and srsubid = #{srsubid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.readiombg.model.PgSubscriptionRel">
    update pg_subscription_rel
    set srsubstate = #{srsubstate,jdbcType=CHAR},
      srsublsn = #{srsublsn,jdbcType=OTHER}
    where srrelid = #{srrelid,jdbcType=BIGINT}
      and srsubid = #{srsubid,jdbcType=BIGINT}
  </update>
</mapper>