<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgTsConfigMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgTsConfig">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="cfgname" jdbcType="VARCHAR" property="cfgname" />
    <result column="cfgnamespace" jdbcType="BIGINT" property="cfgnamespace" />
    <result column="cfgowner" jdbcType="BIGINT" property="cfgowner" />
    <result column="cfgparser" jdbcType="BIGINT" property="cfgparser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, cfgname, cfgnamespace, cfgowner, cfgparser
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgTsConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_ts_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_ts_config
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_ts_config
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgTsConfigExample">
    delete from pg_ts_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgTsConfig">
    insert into pg_ts_config (oid, cfgname, cfgnamespace, 
      cfgowner, cfgparser)
    values (#{oid,jdbcType=BIGINT}, #{cfgname,jdbcType=VARCHAR}, #{cfgnamespace,jdbcType=BIGINT}, 
      #{cfgowner,jdbcType=BIGINT}, #{cfgparser,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgTsConfig">
    insert into pg_ts_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="cfgname != null">
        cfgname,
      </if>
      <if test="cfgnamespace != null">
        cfgnamespace,
      </if>
      <if test="cfgowner != null">
        cfgowner,
      </if>
      <if test="cfgparser != null">
        cfgparser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="cfgname != null">
        #{cfgname,jdbcType=VARCHAR},
      </if>
      <if test="cfgnamespace != null">
        #{cfgnamespace,jdbcType=BIGINT},
      </if>
      <if test="cfgowner != null">
        #{cfgowner,jdbcType=BIGINT},
      </if>
      <if test="cfgparser != null">
        #{cfgparser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgTsConfigExample" resultType="java.lang.Long">
    select count(*) from pg_ts_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_ts_config
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.cfgname != null">
        cfgname = #{row.cfgname,jdbcType=VARCHAR},
      </if>
      <if test="row.cfgnamespace != null">
        cfgnamespace = #{row.cfgnamespace,jdbcType=BIGINT},
      </if>
      <if test="row.cfgowner != null">
        cfgowner = #{row.cfgowner,jdbcType=BIGINT},
      </if>
      <if test="row.cfgparser != null">
        cfgparser = #{row.cfgparser,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_ts_config
    set oid = #{row.oid,jdbcType=BIGINT},
      cfgname = #{row.cfgname,jdbcType=VARCHAR},
      cfgnamespace = #{row.cfgnamespace,jdbcType=BIGINT},
      cfgowner = #{row.cfgowner,jdbcType=BIGINT},
      cfgparser = #{row.cfgparser,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.readiombg.model.PgTsConfig">
    update pg_ts_config
    <set>
      <if test="cfgname != null">
        cfgname = #{cfgname,jdbcType=VARCHAR},
      </if>
      <if test="cfgnamespace != null">
        cfgnamespace = #{cfgnamespace,jdbcType=BIGINT},
      </if>
      <if test="cfgowner != null">
        cfgowner = #{cfgowner,jdbcType=BIGINT},
      </if>
      <if test="cfgparser != null">
        cfgparser = #{cfgparser,jdbcType=BIGINT},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.readiombg.model.PgTsConfig">
    update pg_ts_config
    set cfgname = #{cfgname,jdbcType=VARCHAR},
      cfgnamespace = #{cfgnamespace,jdbcType=BIGINT},
      cfgowner = #{cfgowner,jdbcType=BIGINT},
      cfgparser = #{cfgparser,jdbcType=BIGINT}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>