<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.PgUserMappingMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.PgUserMapping">
    <id column="oid" jdbcType="BIGINT" property="oid" />
    <result column="umuser" jdbcType="BIGINT" property="umuser" />
    <result column="umserver" jdbcType="BIGINT" property="umserver" />
    <result column="umoptions" jdbcType="ARRAY" property="umoptions" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, umuser, umserver, umoptions
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.PgUserMappingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pg_user_mapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pg_user_mapping
    where oid = #{oid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pg_user_mapping
    where oid = #{oid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.PgUserMappingExample">
    delete from pg_user_mapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.PgUserMapping">
    insert into pg_user_mapping (oid, umuser, umserver, 
      umoptions)
    values (#{oid,jdbcType=BIGINT}, #{umuser,jdbcType=BIGINT}, #{umserver,jdbcType=BIGINT}, 
      #{umoptions,jdbcType=ARRAY})
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.PgUserMapping">
    insert into pg_user_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="umuser != null">
        umuser,
      </if>
      <if test="umserver != null">
        umserver,
      </if>
      <if test="umoptions != null">
        umoptions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=BIGINT},
      </if>
      <if test="umuser != null">
        #{umuser,jdbcType=BIGINT},
      </if>
      <if test="umserver != null">
        #{umserver,jdbcType=BIGINT},
      </if>
      <if test="umoptions != null">
        #{umoptions,jdbcType=ARRAY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.PgUserMappingExample" resultType="java.lang.Long">
    select count(*) from pg_user_mapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pg_user_mapping
    <set>
      <if test="row.oid != null">
        oid = #{row.oid,jdbcType=BIGINT},
      </if>
      <if test="row.umuser != null">
        umuser = #{row.umuser,jdbcType=BIGINT},
      </if>
      <if test="row.umserver != null">
        umserver = #{row.umserver,jdbcType=BIGINT},
      </if>
      <if test="row.umoptions != null">
        umoptions = #{row.umoptions,jdbcType=ARRAY},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pg_user_mapping
    set oid = #{row.oid,jdbcType=BIGINT},
      umuser = #{row.umuser,jdbcType=BIGINT},
      umserver = #{row.umserver,jdbcType=BIGINT},
      umoptions = #{row.umoptions,jdbcType=ARRAY}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.readiombg.model.PgUserMapping">
    update pg_user_mapping
    <set>
      <if test="umuser != null">
        umuser = #{umuser,jdbcType=BIGINT},
      </if>
      <if test="umserver != null">
        umserver = #{umserver,jdbcType=BIGINT},
      </if>
      <if test="umoptions != null">
        umoptions = #{umoptions,jdbcType=ARRAY},
      </if>
    </set>
    where oid = #{oid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.readiombg.model.PgUserMapping">
    update pg_user_mapping
    set umuser = #{umuser,jdbcType=BIGINT},
      umserver = #{umserver,jdbcType=BIGINT},
      umoptions = #{umoptions,jdbcType=ARRAY}
    where oid = #{oid,jdbcType=BIGINT}
  </update>
</mapper>