<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.SmsFlashPromotionProductRelationMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.SmsFlashPromotionProductRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="flash_promotion_id" jdbcType="INTEGER" property="flashPromotionId" />
    <result column="flash_promotion_session_id" jdbcType="INTEGER" property="flashPromotionSessionId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="flash_promotion_price" jdbcType="NUMERIC" property="flashPromotionPrice" />
    <result column="flash_promotion_count" jdbcType="INTEGER" property="flashPromotionCount" />
    <result column="flash_promotion_limit" jdbcType="INTEGER" property="flashPromotionLimit" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, flash_promotion_id, flash_promotion_session_id, product_id, flash_promotion_price, 
    flash_promotion_count, flash_promotion_limit, create_time
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.SmsFlashPromotionProductRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sms_flash_promotion_product_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sms_flash_promotion_product_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sms_flash_promotion_product_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.SmsFlashPromotionProductRelationExample">
    delete from sms_flash_promotion_product_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pool.readio.readiombg.model.SmsFlashPromotionProductRelation" useGeneratedKeys="true">
    insert into sms_flash_promotion_product_relation (flash_promotion_id, flash_promotion_session_id, 
      product_id, flash_promotion_price, flash_promotion_count, 
      flash_promotion_limit, create_time)
    values (#{flashPromotionId,jdbcType=INTEGER}, #{flashPromotionSessionId,jdbcType=INTEGER}, 
      #{productId,jdbcType=INTEGER}, #{flashPromotionPrice,jdbcType=NUMERIC}, #{flashPromotionCount,jdbcType=INTEGER}, 
      #{flashPromotionLimit,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.pool.readio.readiombg.model.SmsFlashPromotionProductRelation" useGeneratedKeys="true">
    insert into sms_flash_promotion_product_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flashPromotionId != null">
        flash_promotion_id,
      </if>
      <if test="flashPromotionSessionId != null">
        flash_promotion_session_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="flashPromotionPrice != null">
        flash_promotion_price,
      </if>
      <if test="flashPromotionCount != null">
        flash_promotion_count,
      </if>
      <if test="flashPromotionLimit != null">
        flash_promotion_limit,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flashPromotionId != null">
        #{flashPromotionId,jdbcType=INTEGER},
      </if>
      <if test="flashPromotionSessionId != null">
        #{flashPromotionSessionId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="flashPromotionPrice != null">
        #{flashPromotionPrice,jdbcType=NUMERIC},
      </if>
      <if test="flashPromotionCount != null">
        #{flashPromotionCount,jdbcType=INTEGER},
      </if>
      <if test="flashPromotionLimit != null">
        #{flashPromotionLimit,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.SmsFlashPromotionProductRelationExample" resultType="java.lang.Long">
    select count(*) from sms_flash_promotion_product_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sms_flash_promotion_product_relation
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.flashPromotionId != null">
        flash_promotion_id = #{row.flashPromotionId,jdbcType=INTEGER},
      </if>
      <if test="row.flashPromotionSessionId != null">
        flash_promotion_session_id = #{row.flashPromotionSessionId,jdbcType=INTEGER},
      </if>
      <if test="row.productId != null">
        product_id = #{row.productId,jdbcType=INTEGER},
      </if>
      <if test="row.flashPromotionPrice != null">
        flash_promotion_price = #{row.flashPromotionPrice,jdbcType=NUMERIC},
      </if>
      <if test="row.flashPromotionCount != null">
        flash_promotion_count = #{row.flashPromotionCount,jdbcType=INTEGER},
      </if>
      <if test="row.flashPromotionLimit != null">
        flash_promotion_limit = #{row.flashPromotionLimit,jdbcType=INTEGER},
      </if>
      <if test="row.createTime != null">
        create_time = #{row.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sms_flash_promotion_product_relation
    set id = #{row.id,jdbcType=INTEGER},
      flash_promotion_id = #{row.flashPromotionId,jdbcType=INTEGER},
      flash_promotion_session_id = #{row.flashPromotionSessionId,jdbcType=INTEGER},
      product_id = #{row.productId,jdbcType=INTEGER},
      flash_promotion_price = #{row.flashPromotionPrice,jdbcType=NUMERIC},
      flash_promotion_count = #{row.flashPromotionCount,jdbcType=INTEGER},
      flash_promotion_limit = #{row.flashPromotionLimit,jdbcType=INTEGER},
      create_time = #{row.createTime,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pool.readio.readiombg.model.SmsFlashPromotionProductRelation">
    update sms_flash_promotion_product_relation
    <set>
      <if test="flashPromotionId != null">
        flash_promotion_id = #{flashPromotionId,jdbcType=INTEGER},
      </if>
      <if test="flashPromotionSessionId != null">
        flash_promotion_session_id = #{flashPromotionSessionId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="flashPromotionPrice != null">
        flash_promotion_price = #{flashPromotionPrice,jdbcType=NUMERIC},
      </if>
      <if test="flashPromotionCount != null">
        flash_promotion_count = #{flashPromotionCount,jdbcType=INTEGER},
      </if>
      <if test="flashPromotionLimit != null">
        flash_promotion_limit = #{flashPromotionLimit,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pool.readio.readiombg.model.SmsFlashPromotionProductRelation">
    update sms_flash_promotion_product_relation
    set flash_promotion_id = #{flashPromotionId,jdbcType=INTEGER},
      flash_promotion_session_id = #{flashPromotionSessionId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      flash_promotion_price = #{flashPromotionPrice,jdbcType=NUMERIC},
      flash_promotion_count = #{flashPromotionCount,jdbcType=INTEGER},
      flash_promotion_limit = #{flashPromotionLimit,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>