<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pool.readio.readiombg.mapper.ViewsMapper">
  <resultMap id="BaseResultMap" type="com.pool.readio.readiombg.model.Views">
    <result column="table_catalog" jdbcType="DISTINCT" property="tableCatalog" />
    <result column="table_schema" jdbcType="DISTINCT" property="tableSchema" />
    <result column="table_name" jdbcType="DISTINCT" property="tableName" />
    <result column="view_definition" jdbcType="DISTINCT" property="viewDefinition" />
    <result column="check_option" jdbcType="DISTINCT" property="checkOption" />
    <result column="is_updatable" jdbcType="DISTINCT" property="isUpdatable" />
    <result column="is_insertable_into" jdbcType="DISTINCT" property="isInsertableInto" />
    <result column="is_trigger_updatable" jdbcType="DISTINCT" property="isTriggerUpdatable" />
    <result column="is_trigger_deletable" jdbcType="DISTINCT" property="isTriggerDeletable" />
    <result column="is_trigger_insertable_into" jdbcType="DISTINCT" property="isTriggerInsertableInto" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    table_catalog, table_schema, table_name, view_definition, check_option, is_updatable, 
    is_insertable_into, is_trigger_updatable, is_trigger_deletable, is_trigger_insertable_into
  </sql>
  <select id="selectByExample" parameterType="com.pool.readio.readiombg.model.ViewsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from views
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pool.readio.readiombg.model.ViewsExample">
    delete from views
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pool.readio.readiombg.model.Views">
    insert into views (table_catalog, table_schema, table_name, 
      view_definition, check_option, is_updatable, 
      is_insertable_into, is_trigger_updatable, 
      is_trigger_deletable, is_trigger_insertable_into
      )
    values (#{tableCatalog,jdbcType=DISTINCT}, #{tableSchema,jdbcType=DISTINCT}, #{tableName,jdbcType=DISTINCT}, 
      #{viewDefinition,jdbcType=DISTINCT}, #{checkOption,jdbcType=DISTINCT}, #{isUpdatable,jdbcType=DISTINCT}, 
      #{isInsertableInto,jdbcType=DISTINCT}, #{isTriggerUpdatable,jdbcType=DISTINCT}, 
      #{isTriggerDeletable,jdbcType=DISTINCT}, #{isTriggerInsertableInto,jdbcType=DISTINCT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pool.readio.readiombg.model.Views">
    insert into views
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableCatalog != null">
        table_catalog,
      </if>
      <if test="tableSchema != null">
        table_schema,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="viewDefinition != null">
        view_definition,
      </if>
      <if test="checkOption != null">
        check_option,
      </if>
      <if test="isUpdatable != null">
        is_updatable,
      </if>
      <if test="isInsertableInto != null">
        is_insertable_into,
      </if>
      <if test="isTriggerUpdatable != null">
        is_trigger_updatable,
      </if>
      <if test="isTriggerDeletable != null">
        is_trigger_deletable,
      </if>
      <if test="isTriggerInsertableInto != null">
        is_trigger_insertable_into,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableCatalog != null">
        #{tableCatalog,jdbcType=DISTINCT},
      </if>
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=DISTINCT},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=DISTINCT},
      </if>
      <if test="viewDefinition != null">
        #{viewDefinition,jdbcType=DISTINCT},
      </if>
      <if test="checkOption != null">
        #{checkOption,jdbcType=DISTINCT},
      </if>
      <if test="isUpdatable != null">
        #{isUpdatable,jdbcType=DISTINCT},
      </if>
      <if test="isInsertableInto != null">
        #{isInsertableInto,jdbcType=DISTINCT},
      </if>
      <if test="isTriggerUpdatable != null">
        #{isTriggerUpdatable,jdbcType=DISTINCT},
      </if>
      <if test="isTriggerDeletable != null">
        #{isTriggerDeletable,jdbcType=DISTINCT},
      </if>
      <if test="isTriggerInsertableInto != null">
        #{isTriggerInsertableInto,jdbcType=DISTINCT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pool.readio.readiombg.model.ViewsExample" resultType="java.lang.Long">
    select count(*) from views
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update views
    <set>
      <if test="row.tableCatalog != null">
        table_catalog = #{row.tableCatalog,jdbcType=DISTINCT},
      </if>
      <if test="row.tableSchema != null">
        table_schema = #{row.tableSchema,jdbcType=DISTINCT},
      </if>
      <if test="row.tableName != null">
        table_name = #{row.tableName,jdbcType=DISTINCT},
      </if>
      <if test="row.viewDefinition != null">
        view_definition = #{row.viewDefinition,jdbcType=DISTINCT},
      </if>
      <if test="row.checkOption != null">
        check_option = #{row.checkOption,jdbcType=DISTINCT},
      </if>
      <if test="row.isUpdatable != null">
        is_updatable = #{row.isUpdatable,jdbcType=DISTINCT},
      </if>
      <if test="row.isInsertableInto != null">
        is_insertable_into = #{row.isInsertableInto,jdbcType=DISTINCT},
      </if>
      <if test="row.isTriggerUpdatable != null">
        is_trigger_updatable = #{row.isTriggerUpdatable,jdbcType=DISTINCT},
      </if>
      <if test="row.isTriggerDeletable != null">
        is_trigger_deletable = #{row.isTriggerDeletable,jdbcType=DISTINCT},
      </if>
      <if test="row.isTriggerInsertableInto != null">
        is_trigger_insertable_into = #{row.isTriggerInsertableInto,jdbcType=DISTINCT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update views
    set table_catalog = #{row.tableCatalog,jdbcType=DISTINCT},
      table_schema = #{row.tableSchema,jdbcType=DISTINCT},
      table_name = #{row.tableName,jdbcType=DISTINCT},
      view_definition = #{row.viewDefinition,jdbcType=DISTINCT},
      check_option = #{row.checkOption,jdbcType=DISTINCT},
      is_updatable = #{row.isUpdatable,jdbcType=DISTINCT},
      is_insertable_into = #{row.isInsertableInto,jdbcType=DISTINCT},
      is_trigger_updatable = #{row.isTriggerUpdatable,jdbcType=DISTINCT},
      is_trigger_deletable = #{row.isTriggerDeletable,jdbcType=DISTINCT},
      is_trigger_insertable_into = #{row.isTriggerInsertableInto,jdbcType=DISTINCT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>